<!-- device frame carousel template -->
<template data-advanced-branding-target="carouselItemTemplate">
    <div class="bs-carousel-item ACTIVE-CLASS"><div class="bs-row bs-row-cols-6 apps-grid" style="grid:ROW-COL-GRID-CHANGE">DEVICE_FRAME_CONTENT</div></div>
</template>

<div data-advanced-branding-target="frameItem" class="bs-overflow-hidden bs-pb-4"></div>

<div data-advanced-branding-target="deviceFrame"></div>

<!-- device frame template -->
<template data-advanced-branding-target="<%= h @template_target %>">
    <div class="app bs-d-flex bs-align-items-center bs-justify-content-center" data-dock-attr="<%= @data_dock_cell%>" data-id="<%= @data_id %>" data-row-position-attr="<%= @data_row_position %>" data-col-position-attr="<%= @data_column_position%>" data-advanced-branding-target="gridCellItem" data-action="click->advanced-branding#onGridCellClick">
        <div class="bs-text-white bs-d-flex bs-flex-column bs-mt-5">
            <div data-id="<%= @data_id %>" data-advanced-branding-target="typeFolderIcon">
                <div data-id="<%= @data_id %>" data-advanced-branding-target="cellAppLogo"></div>
            </div>
            <div data-controller="tooltip" class="bs-text-center bs-app bs-rounded bs-mt-2 bs-d-none bs-d-grid bs-justify-content-center" data-id="<%= @data_id %>" style="color: #ffffff; background-color: rgba(0, 0, 0, 0.5);" data-advanced-branding-target="cellNameBlock">
                <p class="bs-fs-6 bs-mx-2 bs-my-1 bs-text-truncate" data-bs-toggle="bs-tooltip" data-bs-placement="bottom" data-advanced-branding-target="cellAppName" data-id="<%= @data_id %>"></p>
            </div>
        </div>
    </div>                            
</template>
<div data-advanced-branding-target="frame"></div>

<div class="bs-w-100" style="bottom: 0; position: absolute;">
    <div class="bs-row bs-d-none bs-d-flex bs-row-cols-6 apps-grid" data-advanced-branding-target="dock dockFrame" style="background-color: <%= @dock_bg_color %>; width: 100%; margin-left: 0px;"></div>
</div> 

<!-- select type folder popup -->
<template data-advanced-branding-target="folderPopupTemplate">
    <div class="folder-popup">
        <div class="bs-d-flex bs-justify-content-between bs-align-items-center bs-m-3">
            <p class="bs-fs-5 bs-m-2 bs-text-truncate" data-advanced-branding-target="popupFolderName"></p>
            <button type="button" class="bs-btn" data-id="ID" data-advanced-branding-target="folderPopupClose" data-action="advanced-branding#onCloseFolderPopup"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x bs-text-danger"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
        </div>
        <div class="bs-row apps-grid bs-d-flex">
            <div data-advanced-branding-target="folderGrid" class="bs-d-flex bs-flex-wrap"></div>                        
        </div>     
    </div>
</template>
<div data-advanced-branding-target="folderPopup"></div>

<!-- dropped app icon template -->
<template data-advanced-branding-target="droppedAppIconTemplate">
    <div data-id="<%= @data_id %>" style="background-image: url(APP-ICON); background-size: contain; background-repeat: no-repeat; background-position: center; height: 48px; width: 48px;"></div>
</template>

<!-- dropped file icon template -->
<template data-advanced-branding-target="droppedFileIconTemplate">
    <div data-id="<%= @data_id %>" class="file-icon-2x file-FILE-TYPE bs-w-100"></div>
</template>

<!-- dropped folder icon template -->
<template data-advanced-branding-target="droppedFolderIconTemplate">
    <div data-id="<%= @data_id %>" data-advanced-branding-target="folderIcon" class="file-icon-2x file-FILE-TYPE" style="background-image: url(FOLDER-ICON); background-size: cover; height: 17px; width: 17px; margin-top: 5px;"></div>
</template>

<!-- close button icon template -->
<template data-advanced-branding-target="closeButtonIconTemplate">
    <div class="bs-d-flex bs-justify-content-end close-button" >
        <button data-id="DROPPED-LAYOUT-ID" data-advanced-branding-target="showCloseBtn" data-action="click->advanced-branding#onRemoveConfigCellItem" type="button" class="bs-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x bs-text-danger"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
    </div>
</template>

<template data-advanced-branding-target="showSelectedCellIconTemplate">
    CLOSE-BUTTON-ICON
    <div data-select-type-attr="SELECT-TYPE" data-target-attr="TARGET-ATTRIBUTE" data-advanced-branding-target="TARGET" data-controller="tooltip" id="dragapp" data-id="" data-dragged-item-object='DRAGGED-ITEM-OBJECT' style="height: 70px; width: 70px; gap: 10px; margin: 10px;">
        <div class="bs-ms-3" style="background-image: url(ICON); background-size: contain; background-repeat: no-repeat; background-position: center; height: 48px; width: 48px;"></div>
        <p class="bs-text-center bs-fs-6 bs-m-2 bs-text-truncate" data-bs-toggle="bs-tooltip" data-bs-placement="bottom" data-bs-title="TITLE">TITLE</p>
    </div>
</template>

<template data-advanced-branding-target="showSelectedFileCellIconTemplate">
    CLOSE-BUTTON-ICON
    <div data-select-type-attr="SELECT-TYPE" data-target-attr="TARGET-ATTRIBUTE" data-advanced-branding-target="TARGET" data-controller="tooltip" id="dragapp" data-id="" data-dragged-item-object='DRAGGED-ITEM-OBJECT' style="height: 70px; width: 70px; gap: 10px; margin: 10px;">
        <div class="bs-ms-3 file-icon-2x file-FILE-TYPE" style="background-size: contain; background-repeat: no-repeat; background-position: center; height: 48px; width: 48px;"></div>
        <p class="bs-text-center bs-fs-6 bs-m-2 bs-text-truncate" data-bs-toggle="bs-tooltip" data-bs-placement="bottom" data-bs-title="TITLE">TITLE</p>
    </div>
</template>
