<%= turbo_frame_tag dom_id(app), class: "bs-col-xs-12 bs-col-sm-6 bs-col-md-4 bs-col-lg-3 bs-col-xl-3 bs-col-xxl-2", data: { search_target:"item", name: "All " + filter_target } do %>
    <div class="bs-card bs-border-0 bs-shadow-sm bs-rounded-3">
        <div class="bs-p-3">
            <div class="bs-position-absolute bs-end-0 bs-top-0">
                <% if app&.[](:partner_app) %>
                    <%= content_tag :div do %>
                        <div class="partner-or-beta-flag"></div>
                        <div class="bs-position-absolute bs-end-0 bs-top-0 partner-or-beta-text bs-text-white bs-pe-2 bs-pt-2">Partner <br> App</div>
                    <% end %>
                <% end %>
                <% if @app&.[](:beta_app) %>
                    <%= content_tag :div do %>
                        <div class="partner-or-beta-flag"></div>
                        <div class="bs-position-absolute bs-end-0 bs-top-0 partner-or-beta-text bs-text-white bs-pe-2 bs-pt-2">Beta <br> App</div>
                    <% end %>
                <% end %>
            </div>
            <div class="bs-d-flex bs-align-items-center bs-text-truncate bs-gap-3 bs-overflow-visible">
                <% if app&.class.to_s == "ItunesRecommendedApp" %>
                        <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_id: app&.user_itunes_app_id || app&.itunes_recommended_app_id, recommended_app: true,  recommended: (app&.user_itunes_app_id.nil?), release_note: app.release_note, supported_devices: app.apple_app.supported_devices.join(', ')  }, data: { turbo_frame: publish_button_frame_id }, class: "bs-position-relative bs-mt-3 bs-dropdown-item", disabled: !current_user.admin_parent.user_subscription.send(get_platform_feature_flag) do %>
                            <% base64_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" %>
                            <%= image_tag base64_placeholder, height: 60, width: 60, data: { controller: "lazy-load-images", lazy_load_images_target: "image", src: app_icon }, class: "bs-rounded-3 fade-in" %>
                            <%= image_tag icon_class_name, height: 28, width: 28, class: "bs-position-absolute app-os-icon bs-rounded-circle bs-shadow-lg" %>
                        <% end %>
                    <% else %>
                        <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_pf: app_os_name }, data: { turbo_frame: publish_button_frame_id }, class: "bs-position-relative bs-mt-3 bs-dropdown-item", disabled: !current_user.admin_parent.user_subscription.send(get_platform_feature_flag) do %>
                            <% base64_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" %>
                            <%= image_tag base64_placeholder, height: 60, width: 60, data: { controller: "lazy-load-images", lazy_load_images_target: "image", src: app_icon }, class: "bs-rounded-3 fade-in" %>
                            <%= image_tag icon_class_name, height: 28, width: 28, class: "bs-position-absolute app-os-icon bs-rounded-circle bs-shadow-lg" %>
                        <% end %>
                    <% end %>
                <%= content_tag :div, app_label, class: "bs-text-truncate bs-flex-grow-1 bs-mt-3 #{"bs-pe-5" if app&.[](:partner_app) || @app&.[](:beta_app)}", title: app_label %>
                <% if @app_type == "enterprise_app" && current_user.admin_parent.user_subscription.send(get_platform_feature_flag) %>
                    <div class="bs-align-self-start">
                        <%= sf "BsDropdown", title: "Options", id: "device-dropdown", width: "150px", classes: "bs-p-0 enterprise-app-dropdown" do |c| %>
                            <% c.with_title do %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#838383" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                            <% end %>
                            <% if app&.class.to_s == "ItunesRecommendedApp" %>
                                <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_id: app&.user_itunes_app_id, recommended_app: true }, data: { turbo_frame: publish_button_frame_id }, class: "automation_ent_app_details bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#6f6f6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    <%= t("common.details") %>
                                <% end %>
                            <% else %>
                                <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_pf: app_os_name  }, data: { turbo_frame: publish_button_frame_id }, class: "automation_ent_app_details bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#6f6f6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                    <%= t("common.details") %>
                                <% end %>
                            <% end %>
                            <% unless  @rbac  %>

                                <% if !(app.is_a?(Script)) && update_app?(app) %>
                                    <%= button_to update_app_url, method: :get, params: { show_update: true, id: app&.id, command_line: app&.latest_release&.has_attribute?(:command_line) ? app&.latest_release[:command_line] : ""}, target: update_turbo_tag, data: {turbo_frame: update_turbo_tag }, class: "automation_ent_app_update bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#6f6f6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                                        <%= t("common.update") %>
                                    <% end %>
                                <% end %>
                                <%= button_to confirmation_delete_enterprise_app_user_store_index_path, method: :get, params:{app_id: app.id, app_type: app_os_name, delete_type: "without_uninstall", is_script: app.is_a?(Script)}, target: "confirmation_delete_enterprise_app", data: {turbo_frame: "confirmation_delete_enterprise_app" }, class: "automation_ent_app_delete bs-text-danger bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                    <%= t("common.delete") %>
                                <% end %>
                                <% if (!["Linux", "macOS"].include?(app_os_name)) && !((app.is_a?(Script)) && update_app?(app)) && app["app_type"] != "msi" %>
                                    <%= button_to confirmation_delete_enterprise_app_user_store_index_path, method: :get, params:{app_id: app.id, app_type: app_os_name, delete_type: "with_uninstall", is_script: app.is_a?(Script)}, target: "confirmation_delete_enterprise_app", data: {turbo_frame: "confirmation_delete_enterprise_app" }, class: "automation_ent_app_delete bs-text-danger bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                        <%= t("enterpriseStore.delete_and_uninstall") %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="bs-card-body">
            <div class="bs-row bs-g-2 bs-fs-6">
                <%= content_tag :div, app.class.to_s == 'ItunesRecommendedApp' ? "Last Released" : "Uploaded", class: "bs-col-6" %>
                <%= content_tag :div, updated_at, class: "bs-col-6 bs-text-truncate", title: updated_at %>

                <%= content_tag :div, t("common.version"), class: "bs-col-6" %>
                <%= content_tag :div, version_name, class: "bs-col-6 bs-text-truncate", title: version_name %>

                <%= content_tag :div, t("common.size"), class: "bs-col-6" %>
                <%= content_tag :div, app_size, class: "bs-col-6 bs-text-truncate", title: app_size %>
            </div>
        </div>
        <% unless @rbac %>
            <div class="bs-card-footer bs-p-0">
                <% if current_user.admin_parent.user_subscription.send(get_platform_feature_flag) %>
                    <% if app&.class.to_s == "ItunesRecommendedApp" %>
                        <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_id: app&.user_itunes_app_id || app&.itunes_recommended_app_id, recommended_app: true,  recommended: (app&.user_itunes_app_id.nil?), release_note: app.release_note, supported_devices: app.apple_app.supported_devices.join(', ')  }, data: { turbo_frame: publish_button_frame_id }, class: "bs-btn bs-px-2 bs-text-primary bs-w-100 automation_store_app_details_button bs-rounded-0 bs-rounded-bottom" do %>
                            <%= t("common.publish") %>
                        <% end %>
                    <% else %>
                        <%= button_to publish_button_url, method: :get, params: { app_type: @app_type, app_pf: app_os_name }, data: { turbo_frame: publish_button_frame_id }, class: "bs-btn bs-px-2 bs-text-primary bs-w-100 automation_store_app_details_button bs-rounded-0 bs-rounded-bottom" do %>
                            <%= t("common.publish") %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%= sf "UpgradePlan", current_user: current_user, label_text: 'platform' do |c| %>
                        <% c.with_button do %>
                            <button
                                type="button"
                                class="bs-btn bs-px-2 bs-text-primary bs-w-100 automation_store_app_details_button bs-rounded-0 bs-rounded-bottom">
                                <span><%= t("common.publish") %></span>
                            </button>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
