<div data-controller="multi-select-autocomplete" data-action="multi-select-autocomplete:updateBlockOnSpeedLimit->blueprint#updateBlockOnSpeedLimitData" data-multi-select-autocomplete-hidden-class="bs-d-none">
    <div class="bs-col-6 bs-ui-disabled" data-blueprint-target="blockedSelectedApps">
        <div class="bs-d-flex bs-align-items-center bs-justify-content-between">
            <div class="bs-dropdown bs-w-100" data-multi-select-autocomplete-target="dropdown">
                <button class="bs-btn bs-btn-outline-secondary bs-dropdown-toggle bs-w-100 bs-d-flex bs-align-items-center bs-justify-content-between" type="button" id="auto-complete" data-bs-toggle="dropdown" aria-expanded="false">
                    <turbo-frame id= <%="selected_apps_#{name}"%>>
                        <div data-multi-select-autocomplete-target="selected" class="bs-text-truncate"><%= selected_options_names %></div>
                    </turbo-frame>
                </button>
                <ul class="bs-dropdown-menu bs-shadow bs-w-100" aria-labelledby="auto-complete">
                    <li><hr class="bs-dropdown-divider"></li>
                    <div class="bs-overflow-auto bs-scroll-sm" style="max-height: 280px;">
                        <% if sorted_selected_options.present? %>
                            <div data-multi-select-autocomplete-target="usersDrodpdown">
                            <% sorted_selected_options.each do |user| %>
                                <li class="bs-ms-2">
                                    <%= content_tag :label, class: 'bs-d-block bs-w-100 cursor-pointer', data: { action: 'click->multi-select-autocomplete#holdDropdown'} do %>
                                        <%= check_box_tag(name, user.id, selected_option_ids.include?(user.id), class: "bs-checkbox-input", data: {
                                                multi_select_autocomplete_target: "user",
                                                name: user.name,
                                                action: "multi-select-autocomplete#onUserChange",
                                            }) %>
                                        <%= "#{user.name}" %>
                                    <% end %>
                                </li>
                            <% end %>
                            </div>
                        <% end %>
                    <%= content_tag :div, t('common.no_result'), data: { multi_select_autocomplete_target: "empty" }, class: "bs-alert bs-alert-warning bs-text-center bs-m-3 #{ sorted_selected_options.blank? ? '' : 'bs-d-none' }" %>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
