<div class="bs-d-flex bs-align-items-center <%= @classes %>">
    <div>
        <% if custom_label? %>
            <%= custom_label %>
        <% else %>
            <%= @label %>
        <% end %>
    </div>

    <div class="bs-position-relative">
        <div data-controller="licence" class="<%= @passcode_classes %>">
            <div class="bs-d-flex bs-align-items-center bs-d-none" data-licence-target="showCode">
                <div class="bs-bg-secondary-subtle bs-rounded-pill bs-py-1 bs-px-3 bs-fs-6 bs-fw-semibold bs-mb-0 bs-fs-6 bs-fw-semibold bs-mb-0" data-licence-target="licenceCode">
                    <%= @passcode.present? ? @passcode : t('common.na') %>
                </div>
                <%= button_tag(type: 'button', class: "bs-icon-button", data: { action: "licence#showLicenceCode" }) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                <% end %>
            </div>
            <div class="bs-d-flex bs-align-items-center" data-licence-target="hideCode">
                <div class="bs-bg-secondary-subtle bs-rounded-pill bs-py-1 bs-px-3 bs-fs-6 bs-fw-semibold bs-mb-0 bs-fs-6 bs-fw-semibold bs-mb-0"><%= @passcode_symbol %></div>
                <%= button_tag(type: 'button', class: "bs-icon-button", data: { action: "licence#hideLicenceCode" }) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                        <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                    </svg>
                <% end %>
            </div>
        </div>
    </div>
</div>