<div class="row">
  <div class="col-md-8">
    <%if @header.present? %>
      <h2 class="m-b-10 <%= @header_classes %>">
        <%if label_image?%>
          <%= label_image%>
        <%end%>
        <%= @header %>
        <%if image?%>
          <%= image%>
        <%end%>
        <%if permission?%>
          <%= permission%>
        <%end%>
        <%if @required.present? && @required %>
          <span class="text-danger">*</span>
        <%end%>
      </h2>
    <%end%>
    <%if @hint.present? %>
        <p class="m-b-0"><%= @hint %></p>
    <%end%>
  </div>

  <div class="col-md-4 flex" style="justify-content: flex-end;">
    <% case @type %>
      <% when "dropdown" %>
        <%= sf "Select::", :data => { :action => @action }, list: @options, selected: @selected, has_null_option: false, name: @name, class: "", container_classes: @select_container_classes %>
      <% when "toggle" %>
        <%= sf "BsToggle", name: @name,  action: @action, checked: @checked, classes: @toggle_class  %>
      <% when "text_area_half" %>
        <%= sf "TextArea::", label: @label, id: @id, name: @name, value: @selected, rows: @rows, cols: @cols, placeholder: @placeholder, style: @style  %>
      <% when "text_area_half_csv" %>
      <%= sf "ChromeosTextAreaCsv::", label: @label, id: @id, name: @name, value: @selected, rows: @rows, cols: @cols, placeholder: @placeholder, style: @style, css_class: @css_class, data: @action, klasses:@klasses, half: true  %>
      <% when "number_filed" %>
        <%= sf "Input", type: "number", id: "quantity", name: @name, min: @min, max: @max, value: @value, klasses: @klasses%>
      <% when "text" %>
        <%= sf "Input", id: @id, name: @name, min: @min, max: @max, value: @value, klasses: @klasses, data: @data%>
      <% end %>
  </div>

  <% if @helper_text %>
    <div class="bs-w-25" style="margin-left: auto;">
      <div class="bs-text-center">
        <%= @helper_text %>
      </div>
    </div>
  <% end %>

  <% if @type == "text_area" %>
    <div class="col-md-12">
      <%= sf "TextArea::", label: @label, id: @id, name: @name, value: @selected, rows: @rows, cols: @cols, placeholder: @placeholder, style: @style, css_class: @css_class  %>
    </div>
  <% end %>
  <% if @type == "text_area_csv" %>
    <div class="col-md-12">
      <%= sf "ChromeosTextAreaCsv::", label: @label, id: @id, name: @name, value: @selected, rows: @rows, cols: @cols, placeholder: @placeholder, style: @style, css_class: @css_class, data: @action, klasses:@klasses  %>
    </div>
  <% end %>
</div>
