<%= content_tag :div, id: @id,  data: {
    controller: "custom-payload",
    custom_payload_context_value: @context,
    custom_payload_hidden_class: "bs-d-none",
    custom_payload_id_value: "stimulus-ace-editor",
    custom_payload_file_valid_extensions_value: @file_valid_extensions,
    custom_payload_placeholder_value: @placeholder,
    custom_payload_invalid_xml_error_value: t("windows.profile.custom_settings.invalid_xml_file"),
    custom_payload_data_value: @value,
    custom_payload_name_value: @name } do %>
    <% if content.present? %>
        <%= content %>
    <% end %>
    <% if tip.present? %>
        <%= content_tag :p, tip, class: "c-green" %>
    <% end %>
    <!-- Editor -->
    <div class="bs-position-relative">
        <pre id="stimulus-ace-editor">
        </pre>
        <svg data-custom-payload-target="pass" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4CAF50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="bs-position-absolute bs-end-0 bs-top-0 bs-m-4 bs-d-none"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
        <svg data-custom-payload-target="fail" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#F44336" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="bs-position-absolute bs-end-0 bs-top-0 bs-m-4 bs-d-none"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </div>

    <%= content_tag :div, class: "bs-text-danger", data: { custom_payload_target: "error" } do %>
    <% end %>
    <div class="bs-d-flex bs-justify-content-center">
        <button type="button" data-custom-payload-target="customPayloadValidateBtn" data-action="custom-payload#validateCustomPayload" class="bs-btn bs-btn-primary">
            <%= t("windows.profile.custom_settings.validate") %>
        </button>
    </div>
    <% if @name != nil %>
        <textarea class="bs-d-none" name="<%=@name%>" data-custom-payload-target="inputTextArea"></textarea>
    <% end %>
<% end %>