<%= content_tag :div, data: {
  controller: "ai-assistant effect",
  ai_assistant_context_value: @context,
  ai_assistant_ai_content_class: "bs-d-flex bs-h-100 bs-p-4 bs-gap-5"
} do %>
    <div class="bs-col-7 bs-d-flex bs-justify-content-between bs-flex-column" id="ai_assistant_content">
        <div>
            <div id="ai_script_custom_properties_form">
                <% form_url = current_user.admin_parent.user_subscription.allow_custom_fields_update_via_scripts ? user_script_custom_properties_path : upload_user_scripts_path %>

                <%= form_with(url: form_url, data: { turbo_stream: true, ai_assistant_target: "scriptCustomPropertiesForm" }) do |form| %>
                    <%= hidden_field_tag "view_type", "airthink_script" %>
                    <%= hidden_field_tag "script_file", "", id: "script_file", data: { ai_assistant_target: "scriptFile" } %>
                    <%= hidden_field_tag "platform_type", @context %>

                    <%= sf "FormGroupRow::", col_classes: [6, 6] do |c| %>
                        <% c.with_custom_label do %>
                            <%= sf "Label::", label: "Enter Script File Name", asterisk: true %>
                        <% end %>
                        <% c.with_input do %>
                            <%= sf "TextField::", name: "name", data: { ai_assistant_target: "scriptName" } %>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <%= turbo_frame_tag "previous_ai_session", src: user_ai_assistant_questions_path(current_user, context: @context, info: @info), loading: :lazy do |c| %>
                <p class="bs-placeholder-glow bs-px-3 bs-d-flex bs-align-items-center bs-justify-content-between bs-py-3 bs-m-0">
                    <span class="bs-placeholder bs-placeholder-lg bs-rounded bs-col-12 bs-me-2"></span>
                </p>
            <% end %>
        </div>
        <%=turbo_frame_tag "qnsans_ai_session"%>
        <div class="bs-form-group bs-mb-4">
            <%= form_with url: user_ai_assistant_questions_path(current_user), method: :post, data: { ai_assistant_target: "form" }, class: "bs-d-flex bs-align-items-center bs-border bs-rounded bs-p-1" do |form| %>
                <div class="bs-d-flex bs-col-3 bs-bg-primary-subtle bs-py-2  bs-px-2">
                    <img alt="Eva" height="18px"  src="<%= image_path('v2/icons/sage_v2.svg') %>"/>
                    <div class="bs-ps-2">Write a Script to</div>
                </div>
                <%= hidden_field_tag "question", "", data: { ai_assistant_target: "question"} %>
                <%=turbo_frame_tag "ai_session_id" do%>
                    <%= hidden_field_tag "ai_session_id", "" %>
                <% end %>
                <%= hidden_field_tag "context", @context %>
                <textarea
                    id="ask_question_area"
                    class="bs-px-3 bs-py-2 bs-w-100 bs-border-0"
                    placeholder="Ask about a command or use-case e.g. write script to find non-system users"
                    required
                    minlength="4"
                    maxlength="512"
                    rows="1"
                    data-ai-assistant-target="input"
                    data-action="keypress->ai-assistant#onKeypress ai-assistant#updateQuetion"
                    ></textarea>
                <button class="bs-btn bs-btn-primary bs-border-0 bs-py-2 bs-px-3 bs-d-flex bs-mx-3" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                </button>
            <% end %>
        </div>
    </div>
    <div class="bs-col-auto">
        <%= turbo_frame_tag "job_status_ai_script_error"  %>

        <%= turbo_frame_tag "job_status_ai_script_processing" do %>
            <div style="height: 20px" class="bs-progress bs-d-none " data-ai-assistant-target = "progressBarHidden">
                <div class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated" role="progressbar" style="width: 0%;" data-ai-assistant-target="progressBar">0%</div>
            </div>
            <div data-ai-assistant-target="progressBarScript" class="bs-d-none">
                <div style="height: 20px" class="bs-progress bs-d-block">
                    <div style="height: 20px" class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated bs-w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="bs-d-flex bs-justify-content-center">
                    <%= I18n.t("enterpriseStore.windows_app.processing_app", type: "Script") %>
                </div>
            </div>
        <% end %>

        <%# Form who Store the data in Controller %>
        <%= form_with( url: process_s3_upload_user_scripts_path(user_id: @current_user.id), 
            method: :post, 
            data: { ai_assistant_target: "processS3UploadForm"  } ) do |form| %>
            
            <%= hidden_field_tag "script_type", @context , id: "script_type" %>
            <%= hidden_field_tag "execution_context", "enrolled_user" %>

            <div id="ai_assistant_generated_script">
                <div>
                    <%hight = @context == "windows" ? "400px" : (@context == "mac" ? "430px" : "330px") %>
                    <textarea rows="5" style= "min-height: calc(100vh - 400px)" class="bs-p-3 bs-w-100 bs-shadow bs-rounded bs-border bs-border-secondary" data-ai-assistant-target = "generatedScript"> 
                        <%if  @context == "windows" %>
                            # Use this area to create your script
                        <% else %>
                            #!/bin/bash

                            # Use this area to create your script
                        <% end %>
                    </textarea>
                </div>
                <div class="bs-mt-4 bs-bg-warning-subtle bs-p-4 bs-rounded ">
                    <div class="bs-fs-6">
                        Please test this script on a device before bulk publishing it to your production devices.
                    </div>
                </div>
            </div>

            <%= turbo_frame_tag "ai_script_configuration", class: "bs-row" %>
            <%= turbo_frame_tag "ai_script_properties_table", class: "bs-row" %>
        <% end %>

        <%# For Upload FIle to S3 %>
        <%= form_with(url: create_s3_upload_user_scripts_path(user_id: @current_user.id), 
            method: :post, 
            data: { ai_assistant_target: "scriptUploadForm"} ) do |form| %>
        <% end %>

        <div class="bs-d-flex bs-align-item-end bs-justify-content-end bs-pt-5 bs-pb-4">
            <%= button_tag(type: 'button', class: "bs-btn bs-btn-primary", data: { action: "click->ai-assistant#handleScriptFileUpload", ai_assistant_target: "nextBtn", disable: "name == ''" }) do %>
                <%= t('common.next') %>
            <% end %>

            <%= button_tag(type: 'button', class: "bs-btn bs-btn-outline-secondary bs-me-2 bs-d-none", data: { action: "click->ai-assistant#goBackAction", ai_assistant_target: "goBackBtn" }) do %>
                <%= t('common.go_back') %>
            <% end %>

            <%= button_tag(type: 'button', class: "bs-btn bs-btn-primary bs-ui-disabled bs-d-none", data: {disable: "name == ''", action:"ai-assistant#uploadFile", ai_assistant_target: "saveBtn" }) do %>
                <%= t('common.save') %>
            <% end %>
        </div>

        <%= turbo_frame_tag "ai_script_s3_upload" %>
        <%= turbo_frame_tag "ai_script_s3_upload_start" %>
        <%= turbo_frame_tag "job_status_ai_script_complete" %>
    </div>
<% end %>
