<%= content_tag :div, 
    class: "bs-row #{@container_classes}" do %>
        <% if label.present? %>
            <label class="bs-col-3 bs-form-check-label bs-text-body-secondary bs-m-0 bs-flex-grow-1 <%= label_classes %>">
                <% if custom_label? %>
                    <%= custom_label %>
                <% else %>
                    <%= raw label %>
                <% end %>
            </label>
        <% end %>
        <div class="<%= wrap_classes %>">
            <div class="bs-btn-group bs-gap-2 bs-row" role="group" aria-label="Basic checkbox toggle button group">
                <% orginal_array.each_with_index do |i, index| %>
                    <div class="bs-col-auto">
                        <% input_id = SecureRandom.uuid %>
                        <%= check_box_tag name, i, checked: selected_array.include?(i.to_sym), :id => input_id, class: "bs-btn-check", :data => data %>
                        <label class="bs-btn bs-shadow bs-d-flex bs-align-items-center bs-gap-2 bs-justify-content-center bs-text-primary" for="<%= input_id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            <%= i %>
                        </label>
                    </div>
                <% end %>
            </div>
        </div>
<% end %>
