<div class="bs-d-flex bs-align-items-start bs-justify-content-between">
    <div class="bs-d-flex bs-gap-3 bs-text-truncate bs-w-100 bs-mb-2">
        <% if @is_catalog_app %>
            <span class="app-store-logo store-logo-xl bs-text-truncate bs-object-fit-contain bs-m-0"><%= @name.split(' ').map(&:chr).join.upcase %></span>
        <% else %> 
            <%= image_tag @logo, height: 80, width: 80, class: "bs-rounded" %>
        <% end %>
        <%= content_tag :div do %>
            <%= content_tag :div, @name, class: "bs-text-truncate #{@title_class}" %>
            <%= meta_data if meta_data? %>
        <% end %>
    </div>
    <% if actions? %>
        <div class="bs-d-flex bs-gap-3">
            <% unless @rbac %>
                <%= actions  %>
             <% end %>

        </div>
    <% end %>
</div>
<div class="bs-w-100 bs-text-truncate">
    <%= content %>
</div>