<%= content_tag :div, @heading, class: "bs-mb-1 filter-title bs-text-body-secondary" %>
<%= content_tag :div, class: "filter-input-group-hover" do %>
    <%= label_tag "", class: "bs-input-group-text bs-m-0 bs-border-end-0 bs-text-secondary bs-fs-5" do %>
        <%= icon %>
    <% end %>
    <div class="bs-form-select bs-ps-2 bs-py-1">
        <%= content %>
    </div>
<% end %>
