<%= turbo_frame_tag "device_card", class: "bs-h-100" do %>
    <% populate_header_colors %>
    <%= sf "Card" do |c| %>
        <% c.with_card_header(bg_class: @bg_color) do |d| %>
            <% d.with_title do %>
                <div class="bs-d-flex bs-align-items-center bs-gap-3">
                    <%= sf "Icon", bg_class: "bs-bg-white" do |c| %>
                        <% if device&.factory_reset %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline>
                                <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>
                            </svg>
                        <% elsif device&.locked? %>
                            <% if device&.mode == "byod" %>
                                <div class="v3-device-card-component">
                                    <i class='zmdi byod-device-view byod-card-icon byod-device-managed-view-icon'></i>
                                </div>
                            <% else %>
                                <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"  class="<%= @text_color %> group-hover:bs-text-black-50" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                                </svg>
                            <% end %>
                        <% else %>
                            <% if device&.mode == "byod" %>
                                <div class="v3-device-card-component">
                                    <i class='zmdi byod-device-view byod-card-icon byod-device-unmanaged-view-icon'></i>
                                </div>
                            <% else %>
                                <i class="zmdi zmdi-lock-open bs-text-secondary zmdi-hc-1x bs-px-2"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                    <div class="brand-title">
                        <%= render partial: "/devices/show/card_header/card_device_name", locals: { device: device } %>
                        <br/>
                        <small class="bs-text-white "><%= t('common.last_seen') %>:
                            <%= "#{time_ago_in_words(device&.windows? ? device&.last_updated_at : device&.last_connected_at)} ago" %>
                        </small>
                    </div>
                </div>
            <% end %>

            <% if authorized?('RemoteMirror-RemoteCastControl') || authorized?('RemoteMirror-FileTransfer') %>
                <% if !owner&.user_subscription&.remote_mirror_enabled %>
                    <%= content_tag :div, data: { bs_toggle: "bs-tooltip", bs_placement: "top", bs_title: t("remote_mirror.app_not_installed") } do %>
                        <%= sf "UpgradePlan", current_user: current_user, classes: "bs-justify-content-start" do |c| %>
                            <% c.with_button do %>
                                <i class="zmdi zmdi-cast bs-fs-2 c-white"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                <% else %>
                    <%
                      remote_cast_modal = if device.macos?
                                            "#macos-remote-cast-modal"
                                          elsif device.windows?
                                            "#windows-remote-cast-modal"
                                          else
                                            "#remote-cast-modal"
                                          end
                    %>
                    <%= content_tag :div, data: { bs_toggle: (!device&.device_add_on&.rc_installed) ? "bs-tooltip" : "", bs_placement: "bottom", bs_title: (!device&.device_add_on&.rc_installed) ? t("remote_mirror.app_not_installed") : "" } do %>
                        <%= button_tag({data: { bs_toggle: "modal", bs_target: remote_cast_modal }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center #{"bs-ui-disabled" if !device&.device_add_on&.rc_installed }"}) do %>
                            <i class="zmdi zmdi-cast bs-fs-2 c-white"></i>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            <%= turbo_frame_tag "device_detail_options" do %>
                <%= sf "DeviceOptions::", device: device, current_user: current_user %>
            <% end %>
        <% end %>
        <dl class="bs-row bs-gy-4">
            <% if device.os_type == 'android' %>
                <dl class="bs-row bs-m-0 bs-gy-3">
                    <% if device.byod? %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('full_device_info.device_profile_name')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-collection-case-play"></i>
                                <% end %>
                                <%= device&.device_profile.present? ? device&.device_profile&.name : t('v2.profiles.not_assigned') %>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <% if device&.user_group.present? && !device.byod? %>
                                <%= sf "ListItem", title: "#{t('common.user_group_name')}" do |c| %>
                                    <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                        <i class="zmdi zmdi-collection-case-play"></i>
                                    <% end %>
                                    <%= device&.user_group&.name || t('v3.groups.not_assigned') %>
                                <% end %>
                            <% else %>
                                <%= sf "ListItem", title: "#{t('common.device_group_name')}" do |c| %>
                                    <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                        <i class="zmdi zmdi-devices"></i>
                                    <% end %>
                                    <%= device&.device_group.present? ? device&.device_group&.name : t('v3.groups.not_assigned') %>
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: "#{t('common.mobilockProVersion')}" do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-lock-outline"></i>
                            <% end %>
                            <% if !(device.app_version_name && device.app_version_code)%>
                                <%= t('common.na')%>
                            <% else%>
                                <%= agent_version(device) %>
                            <% end%>
                        <% end %>
                    </div>
                    <% if device.os_type == 'android' %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: t("v3.groups.access_wifi_disabled") do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-wifi-alt"></i>
                                <% end %>
                                <div class="bs-d-flex bs-gap-2 bs-align-items-center">
                                    <%= t('common.ssid')+":" %>
                                    <% if device.wifi_config&.with_replaced_values!(@device)&.ssid.present? %>
                                        <%= device.wifi_config&.with_replaced_values!(@device)&.ssid %>
                                    <% else %>
                                        <%= t('v2.groups.ssid_auto') %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    <% end %>

                    <% unless device.nix? %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('devices.battery')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <% if !device.charging %>
                                        <i class="zmdi zmdi-battery"></i>
                                    <% end %>
                                    <% if device.charging %>
                                        <i class="zmdi zmdi-battery-charging"></i>
                                    <% end %>
                                <% end %>
                                <%= (device&.battery_status == 0) ? t('common.not_available') : "#{device&.battery_status}#{device&.charging ? '% Charging' : t('common.per_left')}" %>
                            <% end %>
                        </div>
                    <% end %>

                    <% if device.nix? %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('devices.manufacturer')}" do |c| %>
                                <%= device.make %>
                            <% end %>
                        </div>
                    <% end %>

                    <% if device.android? || device.nix? %>
                        <!--
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('devices.model_name')}" do |c| %>
                                <%= device.model %>
                            <% end %>
                        </div>
                        -->
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('devices.model_and_version')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-smartphone"></i>
                                <% end %>
                                <% if device.ios? %>
                                    <%= device&.model %> - <%= device&.modem_firmware_version %>
                                <% else %>
                                    <%= device&.model %> - <%= device&.os %> (<%= device&.os_version %>)
                                <% end %>
                            <% end %>
                        </div>
                    <% end %>

                    <% unless device.nix? %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('common.imei_number')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-label"></i>
                                <% end %>
                                <%= device&.imei_no || t('common.na') %>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: "#{t('common.emm_managed')}" do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <img src="<%= asset_path('v2/icons/emm-logo.png') %>", height="40">
                            <% end %>
                            <%= device&.emm_managed ? "Yes" : "No" %>
                        <% end %>
                    </div>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t('devices.enrollment_mode') do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-smartphone"></i>
                            <% end %>
                            <% mode = (device&.device_profile&.mode || device.mode) %>
                            <%= I18n.t("devices.cope_mode") if device&.byod? && device&.cope_enabled %>
                            <%= I18n.t("devices.byod_mode") if device&.byod? && !device&.cope_enabled %>
                            <%= I18n.t("devices.kiosk_mode") if mode == "kiosk" || mode == nil %>
                            <%= I18n.t("devices.agent_mode") if mode == "agent" %>
                        <% end %>
                    </div>
                    <% if device&.byod? %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('full_device_info.management_agent')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-face"></i>
                                <% end %>
                                <%= device&.present? ? device&.device_manager&.titleize : t('common.na') %>
                            <% end %>
                        </div>
                    <% end %>
                    <% if device&.mode != "byod" %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('full_device_info.password_status')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-key"></i>
                                <% end %>
                                <div>
                                    <% if device&.admin_configured_password %>
                                        <%= content_tag :small, t("devices.detail_menu.configured_in_profile") %>
                                    <% else %>
                                        <%= content_tag :small, device&.allow_remove_password.nil? ? t("common.na") : device&.allow_remove_password ? t('common.reset') : t("devices.detail_menu.removed") %>
                                    <% end %>
                                    <%= button_tag({data: { bs_toggle: "modal", bs_target: "#password-status-modal" }, class: "automation_view_password_status bs-btn bs-p-0 bs-d-flex bs-align-items-center bs-justify-content-center bs-text-primary bs-me-3"}) do %>
                                        <%= t("common.view_details") %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <%= sf "ListItem", title: "#{t('common.license')}" do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                    <i class="zmdi zmdi-time-interval"></i>
                                <% end %>
                                <%= device&.status %>
                            <% end %>
                        </div>
                    <% end %>

                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.compliance_policy_group") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-account"></i>
                            <% end %>
                            <%= device&.compliance_policy_group&.name || t('common.na') %>
                        <% end %>
                    </div>

                    <% if !current_user.permissions.include?('Device-ReadOnly') && (device&.new_reset_password && !device&.admin_configured_password) %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                            <div class="bs-d-flex bs-align-items-center">
                                <span class="bs-d-inline-flex bs-align-items-center bs-justify-content-center bs-me-2 bs-rounded-circle bs-p-2 bs-bg-gray">
                                    <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                        <i class="zmdi zmdi-time-restore-setting"></i>
                                    </div>
                                </span>
                                <div>
                                    <dt class="bs-fw-semibold bs-fs-6 bs-text-secondary">
                                        <%= t("devices.detail_menu.reset_password") %>
                                    </dt>
                                    <dd class="bs-m-0 bs-d-flex bs-align-items-center bs-gap-3 bs-pt-1">
                                        <div class="bs-d-flex bs-flex-column">
                                            <%= sf "ExitPasscode::", passcode_symbol: "XXXX", passcode: device&.new_reset_password, passcode_classes: "bs-me-0 bs-ms-0" %>
                                            <div class="bs-d-flex bs-align-items-center">
                                                <div class="bs-mt-1">
                                                    <%= !@device&.allow_remove_password ? t('devices.detail_menu.remove_password_status') : t('devices.detail_menu.reset_password_status') %>
                                                </div>
                                                <span class="bs-badge <%=
                                                    @device&.reset_password_status == "success" ? "bs-bg-success" :
                                                    ((@device&.reset_password_status == "removed" || @device&.reset_password_status == "failed") ? "bs-bg-danger" :
                                                    "bs-bg-primary") %> bs-ms-2">
                                                    <%= @device&.reset_password_status.capitalize %>
                                                </span>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    <% end %>

                </dl>
            <% end %>
            <% if device.os_type == 'ios' %>
                <% if ['byod', 'user_enrolled'].include?(device&.mode) %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("common.device_profile") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-collection-case-play"></i>
                            <% end %>
                            <%= device&.device_profile.present? ? device&.device_profile&.name : t('devices.no_profile_msg') %>
                        <% end %>
                    </div>
                <% else %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: device&.device_group.present? ? t("common.device_group_name") : (device&.user_group.present? ? t("common.user_group_name") : t("common.device_group_name")) do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-devices"></i>
                            <% end %>
                            <% if device&.device_group.present? %>
                                <%= device.device_group.name %>
                            <% elsif device&.user_group.present? %>
                                <%= device.user_group.name %>
                            <% else %>
                                <%= t('v2.groups.not_assigned') %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t('common.mobilockProVersion') do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-lock-outline"></i>
                        <% end %>

                        <% installed_app_version = @device.device_apple_apps.joins(:apple_app).where(apple_apps: {bundle_id: InternalApps::MLP_APP_PROD_BUNDLE_ID}).pluck("apple_apps.version_code").last %>
                        <% app_not_provisioned = !@device.app_version_name? || Custom::GemVersion.new(@installed_app_version) > Custom::GemVersion.new(@device.app_version_name) %>

                        <% if installed_app_version.present?  && !app_not_provisioned %>
                            <%= device&.app_version_name %> -
                            (<%= device&.app_version_code %>)
                        <% end %>
                        <% if !installed_app_version.present? %>
                            <%= t("devices.not_installed") %>
                        <% end %>
                        <% if installed_app_version.present? && app_not_provisioned %>
                            <%= installed_app_version %>
                            [<%= t("devices.not_provisioned") %>]
                        <% end %>
                    <% end %>
                </div>

                <% if device&.mode != "user_enrolled" %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: "#{t('devices.model')}" do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-smartphone"></i>
                            <% end %>
                            <%= device.model %> -
                            <%= device&.modem_firmware_version.present? ? device&.modem_firmware_version : t('common.na') %>
                        <% end %>
                    </div>
                <% end %>

                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.battery") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <% if device.charging %>
                                <i class="zmdi zmdi-battery-charging"></i>
                            <% else %>
                                <i class="zmdi zmdi-battery"></i>
                            <% end %>
                        <% end %>
                        <%= "#{device&.battery_status}% left" || t("common.na") %>
                    <% end %>
                </div>

                <% if device&.mode != "user_enrolled" %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: "#{t('common.imei_number')}" do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-label"></i>
                            <% end %>
                            <%= device&.imei_no || t('common.na') %>
                        <% end %>
                    </div>
                <% end %>

                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t('devices.supervised') do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone-lock"></i>
                        <% end %>
                        <%= device&.is_supervised ? 'Yes' : 'No' %>
                    <% end %>
                </div>

                <% if device&.mode != "user_enrolled" %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t('devices.wifi_mac') do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-portable-wifi"></i>
                            <% end %>
                            <%= device&.wifi_mac_address %>
                        <% end %>
                    </div>
                <% end %>

                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("v2.licenses.col_name") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-time-interval"></i>
                        <% end %>
                        <%= device&.status || t("common.na") %>
                    <% end %>
                </div>

                <% if device&.is_supervised %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.os_version_updates") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-apple"></i>
                            <% end %>

                            <% if device&.is_supervised %>
                                <div class="bs-d-flex bs-flex-column">
                                    <div> <%= t("devices.os_updates.current_version", version: device&.os_version) %> </div>
                                    <div> <%= t("devices.os_updates.status", update_status: device&.os_update_status) %> </div>
                                </div>
                            <% end %>
                            <% if device&.os_update_started && device&.os_update_percentage %>
                                <div class="bs-mt-4"> <%= t("devices.os_updates.status_percentage", updatePercentage: device&.os_update_percentage) %> </div>
                            <% end %>
                        <% end %>
                    </div>
                <% else %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.os_version") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-apple"></i>
                            <% end %>
                            <%= t("devices.version", version: device&.os_version) %>
                        <% end %>
                    </div>
                <% end %>

                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.enrollment_mode") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>
                        <%= t("devices.byod_mode") if device&.mode == "byod" %>
                        <%= t("devices.kiosk_mode") if device&.mode == "kiosk" || device&.mode.nil? %>
                        <%= t("devices.user_enrolled_mode") if device&.mode == "user_enrolled" %>
                    <% end %>
                </div>

                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.compliance_policy_group") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= device&.compliance_policy_group&.name || t('common.na') %>
                    <% end %>
                </div>

                <% if device&.mode == "user_enrolled" %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.enrollment_method") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-smartphone"></i>
                            <% end %>
                            <%= t("devices.user_enrolled_method") %>
                        <% end %>
                    </div>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.enrollment_email") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-email"></i>
                            <% end %>
                            <%= device&.enrollment_user_email %>
                        <% end %>
                    </div>
                <% end %>

                <% if device.supports_os_update && device&.is_supervised && device&.state != 'factory_reset' %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <div class="bs-d-flex bs-flex-column">
                            <% re_install_os_update = !(["Downloading", "Installing", "Idle", "Installed", "Downloaded"].include?("Idle"))  %>

                            <% if !check_permission?('Device-ReadOnly') && device&.os_version.present? && device&.os_update_version.present?  && (device&.state != 'factory_reset') %>
                                <% if Gem::Version.new(device.os_version) < Gem::Version.new(device.os_update_version) && !device&.os_update_started %>
                                    <% if !owner&.user_subscription&.allow_os_update_management_for_ios %>
                                        <%= sf "UpgradePlan", current_user: current_user, classes: "bs-justify-content-start" do |c| %>
                                            <% c.with_button do %>
                                                <div class="bs-btn bs-btn-primary w-100">
                                                    <%= re_install_os_update ? t('devices.os_updates.retry') : t("devices.os_updates.install_updates_now") %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <div>
                                            <%= button_tag({data: { bs_toggle: "modal", bs_target: "#install-updates-now-modal" }, class: "bs-btn bs-btn-primary"}) do %>
                                                <%= re_install_os_update ? t('devices.os_updates.retry') : t("devices.os_updates.install_updates_now") %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>

                            <%# removed the check for update button for factory reset button %>
                            <% if check_permission?('Device') %>
                                <% if (Gem::Version.new(device&.os_version) >= Gem::Version.new(device&.os_update_version.present? ? device&.os_update_version : "0")) && (device&.state != 'factory_reset') %>
                                    <% if !owner&.user_subscription&.allow_os_update_management_for_ios %>
                                        <%= sf "UpgradePlan", current_user: current_user, classes: "bs-w-auto bs-d-flex bs-align-items-center", centered_element: false do |c| %>
                                            <% c.with_button do %>
                                                <div class="bs-btn bs-btn-primary w-100">
                                                    <%= t("devices.os_updates.check_for_updates") %>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <div>
                                            <%= button_to check_for_latest_os_updates_device_os_updates_path(device, id: "check_for_latest_os_updates"), method: :put, data: { turbo_frame: "check_for_latest_os_updates"}, class: "bs-btn bs-btn-primary bs-w-auto bs-d-flex bs-align-items-center" do %>
                                                <%= t("devices.os_updates.check_for_updates") %>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>

                                <% if device&.is_supervised %>
                                    <% if device&.os_version.present? && device&.os_update_version.present? %>
                                        <% if Gem::Version.new(device.os_version) < Gem::Version.new(device.os_update_version) && device&.os_update_started %>
                                            <div>
                                                <button class="bs-btn bs-text-bg-secondary" style="cursor: default;">
                                                    <%= t('devices.os_updates.install_updates_now') %>
                                                </button>
                                            </div>
                                        <% end %>
                                    <% end %>
                                    <div>
                                        <span><%= t('devices.os_updates.last_updated_on') %></span>
                                        <span><%= device&.os_last_updated_at.present? ? device&.os_last_updated_at : t('common.na') %></span>
                                    </div>
                                    <div>
                                        <%= raw t('devices.os_updates.error', update_error: re_install_os_update ? device&.os_update_status : t('common.na')) %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
            <% if device.os_type == 'macos' %>
                <% if device.mode == 'byod' %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("common.device_profile") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-collection-case-play"></i>
                            <% end %>
                            <%= device&.device_profile.present? ? device&.device_profile&.name : t('devices.no_profile_msg') %>
                        <% end %>
                    </div>
                <% end %>
                <% if device.mode != 'byod' %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: device&.device_group.present? ? t("common.device_group_name") : (device&.user_group.present? ? t("common.user_group_name") : t("common.device_group_name")) do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-devices"></i>
                            <% end %>
                            <% if device&.device_group.present? %>
                                <%= device.device_group.name %>
                            <% elsif device&.user_group.present? %>
                                <%= device.user_group.name %>
                            <% else %>
                                <%= t('v2.groups.not_assigned') %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.os_version") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-apple"></i>
                        <% end %>
                        <%= device&.os_version %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.model_identifier") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>
                        <%= device&.model %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.enrollment_mode") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>
                        <% if device&.byod? %>
                            <%= t("devices.byod_mode") || t("common.na") %>
                        <% end %>
                        <% if device&.kiosk? || device&.mode.nil? %>
                            <%= t("devices.kiosk_mode") || t("common.na") %>
                        <% end %>
                    <% end %>
                </div>
                <!--
                ## Need to check conditions in Angular
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.battery") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <% if !device.charging %>
                                <i class="zmdi zmdi-battery"></i>
                            <% end %>
                            <% if device.charging %>
                                <i class="zmdi zmdi-battery-charging"></i>
                            <% end %>
                        <% end %>
                        <%= device&.battery_status || t("common.na") %>
                    <% end %>
                </div>
                -->
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.build_version") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-network"></i>
                        <% end %>
                        <%= device&.build_version || t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.wifi_mac") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-portable-wifi"></i>
                        <% end %>
                        <%= device&.wifi_mac_address || t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("v2.licenses.col_name") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-time-interval"></i>
                        <% end %>
                        <%= device&.status || t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.device_encrypted") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= format_enable_disable_info(device&.fde_enabled) %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.managed_user") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= device.becomes(MacDevice).user_long_name || t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.host_name") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= device&.host_name || t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.os_updates.enforced_os_update") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>

                        <% enforced_update = @device&.enforced_apple_os_update %>
                        <% value =
                            if @device.macos? && enforced_update.present? && !enforced_update.status_installed?
                            t(
                                'devices.os_updates.enforced_os_update_state',
                                os_version: enforced_update&.os_update&.version,
                                time: enforced_update&.enforced_at&.in_time_zone(@device.timezone.presence || current_user.preferred_timezone)&.strftime('%d-%b-%Y %I:%M %p')
                            )
                            else
                            t('common.na')
                            end
                        %>

                        <small title="<%= value %>" class="bs-text-truncate">
                        <%= value %>
                        </small>

                        <%= button_tag({data: { bs_toggle: "modal", bs_target: "#enforced-os-update-modal" }, class: "bs-btn bs-btn-outline-primary"}) do %>
                            <i class="zmdi zmdi-info"></i>
                        <% end %>
                    <% end %>
                </div>
                <% unless read_only_access('Device-ReadOnly') %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("devices.find_mac_pin") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-key"></i>
                            <% end %>
                            <small> <%= device&.apple_device_detail&.mac_pin %> </small>
                            <%= button_to device_security_pins_path(device), method: :get, data: { turbo_frame: "security_pins" }, class: "automation_view_security_pins automation_view_security_pins bs-btn bs-btn-outline-primary bs-p-2 bs-pe-3" do %>
                                <% if device&.screen_locked %>
                                    <i class="m-l-5 zmdi zmdi-lock c-red"></i>
                                <% end %>
                                <i class="m-l-5 zmdi zmdi-time"></i>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.compliance_policy_group") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= device&.compliance_policy_group&.name || t("common.na") %>
                    <% end %>
                </div>
                <% unless read_only_access('Device-ReadOnly') %>
                    <% if !owner&.user_subscription&.allow_os_update_management_for_macos %>
                        <%= sf "UpgradePlan", current_user: current_user, classes: " bs-w-auto bs-d-flex bs-align-items-center" do |c| %>
                            <% c.with_button do %>
                                <div class="bs-btn bs-btn-primary w-100">
                                    <%= t("devices.os_updates.view_updates") %>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <%= content_tag :a, class: "bs-btn bs-btn-primary bs-w-auto bs-d-flex bs-align-items-center", data: { device_details_device_id_param: @device&.id, device_details_device_name_param: @device&.name, device_details_event_id_param: "select-mac-os-update", action: "device-details#redirectToOsUpdate"  } do %>
                            <%= t("devices.os_updates.view_updates") %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            <% if device.os_type == 'windows' %>
                <% if device&.byod? %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: t("common.device_profile") do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-collection-case-play"></i>
                            <% end %>
                            <%= device&.device_profile&.name || t("devices.no_profile_msg") %>
                        <% end %>
                    </div>
                <% end %>
                <% unless device&.byod? %>
                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                        <%= sf "ListItem", title: group_title do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                                <i class="zmdi zmdi-devices"></i>
                            <% end %>
                            <%= group_name %>
                        <% end %>
                    </div>
                <% end %>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("windows.mobilock_agent_version") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-lock-outline"></i>
                        <% end %>
                        <%= device&.app_version_name || I18n.t("devices.not_installed") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("windows.manufacturer") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-desktop-windows"></i>
                        <% end %>
                        <%= device&.make || I18n.t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.battery") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <% if !device&.charging %>
                                <i class="zmdi zmdi-battery"></i>

                            <% end %>
                            <% if device&.charging %>
                                <i class="zmdi zmdi-battery-charging"></i>
                            <% end %>
                        <% end %>
                        <%= batter_status %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("emm_ios.ios_dep.model") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>
                        <%= device&.model || I18n.t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("v2.licenses.col_name") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-time-interval"></i>
                        <% end %>
                        <%= device&.status || I18n.t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.os_version") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-laptop"></i>
                        <% end %>
                        <%= device&.os_version || I18n.t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.onboarding_email") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-email"></i>
                        <% end %>
                        <%= content_tag :span, device&.enrollment_user_email || device&.windows_device_detail&.onboarding_email, title: device&.enrollment_user_email || device&.windows_device_detail&.onboarding_email %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("windows.language") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-flag"></i>
                        <% end %>
                        <%= device&.locale || I18n.t("common.na") %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.enrollment_mode") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-smartphone"></i>
                        <% end %>
                        <%= I18n.t("devices.byod_mode") if device&.byod? %>
                        <%= I18n.t("devices.kiosk_mode") if device&.mode.nil? || device&.kiosk? %>
                    <% end %>
                </div>
                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6">
                    <%= sf "ListItem", title: t("devices.compliance_policy_group") do |c| %>
                        <% c.with_icon(auto_height: true, bg_class: icon_class) do |c| %>
                            <i class="zmdi zmdi-account"></i>
                        <% end %>
                        <%= device&.compliance_policy_group&.name || t('common.na') %>
                    <% end %>
                </div>
            <% end %>
        </dl>


        <div class="bs-d-flex bs-justify-content-end">
            <% if device.os_type == 'windows'%>
                <% unless read_only_access('Device-ReadOnly') %>
                    <% if !owner&.user_subscription&.allow_os_update_management_for_windows %>
                        <%= sf "UpgradePlan", current_user: current_user, classes: "bs-justify-content-start" do |c| %>
                            <% c.with_button do %>
                                <div class="bs-btn bs-btn-primary w-100">
                                    <%= t("devices.os_updates.view_updates") %>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <% if os_update_enabled(device) && authorized?('OSUpdateManagement') %>
                            <%= content_tag :a, class: "automation_view_updates bs-btn bs-btn-primary", data: { device_details_device_id_param: @device&.id, device_details_device_name_param: @device&.name, device_details_event_id_param: "select-windows-update", action: "device-details#redirectToOsUpdate"  } do %>
                                <%= t("devices.os_updates.view_updates") %>
                            <% end %>
                        <% else %>
                            <%= button_to view_updates_for_device_emm_windows_updates_path, method: :get, params:{page: 1, per_page: 100, device_id: device.id}, data: { turbo_frame: "view_updates_for_device_modal" }, class: "bs-btn bs-btn-primary" do %>
                                <%= t("devices.os_updates.view_updates") %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            <% if device.os_type == 'android' && device&.os_update_supported? %>
                <% if !owner&.user_subscription&.allow_os_update_management_for_android %>
                    <%= sf "UpgradePlan", current_user: current_user, classes: "bs-justify-content-start" do |c| %>
                        <% c.with_button do %>
                            <div class="bs-btn bs-btn-primary w-100">
                                <%= t("devices.os_updates.view_updates") %>
                            </div>
                        <% end %>
                    <% end %>
                <% else %>
                    <%if owner.zebra_setting&.device_enrollment_token? && device.make == "Zebra Technologies"%>
                        <button type="button" data-action="device-details#redirectToZebraDetails" data-device-details-device-id-param="<%= device.id%>" class="automation_view_updates bs-btn bs-btn-primary">
                            <%= t("devices.os_updates.view_updates") %>
                        </button>
                    <% elsif device&.pending_os_update_available? %>
                        <%= content_tag :a, class: "automation_view_updates bs-btn bs-btn-primary", data: { device_details_device_id_param: @device&.id, device_details_device_name_param: @device&.name, device_details_event_id_param: "select-android-patch-management", action: "device-details#redirectToOsUpdate"  } do %>
                            <%= t("devices.os_updates.view_updates") %>
                        <% end %>
                    <% else %>
                        <%= button_tag({data: { bs_toggle: "modal", bs_target: "#no-pending-updates-modal" }, class: "automation_view_updates bs-btn bs-btn-primary"}) do %>
                            <%= t("devices.os_updates.view_updates") %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% end %>
<% end %>
