<% header = @header_slug.transform_keys(&:to_s) %>
<% custom_fields_slug_with_values = device.custom_fields_with_empty_values(custom_fields: device.user.user_custom_fields).map{|field| [field.backend_slug, field.value]}.to_h %>
<% device_cell_value = device&.[](header["slug"]) || custom_fields_slug_with_values&.[](header["slug"]) %>
<%  account_info = latest_account_info(device, current_user) %>
<td data-slug="<%= header["slug"] %>" class="bs-text-nowrap">
    <% if header["slug"] == "device_profile" %>
         <% if device_profile_name.present? %>
            <%= link_to "#",class: "bs-text-black", data: { action: "click->devices#redirectToDeviceProfiles", devices_device_profile_id_param: device&.device_profile_id } do %>
                <%= content_tag :span,  device_profile_name , title: device_profile_name %>
            <% end %>
         <% else %>
            <%= content_tag :span, "No profile assigned" %>
         <% end %>
    <% end %>
    <a class="bs-text-nowrap <%= add_class_for_unlicenced_devices(device&.status) ? "" :  "bs-text-body" %>" href="<%= (add_class_for_unlicenced_devices(device&.status)) ? device_details_path(device) : "#" %>">
        <% if header["slug"] == "name" %>
            <%= sf "OsIcon::", platforms: [device.os_type], device_mode: device&.mode %>
        <% end %>
        <% if !has_custom_field_key(header["slug"]) %>
            <% @value = device&.is_a?(WindowsDevice) ? has_custom_field_key_for_windows(header["slug"]) : device_cell_value.present? %>
            <%= content_tag :span,@value.present? ? device_cell_value : I18n.t("common.na") , title: device_cell_value %>
        <% end %>
        <% if header["slug"] == "name" %>
            <div class="bs-ms-3 bs-ps-3">
                <% if has_matching_slug(@custom_headers_list, "os_version") %>
                    <%= content_tag :span, class: "bs-fs-6 bs-text-secondary" do %>
                        <%= device&.os == "Nix" ? "" : device&.os %>
                        <%= device&.os_version %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        <% if header["slug"] == "device_group" %>
            <%= content_tag :span, device&.device_group&.name || device&.user_group&.name || 'No group assigned', title: device&.device_group&.name || device&.user_group&.name %>
        <% end %>
        <% if header["slug"] == "updated_at" %>
            <%= content_tag :span, "#{time_ago_in_words(device&.windows? ? device&.last_updated_at : device&.last_connected_at)} ago", title: time_ago_in_words(device&.windows? ? device&.last_updated_at : device&.last_connected_at) %>
        <% end %>
        <% if header["slug"] == "ram_usage" %>
            <%= content_tag :span, "#{device&.windows? ? formatted_storage_capacity(device&.ram_usage, nil) : formatted_storage_capacity(device&.ram_usage, device.os_type) || I18n.t("common.na")}/#{number_to_human_size(device&.total_ram_size.to_i.bytes) || I18n.t("common.na")}" %>
        <% end %>
        <% if header["slug"] == "battery_status" %>
            <% battery_status = device&.battery_status.nil? ? 0 : device&.battery_status %>
            <%= content_tag :span, "#{device&.battery_status} #{ I18n.t("v2.battery.percent_left")}" if battery_status > 0 %>
            <%= content_tag :span, I18n.t("common.charging") if device&.charging %>
            <%= content_tag :span, I18n.t("common.charged") if device&.battery_status == 100 && !device&.charging %>
            <%= content_tag :span, I18n.t("common.not_available") unless device&.charging || battery_status > 0 %>
        <% end %>
        <% if header["slug"] == "created_at" %>
            <%= content_tag :span, helpers.in_users_timezone(device&.try("created_at")) || I18n.t("common.na"), title: date_format(device&.try("created_at")) %>
        <% end %>
        <% if header["slug"] == "password_compliant" %>
            <%= content_tag :span, password_protection_str(device&.password_protection_status), title: password_protection_str(device&.password_protection_status) %>
        <% end %>
        <% if header["slug"] == "rooted" %>
            <% if device.macos? || device.windows? %>
                <%= content_tag :span, rooted_str(device) == "na" ? I18n.t("common.na") : "" %>
            <% else %>
                <%= content_tag :span, rooted_str(device) == "yes" ? I18n.t("common.text_yes")  : I18n.t("common.text_no") , title: rooted_str(device) %>
            <% end %>
        <% end %>
        <% if header["slug"] == "connection_info" %>
            <% network_operator, signal_strength, network_type = sim_network_info(device) %>
            <% if is_wifi_signal(device) %>
                <% if is_wifi_signal_strength(device) %>
                    <%= content_tag :span, class: "signal-strength #{wifi_signal_class(device)}", title: wifi_signal_strength(device) do %>
                    <% end %>
                <% else %>
                    <%= content_tag(:i, "", class: "zmdi zmdi-wifi-off zmdi-hc-lg bs-me-2", title: "Not Connected") %>    
                <% end %>
                <%= device&.network_type&.upcase  %>
                <%=  device&.connected_wifi_ssid %>
            <% end %>
            <%= content_tag :span, device&.network_type&.upcase if has_ethernet_signal(device) %>
            <% if has_network_signal(device) %>
                <% if device&.connected_sim %>
                    <%= content_tag :span, class: "signal-strength #{sim_signal_class(device)}", title: signal_strength_status_sim1(signal_strength) do %>
                        <%= content_tag :span, network_type || I18n.t("common.na") %>
                        <%= content_tag :span, network_operator || I18n.t("common.na") %>
                    <% end %>
                <% end %>
                <%= content_tag :span, I18n.t("common.na") unless device&.connected_sim %>
            <% end %>
            <%= content_tag :span, I18n.t("common.na") unless device&.network_type %>
        <% end %>
        <% if header["slug"] == "last_power_on_time" || header["slug"] == "last_power_off_time" %>
            <%= content_tag :span, date_format(device&.try(header["slug"])) || I18n.t("common.na") ,title:  date_format(device&.try(header["slug"])) %>
        <% end %>
        <% if header["slug"] == "build_version" %>
            <%= content_tag :span, device&.device_firmware || I18n.t("common.na"), title: device&.device_firmware if device&.os&.downcase == 'android' %>
            <%= content_tag :span, device&.apple_device_detail&.build_version || I18n.t("common.na") ,title: device&.apple_device_detail&.build_version unless device&.os&.downcase == 'android' %>
        <% end %>
        <% if header["slug"] == "management_agent" %>
            <%= content_tag :span, management_agent(device) || I18n.t("common.na"), title: management_agent(device) %>
        <% end %>
        <% if header["slug"] == "device_storage" %>
            <%= content_tag :span, "#{formatted_storage_capacity(device&.available_internal_storage, device&.os_type) || I18n.t("common.na")}/#{formatted_storage_capacity(device&.total_internal_storage, device&.os_type) || I18n.t("common.na")}" %>
        <% end %>
        <% if header["slug"] == "external_storage" %>
            <%= content_tag :span, "#{formatted_storage_capacity(device&.available_external_storage, device&.os_type) || I18n.t("common.na")}/#{formatted_storage_capacity(device&.total_external_storage, device&.os_type) || I18n.t("common.na")}" %>
        <% end %>
        <% if header["slug"] == "enrollment_method" %>
            <%= content_tag :span, em_status(device&.device_property&.enrollment_method) || I18n.t("common.na"), title: em_status(device&.device_property&.enrollment_method) %>
        <% end %>
        <% if header["slug"] == "enrollment_type" %>
            <%= content_tag :span, enrollment_type(device) || I18n.t("common.na"), title: enrollment_type(device) %>
        <% end %>
        <% if header["slug"] == "fde_enabled" %>
            <%= content_tag :span, enabled_disabled(device&.apple_device_detail&.fde_enabled) || I18n.t("common.na"), title: enabled_disabled(device&.apple_device_detail&.fde_enabled) %>
        <% end %>
        <% if header["slug"] == "device_firmware" %>
            <%= content_tag :span, device&.device_firmware || I18n.t("common.na"), title: device&.device_firmware %>
        <% end %>
        <% if header["slug"] == "ip_address" %>
            <%= content_tag :span, device&.ip_address || I18n.t("common.na"), title: device&.ip_address %>
        <% end %>
        <% if header["slug"] == "status" %>
            <%= content_tag :span, yes_no(device&.status == 'LICENSED') || I18n.t("common.na"), title: yes_no(device&.status == 'LICENSED') %>
        <% end %>
        <% if header["slug"] == "app_version_name" %>
            <%= content_tag :span, app_version_name(device) || I18n.t("common.na"), title: app_version_name(device) %>
        <% end %>
        <% if header["slug"] == "device_mac_address" %>
            <%= content_tag :span, device&.try("wifi_mac_address") || I18n.t("common.na") , title: device&.try("wifi_mac_address") %>
        <% end %>
        <% if header["slug"] == "management_mode" %>
            <%= content_tag :span, management_mode(device) || I18n.t("common.na"), title: management_mode(device) %>
        <% end %>
        <% if header["slug"] == "management_type" %>
            <%= content_tag :span, management_type(device) || I18n.t("common.na") , title: management_type(device) %>
        <% end %>
        <% if header["slug"] == "device_model_name" %>
            <%= content_tag :span, device&.device_model_name || I18n.t("common.na"), title: device&.device_model_name %>
        <% end %>
        <% if header["slug"] == "power_status" %>
            <%= content_tag :span, power_state(device.try(:power_status), device&.charging) || I18n.t("common.na"), title: power_state(device.try(:power_status), device&.charging) %>
        <% end %>
        <% if header["slug"] == "enabled_system_integrity_protection" %>
            <%= content_tag :span, enabled_disabled(device&.apple_device_detail&.enabled_system_integrity_protection) , title: enabled_disabled(device&.apple_device_detail&.enabled_system_integrity_protection) %>
        <% end %>
        <% if header["slug"] == "efi_password_exists" || header["slug"] == "enabled_via_dep" || header["slug"] == "user_approved_enrollment"%>
            <%= content_tag :span, yes_no(device&.apple_device_detail&.try(header["slug"])) || I18n.t("common.na") , title: yes_no(device&.apple_device_detail&.try(header["slug"])) %>
        <% end %>
        <% if header["slug"] == "data_roaming_enabled" || header["slug"] == "data_roaming_enabled_2" || header["slug"] == "voice_roaming_enabled" || header["slug"] == "voice_roaming_enabled_2"  %>
            <%= content_tag :span, enabled_disabled(device[header["slug"]]) || I18n.t("common.na"), title: enabled_disabled(device[header["slug"]]) %>
        <% end %>
        <% if header["slug"] == "onboarding_email" %>
            <%= content_tag :span, fetch_onboarding_email(device) || I18n.t("common.na") %> 
        <% end %>

        <% if device&.android? || device&.windows? || device.macos? %>
            <% if header["slug"] == "sign_in_time" %>
                <% device_details = device&.current_signed_in_user_info %>
                <%= content_tag :span, current_user.in_preferred_timezone(device_details[:signed_in_time])&.strftime('%d/%b/%Y %I:%M %p') %>
            <% end %>
            <% if header["slug"] == "sign_out_time" %>
                <% device_details = device&.current_signed_in_user_info %>
                <%= content_tag :span, current_user.in_preferred_timezone(device_details[:signed_out_time])&.strftime('%d/%b/%Y %I:%M %p')  %>
            <% end %>
            <% if header["slug"] == "current_signed_mail" %>
                <% device_details = device&.current_signed_in_user_info %>
                <%= content_tag :span, device_details[:username] %>
            <% end %>
        <% end %>
        <% if header["slug"] == "firewall" %>
            <%= content_tag :span, firewall_status_str(device) || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "connection_status" %>
            <%= content_tag :span, connection_status(device) || I18n.t("common.na")%>
        <% end %>
        <% if header["slug"] == "device_encryption_status" %>
            <%= content_tag :span, encryption_status(device) || I18n.t("common.na")%>
        <% end %>
        <% if header["slug"] == "public_ip" %>
            <%= content_tag :span, device&.public_ip || I18n.t("common.na")%>
        <% end %>
        <% if device&.is_a?(WindowsDevice) %>
            <% if header["slug"] == "antispyware" %>
                <%= content_tag :span, device&.antispyware || I18n.t("common.na") %>
            <% end %>
            <% if header["slug"] == "antivirus" %>
                <%= content_tag :span, device&.antivirus || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "dm_client_version" %>
                <%= content_tag :span, device&.dm_client_version || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "device_type" %>
                <%= content_tag :span, device&.device_type || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "hardware_id" %>
                <%= content_tag :span, device&.hardware_id || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "machine_name" %>
                <%= content_tag :span, device&.machine_name || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "os_version_name" %>
                <%= content_tag :span, device&.os_platform || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "resolution" %>
                <%= content_tag :span, device&.resolution || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "vPro_amt_status" %>
                <%= content_tag :span, vpro_amt_status(device&.intel_vpro_device_mapping&.status) || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "domain_name" %>
                <%= content_tag :span, device&.domain_name || I18n.t("common.na")%>
            <% end %>
            <% if header["slug"] == "processor_type" %>
                <%= content_tag :span, device&.processor_type || I18n.t("common.na")%>
            <% end %>
            <% if account_info.is_a?(Hash) %>
                <% if header["slug"] == "username" %>
                    <%= content_tag :span, account_info.dig('username') || I18n.t("common.na")%>
                <% end %>
                <% if header["slug"] == "password" %>
                    <%= content_tag :span, account_info.dig('password') || I18n.t("common.na")%>
                <% end %>
            <% end %>
            <% if device&.processor_details.is_a?(Hash) %>
                <% if header["slug"] == "processor_manufacturer" %>
                    <%= content_tag :span, device&.processor_details['manufacturer'] %>
                <% end %>
                <% if header["slug"] == "processor_name" %>
                    <%= content_tag :span, device&.processor_details['name'] %>
                <% end %>
            <% end %>
        <% end %>
        <% if device.is_a?(AppleDevice) %>
            <% if header["slug"] == "itunes_account_status" %>
                <%= content_tag :span, device&.apple_device_detail&.itunes_store_account_active ? I18n.t('common.configured') : I18n.t('common.not_configured') || I18n.t("common.na") %>
            <% end %>
        <% end %>
        <% if header["slug"] == "skin_temp" %>
            <%= content_tag :span, device&.skin_temp || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "serial_no" %>
            <%= content_tag :span, device&.serial_no || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "build_serial_no" %>
            <%= content_tag :span, device&.build_serial_no || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "gsm_serial_no" %>
            <%= content_tag :span, device&.gsm_serial_no || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "battery_temp" %>
            <%= content_tag :span, device&.battery_temp || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "cpu_temp" %>
            <%= content_tag :span, device&.cpu_temp || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "bluetooth_mac" %>
            <%= content_tag :span, device&.bluetooth_mac || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "cpu_usage" %>
            <%= content_tag :span, device&.cpu_usage.present? ? (device&.cpu_usage.to_s+'%') : nil || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "ethernet_mac" %>
            <%= content_tag :span, device&.device_network_property&.ethernet_mac || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "gsuite_account" %>
            <%= content_tag :span, device&.gsuite_kiosk_user&.email || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "host_name" %>
            <%= content_tag :span, device&.macos? ? device&.host_name : I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "os_version" %>
            <%= content_tag :span, device&.os_version || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "model" %>
            <%= content_tag :span, device&.model || I18n.t("common.na") %>
        <% end %>
        <% if header["slug"] == "make" %>
            <%= content_tag :span, device&.make || I18n.t("common.na") %>
        <% end %>
    </a>
</td>
