<%= sf "BsModal", title: t('devices.detail_menu.factory_reset'), id: "factory-reset-device", close_on_submit: false do %>    
    <turbo-frame id="factory-reset">
        <turbo-frame id="factory-reset-form">
            <div data-controller="factory-reset-toggle" data-factory-reset-toggle-has-pin-value="<%= !@is_sf_account %>" data-action="turbo:submit-end->factory-reset-toggle#submitEnd">
                <%= form_with url: v3_device_factory_reset_form_path(@device), target: "factory-reset-form", method: :post, html: { autocomplete: "off" } do |form| %>
                    <%= form.hidden_field "platform", value: @device.os.downcase %>
                    <% if is_chrome_os? %>
                        <%# Chrome OS Reset Modal Start %>
                        <%= t("chrome_os.factory_reset_msg") %>
                        <div class="bs-d-flex bs-justify-content-end">
                            <%= button_tag(type: 'submit', class: "bs-mt-4 bs-btn bs-btn-danger", data: {bs_modal_target: "saveButton" }) do %>
                                <span><%= t('common.next') %></span>
                            <% end %>
                        </div>
                        <%# Chrome OS Reset Modal End %>
                    <% elsif is_nix? %>
                        <%# Nix Reset Modal Start %>
                        <div>
                            <div class="bs-form-check bs-form-switch bs-d-flex bs-align-items-center bs-flex-row-reverse bs-ps-0 bs-justify-content-between">
                                <div>
                                    <input
                                        data-action="factory-reset-toggle#toggleUsers"
                                        data-factory-reset-toggle-target="userCheckbox"
                                        class="bs-form-check-input bs-fs-4 bs-ms-2 bs-mt-0"
                                        type="checkbox"
                                        id="device-delete-users"
                                        name="device[delete_users]"
                                        value="true">
                                </div>
                                <label class="bs-form-check-label bs-fs-6 bs-text-body-secondary bs-m-0 bs-me-3 bs-flex-grow-1" for="device-delete-users">
                                    Remove all non-system users
                                    <div class="bs-text-black-50">
                                        This will only remove all non-system users and their home directories.
                                    </div>
                                </label>
                            </div>

                            <div class="bs-form-check bs-form-switch bs-d-flex bs-align-items-center bs-flex-row-reverse bs-ps-0 bs-justify-content-between bs-mt-4">
                                <div>
                                    <input
                                    data-action="factory-reset-toggle#toggleBrick"
                                    data-factory-reset-toggle-target="brickCheckbox"
                                    class="bs-form-check-input bs-fs-4 bs-ms-2 bs-mt-0"
                                    type="checkbox"
                                    id="device-brick"
                                    name="device[brick]"
                                    value="true">
                                </div>
                                <label class="bs-form-check-label bs-fs-6 bs-text-body-secondary bs-m-0 bs-me-3 bs-flex-grow-1" for="device-brick">
                                    Brick this device
                                    <div class="bs-text-black-50">
                                        This will force remove the root directory.
                                    </div>
                                </label>
                            </div>
                            <div class="bs-alert bs-alert-danger bs-mt-4 bs-d-none" data-factory-reset-toggle-target="userMessage">
                                If you remember the "root" password of system, you will be able to create new users using command shell. Otherwise, you'll have to use Scalefusion to remotely create users.
                            </div>
                            <div class="bs-alert bs-alert-danger bs-mt-4 bs-d-none" data-factory-reset-toggle-target="message">
                                You will not be able to recover the device data after factory reset!
                                You will need to reinstall the OS on this device.
                            </div>
                            <div class="bs-d-flex bs-justify-content-end">
                                <%= button_tag(type: 'submit', disabled: true, class: "bs-mt-4 bs-btn bs-btn-danger", data: { factory_reset_toggle_target: "done", bs_modal_target: "saveButton" }) do %>
                                    <span><%= t('common.next') %></span>
                                <% end %>
                            </div>
                        </div>
                        <%# Nix Reset Modal End %>
                    <% elsif is_printer? %>
                        <%# Printer Reset Modal Start %>
                        <div>
                            <%= form.hidden_field "device_type", value: "printer" %>
                            <% @printer_reset_options.each do |option| %>
                                <turbo-frame id="printer-factory-reset-form-<%= option[:name] %>">
                                    <div class="bs-mb-4 bs-form-check bs-form-switch bs-d-flex bs-align-items-center bs-flex-row-reverse bs-ps-0 bs-justify-content-between">
                                        <div>
                                            <input
                                            data-action="factory-reset-toggle#onResetStateSelect"
                                            data-printer-factory-reset-toggle-target="<%= option[:target_name] %>Radio"
                                            class="bs-fs-4 bs-ms-2 bs-mt-0"
                                            type="radio"
                                            id="device-<%= option[:name] %>"
                                            name="printer[reset_type]"
                                            value="<%= option[:label] %>">
                                        </div>
                                        <label class="bs-fw-bold bs-form-check-label bs-fs-5 bs-text-body-secondary bs-m-0 bs-me-3 bs-flex-grow-1" for="device-<%= option[:name] %>">
                                            <%= option[:label] %>
                                            <div class="bs-text-black-50 bs-fw-normal bs-fs-5">
                                                <%= option[:description] %>
                                            </div>
                                        </label>
                                    </div>
                                </turbo-frame>
                            <% end %>
                            <div class="bs-d-flex bs-justify-content-end">
                                <%= button_tag(type: 'submit', disabled: true, class: "bs-mt-4 bs-btn bs-btn-danger", data: { factory_reset_toggle_target: "printerDone", bs_modal_target: "saveButton" }) do %>
                                    <%= t('common.next') %>                               
                                <% end %>
                            </div>
                        </div>
                        <%# Printer Reset Modal End %>
                    <% end %>
                <% end %>
            </div>
        </turbo-frame>
    </turbo-frame>
<% end %>
