<%= sf "BsTab", title: "create-website", height: "450px" do |c| %>
    <%# TODO: vm.device.mode=='user_enrolled %>
    <% full_device_info_tabs.each do |d| %>
        <% c.with_tab do %>
            <% if d == 'Hardware Info' && !@device.user.allow_hardware_inventory_change %>
                <%= sf "UpgradePlan", current_user: @user do |c| %>
                    <% c.with_button do %>
                        <%= d %>
                    <% end %>
                <% end %>
            <% else %>
                <%= d %>
            <% end %>
        <% end %>
    <% end %>
    <% full_device_info_tabs.each do |d| %>
        <% c.with_panel do %>
            <% case d %>
            <% when t("full_device_info.management_info") %>
                <div class="bs-row bs-m-0 bs-gy-3">
                    <% management_info_tabs.each do |info| %>
                        <% if info[:visible] %>
                            <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                <%= sf "ListItem", title: info[:title] do |c| %>
                                    <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                        <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                            <i class="bs-fs-3 zmdi <%= info[:icon] %>"></i>
                                        </div>
                                    <% end %>
                                    <% if info[:title] == t('v2.licenses.license_code') %>
                                        <% if info[:data].present? %>
                                            <%= sf "ExitPasscode::", passcode: raw(info[:data]), passcode_classes: "bs-me-0 bs-ms-0 #{authorized?('Device-ViewExitPasscode') ? '' : 'bs-d-none'}" %>
                                        <% else %>
                                            <%= t("common.na") %>
                                        <% end %>
                                    <% elsif info[:title] == t('common.device_name') %>
                                        <%= turbo_frame_tag "full_device_info_change_name" do %>
                                            <span title="<%= device&.name %>">
                                                <%= truncate(device&.name&.to_s, length: 32) %>
                                            </span>
                                            <%= I18n.t("common.na") if device&.name&.blank? %>
                                        <% end %>
                                    <% elsif info[:title] == t('full_device_info.agent_uninstall_password') %>
                                        <% if @device&.user&.allow_password_protected_uninstall %>
                                            <% if authorized?('Device-ViewExitPasscode') %>
                                                <% if @device&.device_passcode || (@add_on_app_passcode_details.present? && @add_on_app_passcode_details&.keys.any?) %>
                                                    <%= t('common.available') %>
                                                    <div role="button"
                                                        class="bs-btn bs-btn-primary"
                                                        data-action="click->device-details#openBsModal"
                                                        data-modal-id="agent-uninstall-password">
                                                        <i class="zmdi zmdi-eye"></i>
                                                    </div>
                                                <% else %>
                                                    <%= t("common.na") %>
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <%= t("common.na") %>
                                        <% end %>
                                    <% else %>
                                        <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% when t("full_device_info.device_info") %>

                <% if device&.os_type == 'android' %>
                    <%= sf "WarningMessage::", classes: "bs-alert-danger bs-p-3" do |c| %>
                        <% c.with_custom_label do %>
                            <small>
                                <span class="bs-text-danger">
                                    <% if @device.mode == 'byod' %>
                                        <%=raw t("full_device_info.byod_device_info_note") %>
                                    <% else %>
                                        <%=raw t("full_device_info.cp_owned_device_info_note") %>
                                    <% end %>
                                </span>
                            </small>
                        <% end %>
                    <% end %>
                <% end %>

                <div class="bs-row bs-m-0 bs-gy-3">
                    <% if device.mode != 'user_enrolled' %>
                        <% full_device_info(@device).each do |info| %>
                            <% if info[:visible] %>
                                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                    <%= sf "ListItem" do |c| %>
                                        <% c.with_title do |c| %>
                                            <% if info[:title] == t('full_device_info.bypass_code') %>
                                                <div class="bs-d-flex bs-align-items-center">
                                                    <%= t('full_device_info.bypass_code') %>
                                                    <% if check_permission?('Device') && check_permission?('Device-ViewExitPasscode')%>
                                                        <%= button_to device_activation_locks_path(@device), method: :put, params: { device_id: @device }, data: { turbo_stream: "" }, class: "bs-btn" do %>
                                                            <i class="zmdi zmdi-refresh bs-fs-5 c-blue"></i>
                                                        <% end %>
                                                    <% end %>
                                                </div>
                                            <% else %>
                                                <%= info[:title] %>
                                            <% end %>
                                        <% end %>
                                        <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                <% if info[:svg_icon].present? %>
                                                    <%= image_tag info[:svg_icon], height: 24, width: 24 %>
                                                <% else %>
                                                    <i class="bs-fs-4 zmdi <%= info[:icon] %>"></i>
                                                <% end %>
                                            </div>
                                        <% end %>
                                        <% if info[:title] == t('full_device_info.bypass_code') %>
                                            <%= info[:data] %>
                                            <% if info[:data] == 'Available' && !@device&.shared_ipad? && authorized?('Device-ViewExitPasscode')%>
                                                <div role="button"
                                                    class="bs-btn bs-btn-primary"
                                                    data-action="click->device-details#openBsModal"
                                                    data-modal-id="bypass_code_info">
                                                    <i class="zmdi zmdi-eye"></i>
                                                </div>
                                            <% end %>
                                        <% elsif info[:title] == t('devices.intel_vpro') %>
                                            <% if intel_vpro(@device) %>
                                                <%= sf "InfoIcon::", icon_class: "bs-mt-2 bs-ms-2", label: t("devices.detail_menu.vpro.#{intel_vpro(@device)[:intel_vpro_status]}"), tooltip: raw(t("devices.detail_menu.vpro.info.#{intel_vpro(@device)[:intel_vpro_status]}")) %>
                                            <% else %>
                                                <small>Not Supported/Unknown</small>
                                            <% end %>
                                        <% elsif info[:title] == t('full_device_info.security_posture') %>
                                            <div class="bs-text-truncate"
                                                 data-controller="tooltip"
                                                 data-bs-toggle="bs-tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-title="<%= info[:data].present? ? raw(info[:data]) : t("common.na") %>"
                                                 data-bs-html="true">
                                                <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                            </div>
                                        <% elsif info[:title] == t('full_device_info.app_preservation_status') %>
                                            <%= info[:data] %>
                                            <% if @device&.ios? && (apple_device_detail.app_preserve_pending_snapshot? || apple_device_detail.app_preserve_ready?) %>
                                                <%= link_to "View Apps",
                                                    "#",
                                                    data: {
                                                      action: "click->device-details#openBsModal",
                                                      modal_id: "app_preservation_status"
                                                    } %>
                                            <% end %>
                                        <% else %>
                                          <div data-controller="tooltip" class="bs-text-truncate" data-bs-toggle="bs-tooltip" data-bs-title="<%= info[:data] %>" data-bs-html="true">
                                                <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if device.mode == 'user_enrolled' %>
                        <% user_enrolled_device_info(@device).each do |info| %>
                            <% if info[:visible] %>
                                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                    <%= sf "ListItem", title: info[:title] do |c| %>
                                        <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                <i class="bs-fs-4 zmdi <%= info[:icon] %>"></i>
                                            </div>
                                        <% end %>
                                        <%= info[:data].present? ? info[:data].is_a?(String) ? raw(info[:data]) : t("common.unknown") : t("common.na") %>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            <% when t("full_device_info.hardware_info") %>
                <% if @device&.windows? %>
                    <%= render "/devices/show/full_device_info/common/hardware_info" %>
                <% end %>
            <% when t("full_device_info.network_info") %>
                <% if device&.os_type == 'android' %>
                    <%= sf "WarningMessage::", classes: "bs-alert-danger bs-p-3" do |c| %>
                        <% c.with_custom_label do %>
                            <small>
                                <span class="bs-text-danger">
                                    <% if @device.mode == 'byod' %>
                                        <%=raw t("full_device_info.byod_owned_netwrk_info_note") %>
                                    <% else %>
                                        <%=raw t("full_device_info.cp_owned_netwrk_info_note") %>
                                    <% end %>
                                </span>
                            </small>
                        <% end %>
                    <% end %>
                <% end %>

                <div class="bs-row bs-m-0 bs-gy-3 device-details">
                    <% device_network_info(@device).each do |info| %>
                        <% if info[:visible] %>
                            <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                <%= sf "ListItem", title: info[:title] do |c| %>
                                    <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                        <% if info[:title] == t("devices.connected_wifi") %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bgm-green bs-rounded-circle bs-text-white">
                                                <i class="bs-fs-4 zmdi <%= info[:icon] %>"></i>
                                            </div>
                                        <% else %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                <i class="bs-fs-4 zmdi <%= info[:icon] %>"></i>
                                            </div>
                                        <% end %>
                                    <% end %>
                                    <% if info[:title] == t("devices.nearby_wifi") %>
                                        <% if @device&.avbl_wifi_ssids.present? %>
                                            <div role="button"
                                                class="bs-btn bs-p-2"
                                                data-action="click->device-details#openBsModal"
                                                data-modal-id="available-wifi-ssids">
                                                <%= sf "SelectedDeviceGroupsBadges::", groups: show_available_wifi_ssids(@device&.avbl_wifi_ssids) %>
                                            </div>
                                        <% else %>
                                            <%= t("common.na") %>
                                        <% end %>
                                    <% elsif info[:title] == t("full_device_info.connected_sim")%>
                                        <% c.with_title do |c| %>
                                            <div class="bs-d-flex">
                                                <%= info[:title] %>
                                                <%= sf "InfoIcon::", tooltip: t("full_device_info.sim2_warning") %>
                                            </div>
                                        <% end %>
                                        <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                    <% else %>
                                        <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                    <% end %>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% when t("full_device_info.sim_binding") %>
                <% if @device.os_type == "android" %>
                    <%= render "/devices/show/full_device_info/android/sim_binding" %>
                <% end %>
            <% when t("full_device_info.storage_info") %>
                <% if @device&.windows? %>
                    <%= render "/devices/show/full_device_info/windows/storage_info" %>
                <% else %>
                    <%= render "/devices/show/full_device_info/graph_view" %>
                <% end %>
            <% when t("full_device_info.filevault_info") %>
                <% if @device&.os.downcase == 'macos' %>
                    <div class="bs-row bs-m-0 bs-gy-3">
                        <% file_vault_info_items(@device).each do |info| %>
                            <% if info[:visible] %>
                                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                    <%= sf "ListItem", title: info[:title] do |c| %>
                                        <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                <i class="bs-fs-3 zmdi <%= info[:icon] %>"></i>
                                            </div>
                                        <% end %>
                                        <% if info[:title] == t('devices.file_vault.fde_irk') %>
                                            <% if !current_user.permissions.include?('Device-ReadOnly') %>
                                                <% if device_fde_irk(@device) %>
                                                    <%= button_to "#{download_irk_device_path(@device)}.#{@device&.fde_cert_type == 'PKCS12' ? "p12" : "der"}", method: :get, class: "bs-btn bs-btn-link bs-text-decoration-none bs-ps-0" do %>
                                                        <%= t('common.download') %>
                                                        <i class="zmdi zmdi-cloud-download"></i>
                                                    <% end %>
                                                <% else %>
                                                    <%= t("common.na") %>
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                            <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>

                        <%# TODO: Move this code into a ListItem and manage the data using an array in the .rb file. Currently inline due to CSS constraints. %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                            <div class="bs-d-flex bs-align-items-center">
                                <span class="bs-d-inline-flex bs-align-items-center bs-justify-content-center bs-me-2 bs-rounded-circle bs-p-2 bs-bg-gray">
                                    <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                        <i class="bs-fs-3 zmdi zmdi-key"></i>
                                    </div>
                                </span>
                                <div>
                                    <dt class="bs-fw-semibold bs-fs-6 bs-text-secondary">
                                        <%= t('devices.file_vault.fde_prk') %>
                                    </dt>
                                    <dd class="bs-m-0 bs-d-flex bs-align-items-center bs-gap-3 bs-pt-1">
                                        <% if !current_user.permissions.include?('Device-ReadOnly') %>
                                            <%= turbo_frame_tag "mac_bitlocker_details" do %>
                                                <%= button_to recovery_key_confirmation_device_path(@device), method: :get, data: { turbo_frame: "bitlocker_recovery_key_confirm_modal" }, class: "bs-dropdown-item bs-py-2 bs-text-primary" do %>
                                                    <%= t('full_device_info.bitlocker_detail.view_key') %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% when t("full_device_info.startup_security") %>
                <% if @device&.os.downcase == 'macos' %>
                  <div class="bs-row bs-m-0 bs-gy-3">
                    <% startup_security_info_items(@device).each do |info| %>
                      <% if info[:visible] %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                          <%= sf "ListItem", title: info[:title] do |c| %>
                            <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                              <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                  <%= image_tag info[:icon], height: 24, width: 24 %>
                              </div>
                            <% end %>
                            <% if info[:title] == t('devices.startup_security.password') %>
                              <% if !check_permission?('Device-ReadOnly') %>
                                <% has_permission = check_permission?('Device-ViewExitPasscode') %>
                                <% if has_permission %>
                                  <%= turbo_frame_tag "mac_startup_security_password" do %>
                                    <%= button_to startup_security_password_confirm_device_path(@device), method: :get, data: { turbo_frame: "startup_security_password_confirm_modal" }, class: "bs-dropdown-item bs-py-2 bs-text-primary" do %>
                                      <%= t('devices.startup_security.view_password') %>
                                    <% end %>
                                  <% end %>
                                <% else %>
                                  <%= t("common.na") %>
                                <% end %>
                              <% end %>
                            <% else %>
                              <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
            <% when t("full_device_info.os_update_info") %>
                <% if @device&.os.downcase == 'macos' %>
                    <div class="bs-row bs-m-0 bs-gy-3">
                        <% os_update_info_item(@device).each do |info| %>
                            <% if info[:visible] %>
                                <% case info[:title] %>
                                <% when t('devices.catalog_url') %>
                                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                        <%= sf "ListItem", title: info[:title] do |c| %>
                                            <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                                <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                    <i class="bs-fs-3 zmdi <%= info[:icon] %>"></i>
                                                </div>
                                            <% end %>
                                            <%= sf "Clipboard::", value: raw(info[:data]) %>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                        <%= sf "ListItem", title: info[:title] do |c| %>
                                            <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                                <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                    <i class="bs-fs-3 zmdi <%= info[:icon] %>"></i>
                                                </div>
                                            <% end %>
                                            <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                        <% end %>
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
                <% if @device&.os_type == "android" && @device&.os_update_supported? %>
                    <div class="bs-row bs-m-0 bs-gy-3">
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                            <%= sf "ListItem", title: I18n.t("v2.os_update_management.android.security_patch_level") do |c| %>
                                <%= @device&.android_os_update&.security_patch&.present? ? @device&.android_os_update&.security_patch.strftime("%-d %b %Y") : I18n.t("common.na") %>
                            <% end %>
                        </div>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                            <%= sf "ListItem", title: I18n.t("v2.os_update_management.android.last_os_update") do |c| %>
                                <%= @device&.android_os_update&.last_os_update&.present? ? @device&.android_os_update&.last_os_update : I18n.t("common.na") %>
                            <% end %>
                        </div>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                            <%= sf "ListItem", title: I18n.t("v2.os_update_management.android.last_update_type") do |c| %>
                                <%= @device&.android_os_update&.last_update_type&.present? ? @device&.android_os_update&.last_update_type : I18n.t("common.na") %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% when t("full_device_info.user_info") %>
                <% if @device&.os.downcase == 'macos' || @device&.os.downcase == 'windows' || @device&.shared_ipad? %>
                    <div class="bs-row bs-m-0 bs-gy-3">
                        <% user_info_items(@device).each do |info| %>
                            <% if info[:visible] %>
                                <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                                    <%= sf "ListItem", title: info[:title] do |c| %>
                                        <% c.with_icon(auto_height: true, bg_class: "bs-bg-gray") do |c| %>
                                            <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                                <i class="bs-fs-3 zmdi <%= info[:icon] %>"></i>
                                            </div>
                                        <% end %>
                                        <% if info[:title] == t('full_device_info.admin_account') %>
                                            <% account_info = latest_account_info(@device, current_user) %>
                                            <% if account_info.present? %>
                                                <div class="bs-d-flex bs-flex-column">
                                                    <small>
                                                        <b><%= t("devices.admin_username") %>:</b>
                                                        <%= account_info[:username] %>
                                                    </small>
                                                    <span>
                                                        <span> <b><%= t('devices.admin_password') %>: </b> </span>
                                                        <% view_password = !check_permission?("Device-ReadOnly") && check_permission?("Device-ViewExitPasscode") %>
                                                        <% password = get_global_admin_password_windows(@device) %>
                                                        <%= content_tag :div, data: { controller: "laps-password-toggle" }, class: "bs-d-flex" do %>
                                                            <%= content_tag :span, data: { laps_password_toggle_target: "passwordDisplay", original_password: view_password ? password : nil }, class: "bs-text-truncate" do %>
                                                                <%= password.present? ? "●●●●●●●●" : t('common.na') %>
                                                            <% end %>
                                                            <% if password.present? && view_password %>
                                                                <%= content_tag :button, type: "button", class: "bs-btn bs-d-flex bs-align-items-center bs-p-0 bs-ms-3", data: { laps_password_toggle_target: "passwordToggle", action: "laps-password-toggle#togglePasswordVisibility" } do %>
                                                                    <!-- Eye icon (visible when password is hidden) -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-laps-password-toggle-target="eyeIcon">
                                                                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"/>
                                                                        <circle cx="12" cy="12" r="3"/>
                                                                    </svg>
                                                                    <!-- Crossed out eye icon (visible when password is shown) -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="bs-d-none" data-laps-password-toggle-target="eyeSlashIcon">
                                                                        <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"/>
                                                                        <line x1="1" y1="1" x2="23" y2="23"/>
                                                                    </svg>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                    </span>
                                                    <small>
                                                        <b> <%= t('devices.status') %>: </b>
                                                        <span class="<%= account_info[:status] ? "bs-text-success" : "bs-text-danger" %>">
                                                            <%= account_info[:status] ? t('devices.status_value_true') : t('devices.status_value_false') %>
                                                        </span>
                                                        <% if !account_info[:status] %>
                                                            <%= content_tag :span, class: "bs-p-2 bs-mb-2", data: { controller: "tooltip", bs_toggle: "bs-tooltip", bs_placement: "bottom", bs_title: account_info[:error] || t('common.na')} do %>
                                                                <i class='zmdi zmdi-info zmdi-hc-lg'></i>
                                                            <% end %>
                                                        <% end %>
                                                    </small>
                                                </div>
                                            <% else %>
                                                <%= t("common.na") %>
                                            <% end %>
                                        <% elsif info[:title] == t('common.ade_admin') %>
                                            <%= render partial: "/devices/show/full_device_info/mac/admin_account", locals: { admin: device&.ade_admin, type: 'adeAdmin' } %>
                                        <% elsif info[:title] == t('common.global_admin') %>
                                            <%= render partial: "/devices/show/full_device_info/mac/admin_account", locals: { admin: device&.global_admin, type: 'globalAdmin' } %>
                                        <% else %>
                                            <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            <% when t("full_device_info.peripheral_statistics") %>
                <%= render "/devices/show/full_device_info/windows/peripheral_statistics" %>
            <% when t("full_device_info.custom_properties") %>
                <%= turbo_frame_tag "device_custom_fields", src: device_device_custom_field_path(device), loading: "lazy" do %>
                    <div class="bs-row bs-placeholder-glow bs-px-3">
                        <div class="bs-col-md-4 bs-placeholder bs-placeholder-lg bs-rounded bs-my-2"></div>
                        <div class="bs-col-md-4 bs-offset-md-4 bs-placeholder bs-placeholder-lg bs-rounded bs-my-2"></div>
                        <span class="bs-placeholder bs-placeholder-lg bs-col-6 bs-rounded bs-my-2"></span>
                        <span class="bs-placeholder bs-placeholder-lg bs-col-5 bs-rounded bs-my-2 bs-offset-md-1"></span>
                    </div>
                <% end %>
            <% when t("full_device_info.compliance.compliance") %>
                <div class="bs-row bs-m-0 bs-gy-3">
                    <% compliance_items(@device).each do |info| %>
                        <div class="bs-col-xs-12 bs-col-sm-6 bs-col-md-6 bs-col-lg-4">
                            <%= sf "ListItem", title: info[:title] do |c| %>
                                <% c.with_icon(auto_height: true, bg_class: "") do |c| %>
                                    <div class="icon-container bs-d-flex bs-align-items-center bs-justify-content-center bs-bg-secondary bs-rounded-circle bs-text-white">
                                        <%= image_tag info[:icon], height: 24, width: 24 %>
                                    </div>
                                <% end %>
                                <%= info[:data].present? ? raw(info[:data]) : t("common.na") %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>

        <% end %>
    <% end %>
<% end %>
