<% if @vertical.nil? %>
    <ul class="bs-nav <%= @bs_nav_class %> <%= bs_nav_type_class %>" id="<%= @title %>-bs-nav-tabs" role="tablist">
        <% tabs.each_with_index do |tab, index| %>
            <li class="bs-nav-item">
                <%# Condition if form_url present for index tab %>
                <% if @form_urls[index]%>
                    <%= button_to @form_urls[index][:url], 
                        method: @form_urls[index][:method], 
                        params: @form_urls[index][:params],
                        data: { turbo_stream: "", 
                            action: @action, 
                            turbo_frame: @turbo_frame,
                            bs_toggle: "tab",
                            stepper_wizard_target: "tab",
                            bs_target: "##{@title}-#{index}",
                            id: index,
                            index: index},
                        id: @tab_ids[index] || "#{@id}-#{index}-tab",
                        disabled: @disabled_indexes.include?(index) ? true : nil ,
                        class: "bs-nav-link bs-w-100 bs-text-start bs-py-3 bs-px-4 #{@active_tab_index == index ? 'bs-active' : ''}",
                        role: "tab", 
                        "aria-controls": "#{@id}-#{index}", 
                        "aria-selected": @active_tab_index == index ? 'true' : 'false' do %>
                        <%= tab %>
                    <% end %>
                <% else %>
                    <button
                        class="bs-nav-link <%= index == @active_tab_index ? 'bs-active' : '' %> bs-py-2 bs-px-4 <%= nav_link_class %>"
                        id="<%= @tab_ids[index] || "#{@id}-#{index}-tab" %>"
                        data-bs-toggle="tab"
                        data-stepper-wizard-target="tab"
                        data-bs-target="#<%= "#{@title}-#{index}" %>"
                        type="button"
                        style="min-width: 80px"
                        data-id="<%= index %>"
                        data-action="<%= @action %>"
                        data-index="<%= index %>"
                        role="tab"
                        aria-controls="<%= @id %>-<%= index  %>"
                        <% if @disabled_indexes.include?(index) %>disabled<% end %>
                        aria-selected="<%= index == @active_tab_index ? 'true' : 'false' %>"><%= tab %></button>
                <% end %>
            </li>
        <% end %>
    </ul>
    <div class="bs-tab-content bs-border bs-rounded-bottom bs-border-top-0 bs-p-4 <%= scroll_classes %> <%= @content_classes %>" style="height: <%= @height %>;">
        <% panels.each_with_index do |panel, index| %>
            <div data-stepper-wizard-target="panels" class="bs-tab-pane <%= @panel_height %> <%= index == @active_tab_index ? 'bs-show bs-active' : '' %>" id="<%= "#{@title}-#{index}" %>" role="tabpanel" aria-labelledby="<%= @tab_ids[index] || "#{@id}-#{index}-tab" %>"><%= panel %></div>
        <% end %>
    </div>
<% else %>
    <div class="bs-row bs-g-0 bs-h-100">
        <div class="<%=@bs_tab_class%>">
            <ul class="bs-nav bs-flex-column bs-nav-pills bs-h-100 bs-rounded-start bs-bg-white bs-p-4" id="<%= @title %>-bs-nav-tabs" role="tablist">
                <% tabs.each_with_index do |tab, index| %>
                    <li class="bs-nav-item">
                        <%# Condition if form_url present for index tab %>
                        <%if @form_urls[index]%>
                            <%= button_to @form_urls[index][:url], method: @form_urls[index][:method] || "get", data: { turbo_stream: "", action: @action, bs_toggle: "tab", bs_target: "##{@title}-#{index}", id: index}, id: "#{@id}-#{index}-tab", disabled: @disabled_indexes.include?(index) ? true : nil , class: "bs-nav-link bs-w-100 bs-text-start bs-py-3 bs-px-4 #{@active_tab_index == index ? 'bs-active' : ''}", role: "tab", "aria-controls": "#{@id}-#{index}", "aria-selected": @active_tab_index == index ? 'true' : 'false' do %>
                                <%= tab %><%= @show %>
                            <% end %>
                        <% else %>
                            <button
                                class="bs-nav-link bs-w-100 bs-text-start bs-pt-3 bs-px-4 bs-d-flex bs-align-items-center <%= index == @active_tab_index ? 'bs-active' : '' %>"
                                id="<%= @tab_ids[index] || "#{@id}-#{index}-tab" %>"
                                data-action="<%= @action %>"
                                data-bs-toggle="tab"
                                data-bs-target="#<%= "#{@title}-#{index}" %>"
                                type="button"
                                data-id="<%= index %>"
                                role="tab"
                                aria-controls="<%= @id %>-<%= index %>"
                                <% if @disabled_indexes.include?(index) %>disabled<% end %>
                                aria-selected="<%= index == @active_tab_index ? 'true' : 'false' %>"><%= tab %><%= @show %></button>
                        <% end %>
                        
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="<%= @bs_pannel_class %>">
            <div class="bs-tab-content bs-flex-grow-1 bs-rounded-end bs-p-4" style="background: <%= @pannel_background %>">
                <% panels.each_with_index do |panel, index| %>
                    <div class="bs-tab-pane <%= index == @active_tab_index ? 'bs-show bs-active' : '' %>" id="<%= "#{@title}-#{index}" %>" role="tabpanel" aria-labelledby="<%= @tab_ids[index] || "#{@id}-#{index}-tab" %>"><%= panel %></div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
