<div class="bs-form-check bs-form-check-inline bs-m-0 <%= @css_class %>" data-controller="toggle-hidden-field" data-toggle-hidden-field-target="parentTag" data-toggle-hidden-field-name-value= "<%= @name %>">
    <% if @default_value %>
        <input data-toggle-hidden-field-target="hiddenInput" type="hidden" name="<%= @name %>" value="false" <%= @disabled ? 'disabled' : '' %>>
    <% end %>
    <%= check_box_tag @name, @value, @checked, :id => @id,  data: custom_data, class: "bs-form-check-input bs-fs-5 #{@checkbox_classes}", disabled: @disabled %>
    <%= label_tag @id, class: "bs-form-check-label bs-text-body-secondary bs-mb-0 bs-mt-1 #{@label_classes}", title:  @title do %>
        <% if custom_label? %>
            <%= custom_label %>
        <% else %>
            <%= raw @label %>
        <% end %>
        <% if @platform_logo %>
            <%= sf "PlatformSupport", platform: @platform_logo %>
        <% end %>
        <% if @description %>
            <div class="bs-text-black-50 bs-fs-6"><%= raw @description %></div>
        <% end %>
    <% end %>
</div>
