<turbo-frame id="device_profiles">
    <turbo-frame id="<%= dom_id(@item) %>">
        <div class="tw-bg-white tw-border tw-p-8 tw-shadow bs-p-3 bs-my-3">
            <span class="font-semibold"><%= @item.name %></span>
            <br />
            <%= @item.mode %>
            <details data-controller="details-dialog" class="modal-details tw-m-t-2 tw-text-md tw-text-thin" data-action="toggle->details-dialog#toggleDialog keydown->details-dialog#closeOnEscape">
                <summary>Details</summary>
                <turbo-frame id="<%= dom_id(@item) %>" src="<%= hotwire_device_profile_path(@item) %>" loading="lazy">
                    <div class="modal bs-overflow-auto">
                        <div class="tw-p-10 bs-overflow-auto" id="modal-body">
                            <div class="bs-d-flex bs-flex-column tw-space-y-6">
                                <div class="tw-animate-pulse bs-d-flex tw-space-x-4">
                                    <div class="bs-flex-grow-1 tw-space-y-10 tw-py-1">
                                        <div class="tw-h-14 tw-bg-gray-400 tw-rounded"></div>
                                        <div class="tw-space-y-7">
                                            <% 10.times do %>
                                                <div class="tw-h-11 tw-bg-gray-400 tw-rounded"></div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </turbo-frame>
            </details>
        </div>
        <hr />
        <div>
        <turbo-frame id="published_data" src="<%= published_data_hotwire_brand_path(item) %>" loading="lazy">
        Loading
    </turbo-frame>
        <div>
            <input type="checkbox" name="device_profile_ids[]" checked="<%= @profile_ids.include? @item.id %>" value="<%= @item.id %>" id="<%= @item.id %>">
            <label for="<%= @item.id %>"><%= @item.name %></label>
        </div>
    </turbo-frame>
</turbo-frame>
    
