<% if custom_label? %>
    <%= custom_label %>
<% end %>
<% if @label.present? %>
  <label for="<%= @id %>" class="bs-form-label bs-fs-6 bs-text-body-secondary bs-mb-3 <%= @lable_classes %>"><%= raw @label %></label>
<% end %>
<input
  id="<%= @id %>" 
  <% if @pattern.present? %> pattern="<%= @pattern %>" <% end %>
  <% if @action %> data-action="<%= @action %>" <% end %>
  name="<%= @name %>"
  <% if @autofocus %> autofocus <% end %>
  value="<%= @value %>"
  <% if @max %> max="<%= @max %>" <% end %>
  <% if @min %> min="<%= @min %>" <% end %>
  <% if @minlength %> minlength="<%= @minlength %>" <% end %>
  <% if @maxlength %> maxlength="<%= @maxlength %>" <% end %>
  <% if @required %> required <% end %>
  <% if @readonly %> readonly <% end %>
  <% if @oninvalid %> oninvalid="<%=@oninvalid%>" <% end %>
  <% if @disabled %> disabled="<%=@disabled%>" <% end %>
  type="<%= @type %>" 
  <% if @data %> <%= @data %> <% end %>
  class="<%= @klasses %>"
  style="<%= @styles %>"
  placeholder="<%= @placeholder %>">
  <% if icon? %>
    <div class="bs-position-absolute bs-top-0 bs-bottom-0 bs-end-0 bs-pr-3 bs-d-flex bs-align-items-center">
          <%= icon %>
    </div>
  <% end %>