<div class="bs-d-flex bs-align-items-center bs-text-truncate <%= @classes %>">
    <% if icon? %>
        <%= icon %>
    <% end %>
    <div class="bs-text-truncate">
        <dt class="bs-fw-semibold bs-fs-6 bs-text-truncate bs-text-secondary"> 
            <% if title? %>
                <%= title %>
            <% else %>
                <%= raw @title %>
            <% end %>
        </dt>
        <dd class="bs-m-0 bs-text-truncate bs-d-flex bs-align-items-center bs-gap-3 bs-pt-1"><%= content %></dd>
    </div>
</div>