 <%= content_tag :div, data: { 
    controller: "nested-form",
    action: @action,
    nested_form_header_value: show_header,
    nested_form_key_placeholders_value: @key_placeholders.to_json,
    nested_form_max_count_value: @max_count,
    nested_form_value_placeholders_value: @value_placeholders.to_json,
    nested_form_hidden_class: "bs-d-none",
    nested_form_disabled_class: "bs-ui-disabled",
    nested_form_is_destory_input_value: @is_destory_input,
    nested_form_show_single_field_remove_button_value: @show_single_field_remove_button },
    class: @container_class do  %>
    <div class="mb-3" data-nested-form-target="links">
        <%= content_tag :div, class: "#{@label_class}" do %>
            <% if custom_label? %>
              <%= custom_label %>
            <% end %>

            <%= add_button_block %>
        <% end %>

        <div data-nested-form-target="header" class="bs-row bs-my-3 <%= "bs-d-none" unless show_header %>">
            <div class="bs-col-4">
                <%= I18n.t("common.type") %>
            </div>
            <div class="bs-col-4">
                <%= I18n.t("common.key") %>
            </div>
            <div class="bs-col-4">
                <%= I18n.t("common.value") %>
            </div>
        </div>
        <%= content %>
    </div>
    <!-- template lets this field hidden from form untill inserted in dom -->
    <%= content_tag "template", data: custom_data do %>
        <% if template? %>
            <%= template %>
        <% end %>
    <% end %>

    <%= add_button_bottom %>
<% end %>
