<% if @label.present? %>
    <label for="<%= @id %>" class="bs-form-label bs-fs-6 bs-text-body-secondary bs-mb-3"><%= @label %></label>
<% end %>
<input
  id="<%= @id %>" 
  name="<%= @name %>"
  value="<%= @value %>"
  <% if @min %> min="<%= @min %>" <% end %>
  <% if @max %> max="<%= @max %>" <% end %>
  <% if @start %> start="<%= @start %>" <% end %>
  <% if @step %> step="<%= @step %>" <% end %>
  <% if @required %> required <% end %>
  <% if @controller  %> data-controller="<%= @controller %>" <% end %>
  <% if @data != nil %> <%= @data %> <% end %>
  <% if @action.present? %> data-action="<%= @action %>" <% end %>
  <% if @disabled %> disabled <% end %>
  type="<%= @type %>" 
  class="bs-form-control"
  placeholder="<%= @placeholder %>"
>
