<button 
    data-modal-trigger-target-value="modal-<%= @id %>"
    data-controller="<%= @controller %>"
    <% if @disabled %> disabled <% end %>
    data-action="<%= @action %>"
    <% if @data != nil %> <%= @data %> <% end %>
    class="bs-btn <%= @variant == 'secondary' ? 'bs-btn-outline-secondary' : 'bs-btn-primary' %> <%= @variant == 'outlined' ? 'bs-btn-outline-secondary' : '' %> <%= @classes %>">
    <% if @without_children %>
        <%= content %>
    <% else %>
        <span><%= content %></span>
    <% end %>    
</button>
