<div data-controller="tabs"
    data-tabs-hidden-class="bs-d-none"
    data-tabs-active-class="tw-border-primary tw-text-primary focus:tw-text-primary-dark hover:tw-border-primary-dark"
    data-tabs-inactive-class="tw-border-transparent bs-text-black-50  hover:bs-border-border-dark"
    class="bs-h-100"
    data-tabs-active-tab="tw-border-primary tw-text-primary focus:tw-text-primary">
    <div class="bs-d-sm-none tw-pt-[14px]">
        <label for="tabs" class="tw-sr-only">Select a tab</label>
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select
            data-tabs-target="mobile"
            data-action="change->tabs#onSelect"
            class="bs-form-select">
            <% tabs.each_with_index do |tab, index| %>
                <option value="<%= index %>"><%= tab %></option>
            <% end %>
        </select>
        <%# panels.each do |panel| %>
            <!-- TODO: hide ultil OG panels are shown -->
            <!-- <div class="hidden tw-py-4 bs-h-100" data-tabs-target="panel"><%#= panel %></div> -->
        <%# end %>
    </div>
    <% if @type == 'border' %>
            <div class="bs-d-none bs-d-sm-flex">
                <nav class="tw--mb-px bs-d-flex tw-space-x-8" aria-label="Tabs">
                    <% tabs.each do |tab| %>
                        <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="tw-border-transparent bs-text-black-50  hover:tw-border-gray-300 tw-whitespace-nowrap tw-py-[12px] tw-px-[4px] bs-border-bottom-2 bs-fw-semibold "> <%= tab %> </a>
                    <% end %>
                </nav>
                <div class="bs-border-bottom"></div>
            </div>
            <% panels.each do |panel| %>
                <div class="bs-py-4 <%= @height %> bs-d-none" data-tabs-target="panel"><%= panel %></div>
            <% end %>
    <% else %>
        <div
            data-tabs-hidden-class="bs-d-none"
            data-tabs-active-class="tw-bg-primary bs-text-white focus:bs-text-white hover:bs-text-white"
            data-tabs-inactive-class="bs-text-black-50 "
            class="bs-h-100"
            data-tabs-active-tab="tw-bg-primary bs-text-white focus:bs-text-white hover:bs-text-white">
            <div>
                <nav class="bs-d-flex tw-space-x-4" aria-label="Tabs">
                    <% tabs.each do |tab| %>
                        <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="bs-text-black-50  tw-px-3 tw-py-2 bs-fw-semibold tw-rounded-md"> <%= tab %> </a>
                    <% end %>
                </nav>
            </div>
            <% panels.each do |panel| %>
                <div class="bs-d-none tw-py-4 bs-h-100" data-tabs-target="panel"><%= panel %></div>
            <% end %>
        </div>
    <% end %>
</div>
