<label for="<%= @id %>" class="bs-form-check-label bs-text-body bs-text-truncate" data-controller="tooltip"> 
    <% if group&.parent_id&.present? %>
        <i class="zmdi zmdi-arrow-split zmdi-hc-rotate-180 zmdi-hc-1x bs-me-2 bs-fs-5" data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="Sub Group"></i>
    <% else %>
        <i class="zmdi zmdi-circle bs-me-2 bs-fs-6" data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="Main Group"></i>
    <% end %>
    <% if group&.parent_id&.present? %>
        <span data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="<%= group&.hierarchical_name %>">
            <%= group&.name %>
        </span>
    <% else %>
        <span title="<%= group&.name %>">
            <%= group&.name %>
        </span>
    <% end %>
</label>
