<%= turbo_frame_tag dom_id(app), class: "bs-col-xs-12 bs-col-sm-6 bs-col-md-4 bs-col-lg-3 bs-col-xl-3 bs-col-xxl-2", data: { search_target:"item", name: @label } do %>
    <div class="bs-card bs-border-0 bs-shadow-sm bs-rounded-3">
        <div class="bs-p-3">
            <div class="bs-d-flex bs-align-items-center bs-text-truncate bs-gap-3 bs-overflow-visible bs-mt-3">
                <%= button_to emm_windows_catalog_app_path(app), 
                    method: :get, 
                    params: { windows_catalog_app_id: app&.id }, 
                    data: { turbo_frame: "windows_catalog_app_details" }, 
                    class: "bs-dropdown-item", 
                    disabled: !current_user.admin_parent.user_subscription.windows do %>
                    
                    <% if @is_catalog_app %>
                        <span class="app-store-logo store-logo-xl-hw bs-text-truncate"><%= app.app_store&.first_chars %></span>
                    <% else %> 
                        <%= image_tag @logo, height: 60, width: 60, class: "bs-rounded-3" %>
                    <% end %>
                <% end %>
                <%= content_tag :div, class: "bs-text-truncate" do %>
                    <span title="<%= @label %>"><%= @label %></span>
                    <br>
                    <span title="<%= app_description %>"><%= app_description %></span>
                <% end %>
            </div>
        </div>
        <div class="bs-card-body">
            <%= content %>
        </div>
        <% if footer? %>
            <div class="bs-card-footer bs-p-0">
                <%= footer %>
            </div>
        <% end %>
    </div>
<% end %>