<%= content_tag :div, class: "d-flex bs-align-items-center bs-gap-3 #{"bs-my-4" if show_search || actions? } #{@classes}" do %>
    <% if show_search %>
        <%= sf "SearchInput", id: @id, placeholder: @placeholder %>
    <% end %>
    <%= actions if actions? %>
<% end %>
<% if @warning_message.present? %>
    <%= sf "WarningMessage::", label: @warning_message, classes: "bs-py-2" %>
<% end %>
<%= content_tag :div, class: "bs-card bs-border bs-rounded", data: { controller: "select-all checkbox" } do %>
    <div class="bs-row bs-align-items-start bs-border-bottom bs-g-0 bs-shadow-sm bs-px-3">
        <% if headers? %>
            <% headers.each_with_index do |header, index| %>
                <%= header %>
            <% end %>
        <% else %>
            <% @headers.each_with_index do |header, index| %>
                <% if @is_select_all && index == 0 %>
                    <%= content_tag :div, class: "bs-form-check bs-form-check-inline bs-col-4 bs-m-0 bs-d-flex #{column_class(header)} #{header[:class]}" do %>
                        <input class="bs-form-check-input bs-mt-4" data-action="select-all#toggleAll" data-checkbox-target="selectAll" data-select-all-target="selectAll" id="bulk-bulk-delete-list" type="checkbox">
                        <label class="bs-form-check-label bs-p-3 bs-fw-semibold" for="bulk-bulk-delete-list">
                            <%= header[:label] %>
                        </label>
                    <% end %>
                <% else %>
                    <%= content_tag :div, header[:label], class: "bs-p-3 bs-fw-semibold #{column_class(header)} #{header[:class]} #{@header_classes}" %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <%= sf "SearchList", id: @id, controller: "search" do %>
        <%= content %>
    <% end %>
<% end %>