<% @id = @type =="checkbox" ? "#{dom_id(@radio_group)}" : "#{@group }_"+ "#{@type}_" + dom_id(@radio_group) %> 
<% if @radio_group.sub_groups.present? %>
    <!-- Single select  -->
    <details open="open" class="details-inner">
        <summary class="bs-d-flex bs-align-items-center summary" data-name="<%= group_n_sub_group_names(@radio_group) %>" class="bs-m-3" data-search-target="item">
            <div class="bs-form-check bs-ms-3 bs-my-2 bs-d-flex bs-align-items-center bs-w-100 bs-justify-content-between <%= "bs-ui-disabled" if disabled_selected_groups("#{@radio_group.class.to_s}-#{@radio_group.id}") %>">
                <div class="bs-col-5 bs-gap-2" >
                    <%= radio_button_tag "#{@name.present? ? @name : group_name_attr(checkbox_group, params)}", 
                    @radio_group.id, 
                    id: @id, 
                    class: "bs-form-check-input bs-fs-5",
                    data: @data.merge({
                        action: @checkbox_actions,
                        n_group_selector_target:"#{@type} checkbox",
                        type_id: "#{@radio_group&.class&.to_s}-#{@radio_group&.id}",
                        child_group_ids: @radio_group.child_group_ids,
                        n_group_selector_type_param: @radio_group.is_a?(DeviceGroup) ? "DeviceGroup" : "OrganizationUserGroup",
                        n_group_selector_group_param: @group,
                        orignal_name: @radio_group.name,
                        hierarchical_name: @radio_group.hierarchical_name,
                        parent_id: @radio_group.parent_id
                    })
                    %>
                    <label class="bs-form-check-label bs-m-0" for="<%= @id %>" title="<%= @radio_group.hierarchical_name %>">
                        <%= @radio_group.name %>
                    </label>
                    <% if (@show_badge_chip) %>
                        <% if !@radio_group.parent_id %>
                            <%= content_tag :div, @radio_group.class.to_s == "DeviceGroup" ? I18n.t("common.device_group") : I18n.t("common.user_group"), class: "bs-fs-7 bs-ms-2 bs-badge bs-bg-secondary" %>
                        <% end %>
                    <% end %>
                </div>   
                <div class="bs-w-100 bs-d-flex bs-justify-content-end bs-text-center" >
                <div class="bs-col">
                        <% if (@radio_group.is_a?(DeviceGroup)) %>
                            <%= content_tag :div, @group_device_counts[@radio_group.id], class: "bs-ms-auto" %>
                        <% end %>
                        <% if (@radio_group.is_a?(OrganizationUserGroup)) %>
                            <%= content_tag :div, @radio_group.o365? ? @radio_group.user_count : @group_user_counts[@radio_group.id], class: "bs-fs-7 bs-ms-auto" %>
                        <% end %>
                    </div>
                </div>    
            </div>
        </summary>
        <% if @radio_group.is_a?(group_type(@radio_group)) && include_groups_ids(@radio_group).include?(@radio_group.id) %>
            <% @radio_group.sub_groups.each do |sub_group| %>
                <% if include_groups_ids(@radio_group).include?(sub_group.id) %>
                    <div class="folder">
                        <%= sf "SingleSelectGroup::",
                            radio_group: sub_group,
                            group_device_counts: @group_device_counts,
                            group_user_counts: @group_user_counts,
                            organization_unit_counts: @organization_unit_counts,
                            name: @name,
                            include_device_groups_ids: @include_device_groups_ids,
                            include_user_groups_ids: @include_user_groups_ids,
                            include_organization_units_ids: @include_organization_units_ids,
                            type: @type,
                            group: @group,
                            disabled_selected_group: @disabled_selected_group,
                            show_badge_chip: @show_badge_chip,
                            checkbox_actions:@checkbox_actions,
                            data: @data %>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </details>
<% else %>
    <div class="bs-form-check bs-ms-3 bs-my-2 bs-d-flex bs-align-items-center bs-w-100 bs-justify-content-between <%= "bs-ui-disabled" if disabled_selected_groups("#{@radio_group.class.to_s}-#{@radio_group.id}") %>" data-name="<%= group_n_sub_group_names(@radio_group) %>" data-search-target="item">
        <div class="bs-col-5 bs-gap-2" >
            <%= radio_button_tag "#{@name.present? ? @name : group_name_attr(checkbox_group, params)}", 
                @radio_group.id, 
                id: @id, 
                class: "bs-form-check-input bs-fs-5",
                data: @data.merge({
                    action: @checkbox_actions,
                    n_group_selector_target:"#{@type} checkbox",
                    type_id: "#{@radio_group&.class&.to_s}-#{@radio_group&.id}",
                    child_group_ids: @radio_group.child_group_ids,
                    n_group_selector_type_param: @radio_group.is_a?(DeviceGroup) ? "DeviceGroup" : "OrganizationUserGroup",
                    n_group_selector_group_param: @group,
                    orignal_name: @radio_group.name,
                    hierarchical_name: @radio_group.hierarchical_name,
                    parent_id: @radio_group.parent_id
                })
                %>
            <label class="bs-form-check-label bs-m-0" for="<%= @id %>" title="<%= @radio_group.hierarchical_name %>">
                <%= @radio_group.name %>
            </label>
            <% if (@show_badge_chip) %>
                <% if !@radio_group.parent_id %>
                    <%= content_tag :div,
                        if @radio_group.class.to_s == "DeviceGroup"
                            I18n.t("common.device_group")
                        elsif @radio_group.class.to_s == "OrganizationUnit"
                            I18n.t("organizations.organization_unit")
                        else
                            I18n.t("common.user_group")
                        end,
                        class: "bs-fs-7 bs-ms-2 bs-badge bs-bg-secondary" %>
                <% end %>
            <% end %>
        </div>
        <div class="bs-w-100 bs-d-flex bs-justify-content-end bs-text-center" >
            <div class="bs-col">
                <% if (@radio_group.is_a?(DeviceGroup)) %>
                    <%= content_tag :div, @group_device_counts[@radio_group.id], class: "bs-ms-auto" %>
                <% end %>
                <% if (@radio_group.is_a?(OrganizationUserGroup)) %>
                    <%= content_tag :div, @radio_group.o365? ? @radio_group.user_count : @group_user_counts[@radio_group.id], class: "bs-fs-7 bs-ms-auto" %>
                <% end %>
                <% if (@radio_group.is_a?(OrganizationUnit)) %>
                    <%= content_tag :div, @organization_unit_counts[@radio_group.id], class: "bs-ms-auto" %>
                <% end %>
            </div>
         </div>
    </div>
<% end %>