<% if !@hide_bread_crumbs %>
    <nav class="bs-d-sm-none" aria-label="Back">
        <a href="#" class="bs-d-flex bs-align-items-center bs-fw-semibold bs-text-black-50 hover:tw-text-gray-200">
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="bs-d-flex-shrink-0 tw--ml-1 tw-mr-1 tw-h-5 tw-w-5 bs-text-black-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            Back
        </a>
        </nav>
        <nav class="bs-d-none bs-d-sm-flex" aria-label="Breadcrumb">
        <ol role="list" class="tw-p-0 bs-m-0 tw-list-none bs-d-flex bs-align-items-center tw-space-x-4 tw-mb-5">
            <li>
                <div>
                    <a href="<%= @home_url %>" class="bs-text-secondary ">
                    <!-- Heroicon name: solid/home -->
                    <% if @home_title.present? %>
                        <%= @home_title %>
                    <% else %>
                        <svg class="bs-d-flex-shrink-0 tw-h-7 tw-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                        </svg>
                    <% end %>
                    <span class="tw-sr-only">Home</span>
                    </a>
                </div>
            </li>
                <% links.each do |link| %>
                <li>
                    <div class="bs-d-flex bs-align-items-center">
                        <svg class="bs-d-flex-shrink-0 tw-h-5 tw-w-5 bs-text-black-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                       <%= link %>
                    </div>
                </li>
                <% end %>
        </ol>
    </nav>
<% end %>
<% if @title.present? %>
    <div class="bs-mt-3 bs-pb-4 bs-border-bottom bs-mb-4 bs-border-border-dark bs-d-sm-flex bs-align-items-sm-center bs-justify-content-sm-between ">
        <div>
            <h3 class="bs-fs-4 bs-fw-semibold  bs-m-0 "><%= @title %></h3>
        </div>
        <div class="bs-d-flex tw-rounded-md bs-align-items-center bs-mt-3 sm:tw-mt-0 sm:bs-ms-3">
            <%= content %>
        </div>
    </div>
<% end %>