<%= turbo_frame_tag dom_id(app), class: "bs-col-xs-12 bs-col-sm-6 bs-col-md-4 bs-col-lg-3 bs-col-xl-3 bs-col-xxl-2", data: { search_target:"item", name: @label } do %>
    <div class="bs-card bs-border-0 bs-shadow-sm bs-rounded-3">
        <div class="bs-p-3">
            <div class="bs-d-flex bs-align-items-center bs-text-truncate bs-gap-3 bs-overflow-visible">
                <%= button_to emm_android_google_play_app_path(app), target: "google_play_app_details", method: :get, data: { turbo_frame: "google_play_app_details" }, class: "bs-dropdown-item bs-mt-3", disabled: !current_user.admin_parent.user_subscription.android do %>
                    <% base64_placeholder = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" %>
                    <%= image_tag base64_placeholder, height: 60, width: 60, data: {controller: "lazy-load-images", lazy_load_images_target: "image", src: @logo }, class: "bs-rounded-3 fade-in" %>
                <% end %>
                <%= content_tag :div, @label, class: "bs-text-truncate bs-flex-grow-1 bs-mt-3" %>
                <div class="bs-align-self-start">
                    <%= sf "BsDropdown", title: "Options", id: "device-dropdown", width: "150px", classes: "bs-p-0 #{'bs-ui-disabled' unless current_user.admin_parent.user_subscription.android}" do |c| %>
                        <% c.with_title do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#838383" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                        <% end %>
                        <%= button_to emm_android_google_play_app_path(app), method: :get, data: {turbo_frame: "google_play_app_details" }, class: "automation_play_app_details bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#6f6f6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                            <%= t("common.details") %>
                        <% end %>
                        <% unless @rbac %>
                            <% if app&.play_app_permissions&.present? && app&.package != 'com.promobitech.mobilock.pro' %>
                                <%= button_to emm_android_google_play_app_play_app_permissions_path(app&.id), method: :get, params: { google_play_app_id: app&.id }, data: {turbo_frame: "play_app_permissions" }, class: "automation_play_app_permission bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#6f6f6f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
                                    <%= t("v2.emm.permissions.permission") %>
                                <% end %>
                            <% end %>
                            <%= button_to confirm_delete_emm_android_google_play_apps_path, params: { google_play_app_id: app&.id , uninstall: false }, method: :get, target: "confirm_delete", data: {turbo_frame: "confirm_delete" }, class: "automation_delete_google_play_app_delete bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger" do %> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                <%= t("common.delete") %>
                            <% end %>
                            <%= button_to confirm_delete_emm_android_google_play_apps_path, params: { google_play_app_id: app&.id , uninstall: true }, method: :get, target: "confirm_delete", data: {turbo_frame: "confirm_delete" }, class: "automation_delete_google_play_app_delete_and_uninstall bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger" do %> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                                <%= t("enterpriseStore.delete_and_uninstall") %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="bs-card-body">
            <%= content %>
        </div>
        <% if footer? %>
            <div class="bs-card-footer bs-p-0">
                <%= footer %>
            </div>
        <% end %>
    </div>
<% end %>
