<%= content_tag :div, data: { controller: "add-new-user-modal", add_new_user_modal_hidden_class: "bs-d-none", add_new_user_modal_disabled_class: "bs-ui-disabled"} do %>
    <%= form_with url: @form_url, method: :get, id: "add-new-user-form", html: { autocomplete: "off" }, data: { modal_form_target: "form" , turbo_frame: "device_count_modal"} do |form| %>
        <% if hidden_input? %>
            <%= hidden_input %>
        <% end %>
        <%= content_tag :div, class: "bs-mb-3" do %>
            <%= t("accounts.new_account_hints") %>
        <% end %>
        <%= content_tag :div, class: "bs-row" do %>
            <%= content_tag :h5, class: "bs-col-2" do %>
                <%= t("accounts.platform") %>
            <% end %>
            <%= content_tag :div, class: "bs-col bs-d-flex bs-flex-column" do %>
                <div class="bs-d-flex bs-gap-3">
                    <!-- all_mac_device -->
                    <%= sf "Checkbox", id: "all_mac_device",
                        name: "include_mac_devices",
                        label: t("accounts.all_mac_device"),
                        checked: false,
                        disabled: !current_user.admin_parent.user_subscription.macos,
                        value: "all_mac_device",
                        data: { action: "add-new-user-modal#validateInput", add_new_user_modal_target: "platformCheckbox"}
                    %>
                    <!-- all_windows_device -->
                    <%= sf "Checkbox", id: "all_windows_device",
                        name: "include_windows_devices",
                        label: t("accounts.all_windows_device"),
                        checked: false,
                        value: "all_windows_device",
                        disabled: !current_user.admin_parent.user_subscription.windows,
                        data: { action: "add-new-user-modal#validateInput", add_new_user_modal_target: "platformCheckbox"}
                    %>
                    <!-- all_linux_device -->
                    <%if @show_nix %>
                        <%= sf "Checkbox", id: "all_linux_device",
                            name: "include_linux_devices",
                            label: t("accounts.all_linux_device"),
                            checked: false,
                            disabled: !current_user.admin_parent.user_subscription.nix,
                            value: "include_nix_devices",
                        data: { action: "add-new-user-modal#validateInput", add_new_user_modal_target: "platformCheckbox"}
                        %>
                    <% end %>
                </div>
                <%= label_tag "", t("accounts.select_atleast_one_platform"), data: { add_new_user_modal_target: "platformError" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none bs-mt-1" %>
            <% end %>
            <!-- Username -->
            <%= sf "TextField::",
                name: "name", 
                value: "",
                type:"text",
                label: t("accounts.user_name"),
                maxlength: 30,
                data: {
                    add_new_user_modal_target: "userName",
                    action: "add-new-user-modal#validateUserName"
                }
            %>
            <%= label_tag  "", t("accounts.username_pattern_error"), data: { add_new_user_modal_target: "patternError" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none" %>
            <%= label_tag "", t("accounts.not_empty"), data: { add_new_user_modal_target: "emptyError" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none" %>
            <!-- Password -->
            <%= sf "PasswordField::", 
                label: t("common.password"), 
                name: "password", 
                maxlength: 32,
                minlength: 4,
                data: {
                    action: "add-new-user-modal#validatePassword",
                    add_new_user_modal_target: "password",
                    required_error: t("accounts.not_empty")
                }
            %>
            <%= label_tag "", t("accounts.not_empty"), data: { add_new_user_modal_target: "emptyPasswordError" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none" %>
            <%= label_tag "", t("accounts.mac_min_length_password_error"), data: { add_new_user_modal_target: "minPasswordError" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none" %>

            <!-- Group -->
            <%= sf "Select::",
                id: "id",
                name: "groups",
                label: t("common.group"),
                has_null_option: false,
                list: ['standard', 'admin'] %>
                
            <%= content_tag :div, class: "bs-mt-3" do %>
                <!-- hide_account_from_logon_first -->
                <%= content_tag :div, class: "bs-py-2" do %>
                    <%= sf "Checkbox",
                        id: "enforce_extension_in_incognito",
                        name: "hide_account_from_logon_list",
                        checked: false do |c| %>
                        <% c.with_custom_label do %>
                            <%= t("accounts.hide_account_from_logon_first") %>
                            <%= sf "PlatformSupport", platform: [:windows, :mac]%>
                        <% end %>
                    <% end %>
                <% end %>
                <!-- set_account_as_autologin -->
                <%= content_tag :div, class: "bs-py-2", data: { add_new_user_modal_target: 'selectAutoLoginParent'} do %>
                    <%= sf "Checkbox",
                        id: "set_account_as_autologin",
                        name: "set_account_as_autologin",
                        data: { add_new_user_modal_target: 'selectAutoLogin', action: 'change->add-new-user-modal#validateInput' },
                        checked: false do |c| %>
                        <% c.with_custom_label do %>
                            <%= t("accounts.set_account_as_autologin") %>
                            <%= sf "PlatformSupport", platform: [:windows]%>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>