<div class="bs-accordion <%= @remove_margin_padding? "" : "bs-mb-4" %>">
  <div class="bs-accordion-item">
    <h2 class="bs-accordion-header bs-d-flex" id="headingOne">
        <a href="#" class="bs-accordion-button w-100 reverse-button bs-px-4 bs-py-0 <%= @is_open? "" : "bs-collapsed" %>" type="button" data-bs-toggle="collapse" data-bs-target="#<%= @id %>" aria-expanded="true" aria-controls="<%= @id %>" data-action="<%= @action %>">
          <% if header? %>
              <h3 class="bs-text-secondary bs-fs-5 w-100 bs-m-0">
                  <%= header %>
              </h3>
          <% else %>
              <%= @title %>
          <% end %>
        </a>
      <% if actions? %>
        <%= actions %>
      <% end %>
    </h2>
    <div id="<%= @id %>" class="bs-accordion-collapse bs-collapse <%= @is_open? "bs-show" : "" %>" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="<%= @remove_margin_padding? "" : "bs-accordion-body bs-p-4" %>">
        <%= content %>
      </div>
    </div>
  </div>
</div>