<% if can_perform_action? %>
    <!-- Update device name -->
    <% if is_nix || show_chromeos_actions %>
        <li>
            <button
                type="button"
                data-action="dropdown#toggleMenu"
                class="bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"
                data-bs-toggle="modal" data-bs-target="#rename-device">
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
                <span><%= I18n.t('devices.detail_menu.change_name') %></span>
            </button>
        </li>
    <% end %>
    <!-- Update device name - tvOS -->
    <% if is_tvos %>
        <%= button_to update_modal_device_path(device), method: :get, params: { type: "name" }, data: { turbo_frame: "update_device_modal" }, class: "automation_rename_device_modal bs-dropdown-item bs-py-3 bs-d-flex bs-gap-3 bs-align-items-center" do %>
            <i class="bs-fs-4 zmdi zmdi-edit"></i>
            <%= t("devices.detail_menu.change_name") %>
        <% end %>
    <% end %>
    <% if can_show_add_user %>
        <li>
            <hr class="bs-dropdown-divider" />
        </li>
        <% if ENV['ENABLE_NIX_USER_MANAGEMENT'] == "true" %>
            <%# add upgrade tree if UAM is disabled for owner's subs | disable button if readonly user %>
            <li>
                <% if helpers.nix_user_management_disabled? %>
                    <%= sf "UpgradePlan", current_user: user, centered_element: false do |c| %>
                        <% c.with_button do %>
                            <button
                            type="button"
                            class="bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center">
                            <i class="zmdi zmdi-accounts fs-20 bs-text-secondary"></i>
                            <span>Add User</span>
                            </button>
                        <% end %>
                    <% end %>
                <% else %>
                    <button
                        type="button"
                        data-action="dropdown#toggleMenu"
                        class="bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center <%= helpers.disable_readonly_nix_user?(device) %>"
                        data-bs-toggle="modal" data-bs-target="#add-nix-user">
                        <i class="zmdi zmdi-accounts fs-20 bs-text-secondary"></i>
                        <span>Add User</span>
                    </button>
                <% end %>
            </li>
            <li><hr class="bs-dropdown-divider" /></li>
        <% end %>
    <% end %>
    <% if is_android %>
        <li>
            <button
                data-bs-toggle="modal" data-bs-target="#update-exit-password-device"
                data-controller="modal-trigger"
                data-action="modal-trigger#launch" class="bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" role="menuitem" tabindex="-1" id="menu-item-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                </svg>
                <span><%= t('common.changeExitPasscode') %></span>
            </button>
        </li>
    <% end %>
    <!-- Lock/Unlock device -->
    <% if device.activated && can_lock_unlock %>
        <% lock_unlock_title = device.locked ? I18n.t('devices.unlock') : I18n.t('devices.lock') %>
        <%= form_with url: lock_unlock_user_v3_devices_path(user_id: user.id), method: :post do |form| %>
            <%= form.hidden_field "to_device_ids[]", value: device.id %>
            <%= form.hidden_field "locked", value: device.unlocked_by_admin? ? true : false %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <%= form.hidden_field "confirm_action[title]", value: lock_unlock_title %>
            <%= form.hidden_field "confirm_action[msg]", value: I18n.t(device.locked ? 'devices.unlock_confirmation' : 'devices.lock_confirmation') %>
            <li>
                <%= button_tag( data: { action: "dropdown#toggleMenu" }, :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                    <% if device.locked %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                            <path d="M18 1.5c2.9 0 5.25 2.35 5.25 5.25v3.75a.75.75 0 01-1.5 0V6.75a3.75 3.75 0 10-7.5 0v3a3 3 0 013 3v6.75a3 3 0 01-3 3H3.75a3 3 0 01-3-3v-6.75a3 3 0 013-3h9v-3c0-2.9 2.35-5.25 5.25-5.25z" />
                        </svg>
                    <% else %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
                        </svg>
                    <% end %>
                    <span><%= lock_unlock_title %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if show_printer_actions(:print_test_page) %>
        <%= form_with url: print_test_page_v3_printer_device_action_path(device), method: :post do |form| %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag({:onclick => "return confirm('#{I18n.t('printer.brother_printer.device_details.print_test_page_warning')}')", :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"}) do %>
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 6H13V0H3V6H2C0.89 6 0 6.9 0 8V15H16V8C16 6.9 15.11 6 14 6ZM5 2H11V6H5V2ZM14 13H2V8H14V13ZM13 11H9V9H13V11Z" fill="#59626A"/>
                    </svg>
                    <span><%= t('printer.brother_printer.device_details.print_test_page') %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if device.activated && (is_nix || show_chromeos_actions || show_printer_actions || is_tvos) %>
        <li>
            <%= button_to refresh_settings_v3_device_path(device), method: :put, params: {platform: device.os.downcase}, data: { action: "dropdown#toggleMenu" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                    <path fill-rule="evenodd" d="M12 5.25c1.213 0 2.415.046 3.605.135a3.256 3.256 0 013.01 3.01c.044.583.077 1.17.1 1.759L17.03 8.47a.75.75 0 10-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 00-1.06-1.06l-1.752 1.751c-.023-.65-.06-1.296-.108-1.939a4.756 4.756 0 00-4.392-4.392 49.422 49.422 0 00-7.436 0A4.756 4.756 0 003.89 8.282c-.017.224-.033.447-.046.672a.75.75 0 101.497.092c.013-.217.028-.434.044-.651a3.256 3.256 0 013.01-3.01c1.19-.09 2.392-.135 3.605-.135zm-6.97 6.22a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.752-1.751c.023.65.06 1.296.108 1.939a4.756 4.756 0 004.392 4.392 49.413 49.413 0 007.436 0 4.756 4.756 0 004.392-4.392c.017-.223.032-.447.046-.672a.75.75 0 00-1.497-.092c-.013.217-.028.434-.044.651a3.256 3.256 0 01-3.01 3.01 47.953 47.953 0 01-7.21 0 3.256 3.256 0 01-3.01-3.01 47.759 47.759 0 01-.1-1.759L6.97 15.53a.75.75 0 001.06-1.06l-3-3z" clip-rule="evenodd" />
                </svg>
                <span><%= t('devices.refresh_settings') %></span>
            <% end %>
        </li>
        <li>
            <hr class="bs-dropdown-divider" />
        </li>
    <% end %>
    <% if show_clear_browser_cache %>
        <%= form_with url: clear_cache_user_v3_browser_shortcuts_path(user.id), method: :post do |form| %>
            <%= form.hidden_field "devices", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag({:onclick => "return confirm('Are you sure to delete this device profile?')", :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"}) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd" />
                    </svg>
                    <span>
                        <%= is_android ? I18n.t('devices.clear_mlp_browser_cache_android') : "" %>
                        <%= is_ios ? I18n.t('devices.clear_mlp_browser_cache_ios') : "" %>
                    </span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if is_windows %>
        <%= form_with url: awake_user_v3_devices_path(:user_id => user.id), method: :put do |form| %>
            <%= form.hidden_field "device_ids", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            </li>
                <%= button_tag(type: 'submit', data: { action: "dropdown#toggleMenu" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                    <span><%= t('devices.detail_menu.nudge') %></span>
                <% end %>
            </li>
            <li>
                <hr class="bs-dropdown-divider" />
            </li>
        <% end %>
    <% end %>
    <% if device.device_profile.present? && (device.device_group.nil? && device.user_group.nil?) && !is_printer %>
        <%= form_with url: remove_from_profile_v3_device_path(device), method: :delete, id: "delete-device-profile" do |form| %>
            <%= form.hidden_field "profile_id", value: device.device_profile.id %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <%= form.hidden_field "confirm_action[title]", value: t('devices.detail_menu.remove_from_profile') %>
            <%= form.hidden_field "confirm_action[msg]", value: "#{I18n.t('devices.confirm_device_removal_from_profile')} #{device.device_profile.name}" %>
            <li>
                <%= button_tag( data: { controller: "loader", loader_target: "button", loader_target_value: "device-profile-details" }, :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z" clip-rule="evenodd" />
                    </svg>
                    <%= t('devices.detail_menu.remove_from_profile') %>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if !is_chromeos %>
        <% if device.device_group.present? && !device.factory_reset? %>
            <%= form_with url: remove_devices_v3_device_group_path(:id => device.device_group.id), method: :put, id: "delete-device-group" do |form| %>
                <%= form.hidden_field "device_ids", value: device.id %>
                <%= form.hidden_field "platform", value: device.os.downcase %>
                <%= form.hidden_field "confirm_action[title]", value: t('devices.detail_menu.remove_from_device_group') %>
                <%= form.hidden_field "confirm_action[msg]", value: "#{I18n.t('devices.confirm_device_removal_from_group')} #{device.device_group.name}" %>
                <li>
                    <%= button_tag( data: { controller: "loader", loader_target: "button", action: "dropdown#toggleMenu", loader_target_value: "device-profile-details" }, :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z" clip-rule="evenodd" />
                        </svg>
                        <%= t('devices.detail_menu.remove_from_device_group') %>
                    <% end %>
                </li>
            <% end %>
            <% if !is_printer %>
                <% if can_assign_user %>
                    <li>
                        <%= button_to assignable_user_list_v3_device_path(device), method: :get, params: {platform: device.os.downcase}, target: "assignable_user_list",data: { action: "dropdown#toggleMenu", turbo_frame: "assignable_user_list" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                            <span class="material-icons bs-fs-4 bs-text-secondary">
                                person
                            </span>
                            <span><%= t('devices.detail_menu.assign_user') %></span>
                        <% end %>
                    </li>
                <% else %>
                <%= form_with url: unassign_user_v3_device_path(device), method: :put do |form| %>
                    <%= form.hidden_field "platform", value: device.os.downcase %>
                        <li>
                            <%= button_tag({:onclick => "return confirm('#{I18n.t('devices.detail_menu.unassign_user_warning')}')", :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"}) do %>
                                <span class="material-icons bs-fs-4 bs-text-secondary">
                                    person_off
                                </span>
                                <span><%= t('devices.detail_menu.unassign_user') %></span>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
            <li>
                <hr class="bs-dropdown-divider" />
            </li>
        <% else %>
            <% if device.user_group.nil? && device.mode != 'byod' && show_printer_actions %>
                <li>
                    <button
                        data-bs-toggle="modal" data-bs-target="#add-device-group"
                        data-action="dropdown#toggleMenu" class="bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" role="menuitem" tabindex="-1" id="menu-item-4">
                        <span class="material-icons bs-fs-4 bs-text-secondary">
                            workspaces
                        </span>
                        <span><%= t('devices.detail_menu.add_to_device_group') %></span>
                    </button>
                </li>
            <% elsif device.tvos? && device&.activated && (!device&.device_group && !device&.user_group) && device&.mode != 'byod' && device&.mode != 'user_enrolled' && ((user.permissions & ['DeviceGroup']).length > 0) %>
                <!-- this will got to devices_controller not the v3/devices_controller -->
                <%= button_to add_device_group_modal_device_path(device), data: { turbo_frame: "add_device_group_modal" }, method: :get, class: "automation_full_device_info_modal bs-dropdown-item bs-py-3 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                    <i class="bs-fs-4 zmdi zmdi-devices"></i>
                    <%= t("devices.detail_menu.add_to_device_group") %>
                <% end %>
            <% end %>

            <% if !is_printer %>
                <% if can_assign_user %>
                    <li>
                        <%= button_to assignable_user_list_v3_device_path(device), method: :get, params: {platform: device.os.downcase}, target: "assignable_user_list",data: { action: "dropdown#toggleMenu", turbo_frame: "assignable_user_list" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                            <span class="material-icons bs-fs-4 bs-text-secondary">
                                person
                            </span>
                            <span><%= t('devices.detail_menu.assign_user') %></span>
                        <% end %>
                    </li>
                <% else %>
                    <%= form_with url: unassign_user_v3_device_path(device), method: :put do |form| %>
                        <%= form.hidden_field "platform", value: device.os.downcase %>
                        <%= form.hidden_field "confirm_action[title]", value: t('devices.detail_menu.unassign_user') %>
                        <%= form.hidden_field "confirm_action[msg]", value: I18n.t('devices.detail_menu.unassign_user_warning') %>
                        <li>
                            <%= button_tag(:class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                                <span class="material-icons bs-fs-4 bs-text-secondary">
                                    person_off
                                </span>
                                <span><%= t('devices.detail_menu.unassign_user') %></span>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            <% end %>
            <% if show_printer_actions %>
                <li>
                    <hr class="bs-dropdown-divider" />
                </li>
            <% end %>
        <% end %>
    <% end %>
    <% if can_show_lost_option %>
        <li>
            <a href="#" data-modal-trigger-target-value="modal-mark-device-lost"
                data-controller="modal-trigger"
                data-action="click->modal-trigger#launch" class="bs-btn bs-btn-link" role="menuitem" tabindex="-1" id="menu-item-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                </svg>
                <span><%= t('devices.detail_menu.mark_lost') %></span>
            </a>
        </li>
    <% end %>
    <% if show_printer_actions && device.make == 'Zebra' %>
        <li>
            <%= button_to bug_reports_path(device), method: :get,  data: { turbo_stream: "", turbo_frame: "printer_device_system_logs" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                <span class="material-icons bs-fs-4 bs-text-secondary">
                    description
                </span>
                <span><%= t('devices.detail_menu.printer_system_logs') %></span>
            <% end %>
        </li>
        <li>
            <hr class="bs-dropdown-divider" />
        </li>
    <% end %>
    <% if chromeos_can_show_lost_option %>
        <li>
            <%= button_to mark_and_lost_modal_user_v3_devices_path(device), params: { id: device.id, platform: device.os.downcase}, method: :get, target: "chrome_mark_lost_and_found_device", data: {turbo_frame: "chrome_mark_lost_and_found_device" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                </svg>
                <%= I18n.t('devices.detail_menu.mark_lost') %>
            <% end %>
        </li>
    <% end %>
    <% if chromeos_can_show_unmark_lost_option %>
        <li>
            <%= button_to mark_and_lost_modal_user_v3_devices_path(device), params: { id: device.id, platform: device.os.downcase}, method: :get, target: "chrome_mark_lost_and_found_device", data: {turbo_frame: "chrome_mark_lost_and_found_device" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center" do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                </svg>
                <%= I18n.t('devices.detail_menu.mark_found') %>
            <% end %>
        </li>
    <% end %>
    <% if show_chromeos_actions %>
        <li>
            <%= button_tag(type: 'button', class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center", data: { bs_toggle: "modal", bs_target:"#chromeos-clear-user-profile"}) do %>
                <span class="material-icons bs-fs-4">
                    clear_all
                </span>
                <%= t("devices.detail_menu.clear_user_profile") %>
            <% end %>
        </li>
    <% end %>
    <% if can_show_unmark_lock_option %>
        <%= form_with url: unmark_lost_v3_emm_apple_device_action_path(device), method: :post do |form| %>
            <%= form.hidden_field "device_ids", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag(type: 'submit', class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                    </svg>
                    <span><%= t('devices.detail_menu.unmark_lost') %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if device.activated && device.emm_managed %>
        <%= form_with url: lock_screen_v3_emm_android_device_action_path(device), method: :post do |form| %>
            <%= form.hidden_field "device[id]", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag({:onclick => "return confirm('Are you sure to lock screen?')", :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"}) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                        <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
                    </svg>
                    <span><%= t('devices.detail_menu.lock_screen') %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if can_reboot %>
        <% reboot_title = is_printer ? t('devices.detail_menu.printer_reboot') : t('devices.detail_menu.reboot') %>
        <%= form_with url: reboot_v3_device_path(device), method: :put do |form| %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <%= form.hidden_field "confirm_action[title]", value: reboot_title %>
            <%= form.hidden_field "confirm_action[msg]", value: I18n.t('devices.detail_menu.reboot_warning') %>
            <li>
                <%= button_tag(:class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center") do %>
                    <span class="material-icons bs-fs-4 bs-text-secondary">
                        restart_alt
                    </span>
                    <span><%= reboot_title %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if is_mac || show_apple_actions || device.nix? || ( show_printer_actions(:shutdown) )%>
        <%= form_with url: shutdown_v3_device_path(device), method: :put do |form| %>
            <%= form.hidden_field "devices", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag({onclick: is_printer ? "return confirm('#{j(I18n.t('devices.detail_menu.printer_shutdown_warning'))}')" : "return confirm('#{j(I18n.t('devices.detail_menu.shutdown_warning'))}')", class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"
                    }
                    ) do %>
                    <span class="material-icons bs-fs-4 bs-text-secondary">
                        power_settings_new
                    </span>
                    <span><%= is_printer ? t('devices.detail_menu.printer_shutdown') : t('devices.detail_menu.shutdown') %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if is_android %>
        <li>
            <a href="#" class="bs-btn bs-btn-link bs-text-danger" role="menuitem" tabindex="-1" id="menu-item-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="15" width="15">
                    <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v9a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM6.166 5.106a.75.75 0 010 1.06 8.25 8.25 0 1011.668 0 .75.75 0 111.06-1.06c3.808 3.807 3.808 9.98 0 13.788-3.807 3.808-9.98 3.808-13.788 0-3.808-3.807-3.808-9.98 0-13.788a.75.75 0 011.06 0z" clip-rule="evenodd" />
                </svg>
                <span><%= t('devices.detail_menu.shutdown_device.title') %></span>
            </a>
        </li>
    <% end %>
    <% unless device.factory_reset? || device.deprovisioned? %>
        <li>
            <hr class="bs-dropdown-divider" />
        </li>
    <% end %>
    <% if is_ios %>
        <li>
            <a href="#" data-modal-trigger-target-value="modal-clear-passcode"
                data-controller="modal-trigger"
                data-action="click->modal-trigger#launch" class="bs-btn bs-btn-link" role="menuitem" tabindex="-1" id="menu-item-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="bs-icon bs-text-secondary bs-me-0" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z" clip-rule="evenodd" />
                </svg>
                <span><%= t('devices.detail_menu.clear_passcode') %></span>
            </a>
        </li>
        <%= form_with url: screen_lock_v3_emm_apple_device_action_path(device), method: :post do |form| %>
            <%= form.hidden_field "device[id]", value: [device.id] %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag({:onclick => "return confirm('Are you sure to lock screen?')", :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center"}) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="bs-icon bs-text-secondary bs-me-0">
                        <path d="M10.5 18a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z" />
                        <path fill-rule="evenodd" d="M7.125 1.5A3.375 3.375 0 003.75 4.875v14.25A3.375 3.375 0 007.125 22.5h9.75a3.375 3.375 0 003.375-3.375V4.875A3.375 3.375 0 0016.875 1.5h-9.75zM6 4.875c0-.621.504-1.125 1.125-1.125h9.75c.621 0 1.125.504 1.125 1.125v14.25c0 .621-.504 1.125-1.125 1.125h-9.75A1.125 1.125 0 016 19.125V4.875z" clip-rule="evenodd" />
                    </svg>

                    <span><%= t('devices.detail_menu.lock_screen') %></span>
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if is_nix || show_chromeos_actions || show_printer_actions || is_tvos %>
        <%= button_tag({data: { action: "dropdown#toggleMenu modal-trigger#launch", bs_toggle: "modal",  bs_target: "#factory-reset-device" }, :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger"}) do %>
            <span class="material-icons bs-fs-4">
                recycling
            </span>
            <span><%= I18n.t('devices.detail_menu.factory_reset') %></span>
        <% end %>
    <% end %>
    <% if !is_printer && (show_chromeos_actions || device.factory_reset?) %>
        <%= button_tag({data: { action: "dropdown#toggleMenu modal-trigger#launch", bs_toggle: "modal",  bs_target: "#deprovision-device" }, :class => "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger"}) do %>
            <span class="material-icons bs-fs-4">
                block
            </span>
            <span><%= I18n.t('devices.detail_menu.deprovision') %></span>
        <% end %>
    <% end %>
    <% if !device.lost_mode_applied && can_show_android_lost_option %>
        <%= form_with url: factory_reset_user_v3_devices_path(:user_id => user.id), method: :post do |form| %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag(type: 'submit', class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                    Mark lost
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if device.lost_mode_applied && can_show_android_lost_option %>
        <%= form_with url: factory_reset_user_v3_devices_path(user_id: user.id), method: :post do |form| %>
            <%= form.hidden_field "platform", value: device.os.downcase %>
            <li>
                <%= button_tag(type: 'submit', class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                    </svg>
                    Mark found
                <% end %>
            </li>
        <% end %>
    <% end %>
<% end %>

<% if (!device.chromeos? || device.deprovisioned) %>
    <%= button_tag({data: { action: "dropdown#toggleMenu", bs_toggle: "modal", bs_target: "#delete-device-modal" }, class: "bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center bs-text-danger"}) do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="15" width="15">
            <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
        </svg>
        <span><%= I18n.t('devices.detail_menu.delete') %></span>
    <% end %>
<% end %>
