<div class="bs-py-3 bs-position-relative bs-file-input-container bs-my-3 bs-bg-body">
    <label for="<%= @id %>" data-branding-target="<%= label_name %>" class="bs-text-center bs-text-body-secondary bs-file-input-label bs-d-flex bs-align-items-center bs-justify-content-center bs-flex-column bs-position-absolute bs-top-0 bs-start-0 bs-bottom-0 bs-end-0 bs-hover-opacity bs-text-dark bs-border-primary bs-p-2 bs-m-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cloud-arrow-up-fill bs-text-secondary" viewBox="0 0 16 16">
            <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
        </svg>
        <% if custom_label? %>
            <div class="bs-text-center">
                <%= custom_label %>
            </div>
        <% else %>
            <%= @label %>
        <% end %>
    </label>
    <div
        data-controller="remove-attachment"
        data-action="<%= @action %>"
        data-remove-attachment-name-value="<%= @remove_attr_name %>"
        data-remove-attachment-size-allowed-value="<%= @size_allowed %>"
        data-remove-attachment-message-value="<%= file_size_error_message %>"
        data-remove-attachment-zip-preview-value="<%= asset_path('v2/icons/ic_zip@2x.png') %>"
        data-remove-attachment-ogg-preview-value="<%= asset_path('v2/icons/ic_audio@2x.png') %>"
        data-remove-attachment-wav-preview-value="<%= asset_path('v2/icons/ic_audio@2x.png') %>"
        data-remove-attachment-mp3-preview-value="<%= asset_path('v2/icons/ic_audio@2x.png') %>"
        data-remove-attachment-qmg-preview-value="<%= asset_path('v2/icons/ic-qmg-format.svg') %>"
        data-remove-attachment-pem-preview-value="<%= asset_path('v2/icons/pem.png') %>"
        data-remove-attachment-rtf-preview-value="<%= asset_path('v2/icons/ic-rtf.svg') %>"
        data-remove-attachment-rtfd-preview-value="<%= asset_path('v2/icons/ic_zip@2x.png') %>"
        data-remove-attachment-scr-preview-value="<%= asset_path('v2/icons/ic-scr-file.svg') %>"
        data-remove-attachment-json-preview-value="<%= asset_path('v2/icons/ic-api.svg') %>"
        data-remove-attachment-cer-preview-value="<%= asset_path('v2/icons/ic-cer-format.svg') %>"
        data-remove-attachment-crt-preview-value="<%= asset_path('v2/icons/ic-crt-format.svg') %>"
        data-remove-attachment-x509-preview-value="<%= asset_path('v2/icons/ic-file-format.svg') %>"
        data-remove-attachment-sh-preview-value="<%= asset_path('v2/icons/sh-file.svg') %>"
        data-remove-attachment-file-type-value="<%= @file_type %>">
        <%= @file_field.file_field @name,
                id: @id,
                accept: @file_type,
                disabled: @disabled,
                data: file_field_data,
                value: @value,
                class: "bs-file-input bs-position-absolute bs-top-0 bs-start-0 bs-bottom-0 bs-end-0 #{'bs-d-none' if @value.present?}"  %>
        <img class="bs-file-input-img bs-position-absolute bs-top-0 bs-start-0 bs-bottom-0 bs-end-0 bs-object-fit-cover bs-rounded <%= "bs-d-none" unless @value.present? %>"
            data-remove-attachment-target="thumb"
            data-branding-target="<%= "#{"thumb" if @name == "brand[lockscreen_wallpaper]"}" %>"
            <%= @external_target %> 
            src="<%= image_src %>"
            alt="walpaper"
            height="120"
            width="120">
        <div data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="<%= (@file_name.nil? || @file_name.empty?) ? " " : @file_name %>" data-remove-attachment-target="preview" class="bs-file-preview bs-rounded bs-fs-6 bs-d-flex bs-align-items-center bs-justify-content-center bs-gap-3 bs-position-absolute bs-top-0 bs-start-0 bs-bottom-0 bs-end-0 bs-bg-dark bs-hover-opacity bs-text-light <%= "remove_#{@id}" %> <%= "bs-d-none" unless @value.present? %>">
            <div data-action="click->remove-attachment#removeAttachment click-><%= @external_action if @external_action.present? %>" id="remove-attachement">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill bs-text-light" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </div>
            <% if @download_link.present? %>
                <%= link_to @download_link, target: "_blank", data: { turbo: false }, download: @file_name || "script.sh"  do %> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download">
                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                        <polyline points="7 10 12 15 17 10"/>
                        <line x1="12" y1="15" x2="12" y2="3"/>
                    </svg>
                <% end %>
            <% end %>
        </div>

        <input type="hidden" data-remove-attachment-target="input" data-branding-target="<%= "#{"input" if @name == "brand[lockscreen_wallpaper]"}" %>" name=""  value="true">
    </div>
</div>
