<% if !@owner.in_trial? %>
    <% if !@user.can_work?  %>
        <div class="bs-row">
            <div class="bs-lg-col-8">
                <div class="bs-bg-warning bs-py-4 text-center bs-px-4 bs-rounded">
                    <h3 class="bs-text-center">
                        <%= I18n.t("v2.licenses.need_license_purchase",site_title: "Scalefusion") %>
                    </h3>
                    <% if !(@owner.user_subscription.single_mode? && @owner.licence.nil?) %>
                        <div class="bs-pb-3 bs-text-center">
                            <%= link_to user_v3_plans_path(@user, renew_plan: false, upgrade_plan: false) ,class: "bs-btn bs-btn-primary" do %> 
                                <%= I18n.t("v2.licenses.view_plans") %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <% if @user.can_work?  &&  @licences.length == 0 %>
        <div class="bs-row">
            <div class="bs-lg-col-8">
                <div class="bs-bg-success bs-py-4">
                <h3 class="bs-text-light text-center">
                    <%= I18n.t("common.trial_ends_today") if (@owner.trial_end_date - Date.today).to_i == 0 %>
                    <%= I18n.t("v2.licenses.in_trial",endDays: (@owner.trial_end_date - Date.today).to_i) if (@owner.trial_end_date - Date.today).to_i > 0 %>
                </h3>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
