 <div data-controller="turbo-modal modal-form" data-turbo-modal-modal-id-value="<%= @id %>" data-turbo-modal-turbo-frame-id-value="<%= @turbo_frame_id %>" data-turbo-modal-hide-modal-form-ids-value="<%= @hide_modal_form_ids %>" data-turbo-modal-modal-hide-statuses-value="<%= @modal_hide_statuses %>">
    <div data-turbo-modal-target="modalContainer">
        <div
            data-action="<%= @close_on_submit == true ? "turbo:submit-end->turbo-modal#submitEnd " : "" %>
            <%= @keyboard ? "keyup@window->turbo-modal#closeWithKeyboard #{@handle_modal_close.present? ? "keyup@window->#{@handle_modal_close}" : '' }" : "" %> turbo:submit-start->turbo-modal#onSubmitStart <%= @turbo_submit %> "
            data-bs-backdrop="<%=@backdrop%>"
            class="bs-modal bs-fade" id="<%= @id %>" data-bs-keyboard="<%= @keyboard %>" data-turbo-modal-target="modal" tabindex="-1" aria-labelledby="<%= @id %>ModalLabel" aria-hidden="true">
            <div class="bs-modal-dialog bs-modal-dialog-centered <%= "bs-modal-dialog-scrollable" if @scroll %> <%= @size %>">
                <div class="bs-modal-content bs-bg-body bs-card <%= @classes %>">
                    <% if @show_header %>
                        <div class="bs-modal-header bs-card-header bs-p-4 <%= "bs-d-flex bs-align-items-start" if header.present? %>">
                            <h5 class="bs-modal-title bs-text-truncate bs-w-100 <%= @title_class %>" id="<%= @id %>ModalLabel">
                                <% if header? %>
                                    <%= header %>
                                <% else %>
                                    <%= @title %>
                                <% end %>
                            </h5>
                            <% if @show_dismiss_btn %>
                                <button type="button" class="bs-btn-close" data-action="turbo-modal#hideModal <%= @handle_modal_close %>"></button>
                            <% end %>
                        </div>
                    <% end %>
                    <div class="bs-modal-body bs-scroll-sm <%= @modal_body_class %>" style="height: <%= @height %>"><%= content %></div>
                    <% if footer? %>
                        <%= content_tag :div, class: @footer_classes do %>
                            <% if @is_destructive_action %>
                                <%= footer %>
                                <% if @show_cancel_button %>
                                    <button type="button" class="bs-btn bs-btn-outline-secondary" data-action="turbo-modal#hideModal <%= @handle_modal_close %>" aria-label="Close"><%= I18n.t("common.cancel") %></button>
                                <% end %>
                            <% else %>
                                <% if @show_cancel_button %>
                                    <button type="button" class="bs-btn bs-btn-outline-secondary bs-me-3" data-action="turbo-modal#hideModal <%= @handle_modal_close %>" aria-label="Close"><%= I18n.t("common.cancel") %></button>
                                <% end %>
                                <%= footer %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
