<div class="bs-dropdown bs-d-flex bs-align-items-center bs-dropdown-center <%= @classes %> <%= 'bs-justify-content-center' if @centered_element %>" data-controller="upgrade-plan-button">
    <%= content %>
    <% if button? %>
        <div type="button" class="<%= @upgrade_plan_button_classes %>" data-action="click->upgrade-plan-button#upgradePlan">
            <%= button %>
        </div>
    <% end %>
    <div data-upgrade-plan-button-target="button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag 'common-assets/upgrade-icon.svg', class: "bs-ms-3 #{@icon_classes}" %>
    </div>
    <ul class="bs-dropdown-menu bs-shadow" aria-labelledby="dropdownMenuButton1">
        <div class="bs-p-2 bs-px-3 bs-text-black-50 bs-text-center" style="min-width: <%= @min_width%>">
            <div class="bs-d-flex bs-align-items-center bs-justify-content-center">
                <img src="<%= asset_path("common-assets/ic_Business.svg") %>">
                <img src="<%= asset_path("common-assets/ic_Enterprise.svg") %>" class="bs-ms-3">
            </div>
            <div class="bs-my-3"><%= "Activate this #{@label_text} by"%><br>upgrading your plan</div>
            <%= turbo_link_to user_v3_plans_path(@current_user, renew_plan: false, upgrade_plan: true), class: "bs-btn bs-btn-primary bs-w-100 bs-text-uppercase", data: { action: "click->upgrade-plan-button#closeModal" } do %>
                <%= "UPGRADE PLAN" %>
            <% end %>
        </div>
    </ul>
</div>
