<div data-controller="n-group-selector" 
    data-n-group-selector-hidden-class="bs-d-none" 
    data-n-group-selector-disabled-class="bs-ui-disabled" 
    data-n-group-selector-is-publish-group-value="<%= @is_propublish_group %>"
    data-n-group-selector-is-move-device-to-group-value="<%= @is_move_device_to_group %>">
    <%= content_tag :div, "", data: { n_group_selector_target: "selectedCount" }, class: "bs-d-none" if !@show_selected_count.present? %>
    <%= content_tag :div, "", data: { n_group_selector_target: "listView" }, class: "bs-d-none" if !@show_selected_count.present? %>
    <%= content_tag :div, "", data: { n_group_selector_target: "showSelected" }, class: "bs-d-none"  if !@show_selected_count.present? %>
    <%= content_tag :div, "", data: { n_group_selector_target: "selectAll" }, class: "bs-d-none"  if !@toggle_all.present? %>
    <% if @show_selected_count %>
        <div class="d-flex bs-align-items-center bs-justify-content-between">
            <div class="bs-form-check <%= "bs-ui-disabled" unless @parent_groups.present? %>">
                <% show_selected_id = SecureRandom.uuid %>
                <input class="bs-form-check-input" data-action="n-group-selector#toggleShowHideSelected" data-n-group-selector-target="showSelected" type="checkbox" id="<%= show_selected_id %>">
                <label class="bs-form-check-label" for="<%= show_selected_id %>">
                    <%= t('common.show_selected') %>
                    <span data-n-group-selector-target="selectedCount" class="bs-badge bs-text-bg-secondary bs-rounded bs-ms-2 bs-mb-2">0</span>
                </label>
            </div>
            <% if actions? %>
            <%= actions %>
            <% end %>
        </div>
    <% end %>
    <% if warning? %>
        <%= warning %>
    <% end %>
    <div data-n-group-selector-target= "listView">
        <div class="bs-row bs-d-flex bs-align-items-center bs-py-4 <%= "bs-ui-disabled" unless @parent_groups.present? %>">
            <%= content_tag :div, @text, class: "bs-col-6 bs-text-center" if @text.present? %>
            <div class="bs-col-6 <%= "bs-col-12" if @text.nil? %>" data-n-group-selector-target="searchInput">
                <% search_id = SecureRandom.uuid %>
                <%= sf "SearchInput", id: "#{search_id}", action: "input->search-input#findAndApply", controller: "search-input", placeholder: t("common.type_to_search") %>
            </div>
        </div>
        <% if (@show_selected_group) %>
            <%= sf "SelectedDeviceGroupsDynamicBadges::", groups: [], badge_data: { devices_filters_target: "selectedGroup" }, template_target: "n-group-selector" %>
        <% end %>
    
        <div class="v3-checkbox-group-input bs-border bs-rounded bs-mt-3">
            <div class="bs-d-flex bs-align-items-start bs-mt-3 bs-border-bottom bs-shadow-sm bs-justify-content-between">
                <div class="bs-col-5 bs-ms-2" %>
                    <div class="bs-form-check bs-ps-5" data-n-group-selector-target="selectAllLabel">
                        <% if (@toggle_all) %>
                            <input class="bs-form-check-input" data-action="n-group-selector#toggleAll" data-n-group-selector-target="selectAll" type="checkbox" id="select-all-<%= @group %>">
                            <label class="bs-form-check-label" for="select-all-<%= @group %>">
                                <% if @label %>
                                    <%= @label %>
                                <% else %>
                                    <%= I18n.t("common.group_name") %>
                                <% end %>
                            </label>
                        <% else %>
                            <h5>
                                <% if @label %>
                                    <%= @label %>
                                <% else %>
                                    <%= I18n.t("common.group_name") %>
                                <% end %>
                            </h5>
                        <% end %>
                    </div>
                </div>
                <div class="bs-w-100 bs-d-flex">
                    <% if @enable_group_based_publish%>
                        <div class="bs-col bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><h5><%= t('common.associated_device_profile') %></h5></div>

                    <% end %>
                    <% if @show_installation_mode %>
                        <div class="bs-col bs-form-check-label bs-fw-normal bs-text-body bs-text-center"><h5><%= t('v2.profiles.installation_mode') %></h5></div>
                    <% end %>
                    <% if @show_installation_mode_group %>
                        <div class="bs-col bs-form-check-label bs-fw-normal bs-text-body bs-text-center"><h5><%= t('v2.profiles.installation_mode') %></h5></div>
                    <% end %>
                    <div class="bs-col bs-text-center bs-form-check-label bs-fw-normal bs-text-body">
                        <% if @group == 'user-group'%>
                            <h5><%= I18n.t("common.user_count") %></h5>
                        <% else %>
                            <% if (@show_count) %>
                                <h5><%= I18n.t("common.device_count") %></h5>
                            <% end %>
                        <% end %>
                    </div>
                    <% if @show_publish_version%>
                        <div class="bs-col bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><h5><%= t('enterpriseStore.published_version') %></h5></div>                    
                    <% end%>
                    <% if @show_configuration_for_group %>
                        <div class="bs-col bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><h5><%= I18n.t('common.configuration') %></h5></div>
                    <% end %>
                    <% if @show_configuration_for_group_for_pfw %>
                        <div class="bs-col bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><h5><%= I18n.t('common.configuration') %></h5></div>
                    <% end %>
                </div>
            </div>
            <div class="details details-container bs-overflow-auto bs-scroll-sm" style="<%= "height: #{@height}" %>">
                <%= content_tag :div, "", data: { n_group_selector_target: "emptyView" }, class: "bs-d-none bs-alert bs-alert-warning bs-text-center bs-m-4", role: "alert" do %>
                    <%= I18n.t("common.no_groups_found") %>
                <% end %>
                <% if @parent_groups.present? %>
                    <%= sf "SearchList", id: "#{search_id}", controller: "search" do %>
                        <%= render partial: "#{@partial_path}", collection: @parent_groups, 
                            locals: {
                            include_device_groups_ids: accessible_device_group_ids(device_groups),
                            include_organization_units_ids: accessible_organization_units_ids(organization_units),
                            include_user_groups_ids: accessible_user_groups_ids(user_groups),
                            group_device_counts: @group_device_counts || Hash.new(0),
                            group_user_counts: @group_user_counts || Hash.new(0),
                            organization_unit_counts: @organization_unit_counts || Hash.new(0),
                            type: @type,
                            name: @name,
                            show_badge_chip: @show_badge_chip,
                            single_select_group: @single_select_group,
                            show_count: @show_count,
                            show_selected_group: @show_selected_group,
                            selected_group: @selected_group,
                            group: @group,
                            user_groups: @user_groups,
                            device_groups: @device_groups,
                            organization_units: @organization_units,
                            disabled_selected_group: @disabled_selected_group,
                            checkbox_actions: @checkbox_actions,
                            is_unpublish_group: @is_unpublish_group,
                            is_group: @is_group,
                            published_device_groups_ids: @published_device_groups_ids,
                            published_user_groups_ids: @published_user_groups_ids,
                            is_workflow_running: @is_workflow_running,
                            workflow_name: @workflow_name,
                            data: @data,
                            app_type: @app_type,
                            enable_group_based_publish: @enable_group_based_publish,
                            show_publish_version: @show_publish_version,
                            show_configuration_for_group: @show_configuration_for_group,
                            show_configuration_for_group_for_pfw: @show_configuration_for_group_for_pfw,
                            pfw_configuration_for_group: @pfw_configuration_for_group,
                            show_installation_mode_group: @show_installation_mode_group,
                            existing_groups_info: @existing_groups_info,
                            existing_user_groups_info: @existing_user_groups_info,
                            show_profile_version: @show_profile_version,
                            existing_profile_info: @existing_profile_info,
                            configuration_name_for_group_hash: @configuration_name_for_group_hash,
                            disabled_selected: @disabled_selected } %>
                    <% end %>
                <% else %>
                    <div class="bs-alert bs-alert-warning bs-text-center bs-m-3" role="alert">
                    <%= I18n.t("common.no_groups_found") %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>