<div class="bs-card bs-border-0 bs-shadow-sm bs-p-4 bs-mb-3">
  <div class="bs-row bs-align-items-center v3-devices">
    <%= content_tag :div, class: "bs-col-12 device-filters-wrapper", data: {
      controller: "org-unit-devices-filters",
      action: "turbo:submit-end->org-unit-devices-filters#submitEnd turbo:submit-start->org-unit-devices-filters#submitStart",
      org_unit_devices_filters_hidden_class: "bs-d-none",
      org_unit_devices_filters_transition_class: "transition-d-none",
      org_unit_devices_filters_full_width_class: "bs-w-100",
      org_unit_devices_filters_advanced_text_value: I18n.t("common.advanced"),
      org_unit_devices_filters_has_deep_dive_value: params[:deep_dive_filter].present?,
      org_unit_devices_filters_android_filter_value: "android_devices",
      org_unit_devices_filters_user_id_value: current_user.id,
      org_unit_devices_filters_basic_text_value: I18n.t("common.basic"),
      org_unit_devices_filters_basic_search_hint_value: I18n.t("devices.basic_search_hint"),
      org_unit_devices_filters_groups_url_value: request&.base_url + groups_filter_modal_user_v3_devices_path(current_user),
      org_unit_devices_filters_input_expanded_class: "bs-w-100" ,
      org_unit_devices_filters_bulk_entity_threshold_value: current_user.bulk_entity_threshold_reached?('groups')} do %>
      <!-- Used to reset filter bar -->

      <%= form_with(url: "", method: :get, data: {
        turbo_stream: "",
      }, class: "bs-d-none") do |form| %>
      <% end %>

      <%= form_with(url: edit_chromeos_organization_unit_path(params[:id]), method: :get, data: {
        turbo_stream: "",
        org_unit_devices_filters_target: "resetAnchor"
      }, class: "bs-d-none") do |form| %>
        <%= form.hidden_field "compact", value: true %>
        <%= form.hidden_field "count", value: 100 %>
        <%= form.hidden_field "page", value: 1 %>
        <%= form.hidden_field "only_chromeos", value: true %>
        <%= form.hidden_field "ungrouped", value: false %>
        <%= form.hidden_field "unscoped", value: true %>
        <%= form.hidden_field "reset", value: true %>
        <%= form.hidden_field "order_by", value: "name" %>
        <%= form.hidden_field "sorting", value: "desc" %>
        <%= form.hidden_field "filter", value: "all" %>
        <% if params[:deep_dive_filter].present? %>
          <%= form.hidden_field "deep_dive_filter", value: params[:deep_dive_filter] %>
        <% end %>
      <% end %>


      <!-- org_unit_devices_target: "form" is shared by device controller for sorting and form submission -->
      <%= form_with(url: edit_chromeos_organization_unit_path(params[:id]) , method: :get, data: {
        org_unit_devices_target: "form",
        org_unit_devices_filters_target: "form",
        turbo_stream: ""
      }) do |form| %>
        <%= form.hidden_field "compact", value: true %>
        <%= form.hidden_field "only_chromeos", value: true %>
        <%= form.hidden_field "page", value: params[:page] || 1, data: { org_unit_devices_target: "page", org_unit_devices_filters_target: "page" } %>
        <%= form.hidden_field "only_android", value: params[:filter] == "android_devices" ? true  : false, data: { org_unit_devices_filters_target: "onlyAndroidInput" } %>
        <!-- prevent using default sorting ie "name" -->
        <%= form.hidden_field "order_by", value: params[:order_by].present? ? params[:order_by] : "name", data: { org_unit_devices_target: "orderBy" } %>
        <%= form.hidden_field "sorting", value: params[:sorting] || "desc", data: { org_unit_devices_target: "sorting" } %>
        <%= form.hidden_field "ungrouped", value: params[:ungrouped] || false, data:{ org_unit_devices_filters_target: "ungroupedHiddenInput" } %>
        <%= form.hidden_field "unscoped", value: true %>
        <% if params[:emm_enabled].present? %>
          <%= form.hidden_field "emm_enabled", value: params[:emm_enabled] %>
        <% end %>
        <% if request.format.turbo_stream? && params[:group].present? %>
          <% params[:group].each do |group| %>
            <%= form.hidden_field "group[]", value: group %>
          <% end %>
        <% end %>
        <% if params[:deep_dive_filter].present? %>
          <%= form.hidden_field "deep_dive_filter", value: params[:deep_dive_filter] %>
        <% end %>
        <div class="filter-toolbar-container bs-row bs-g-3 bs-align-items-end">
          <div class="bs-col-auto bs-row bs-align-items-end bs-gap-3 bs-g-0" data-org-unit-devices-filters-target="filterItem">
            <!-- View filter -->
            <div class="bs-col-auto">
              <%= content_tag :div, I18n.t("common.view"), class: "bs-mb-2 filter-title bs-text-body-secondary" %>
              <%= content_tag :div, class: "bs-input-group" do %>
                <%= label_tag "filter", class: "bs-input-group-text bs-m-0 bs-border-end-0" do %>
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="u:eye" opacity="0.5">
                      <path id="Vector" d="M14.6417 7.73332C13.295 4.60666 10.7617 2.66666 8.02837 2.66666C5.29503 2.66666 2.7617 4.60666 1.41503 7.73332C1.37832 7.81743 1.35938 7.90822 1.35938 7.99999C1.35938 8.09176 1.37832 8.18255 1.41503 8.26666C2.7617 11.3933 5.29503 13.3333 8.02837 13.3333C10.7617 13.3333 13.295 11.3933 14.6417 8.26666C14.6784 8.18255 14.6974 8.09176 14.6974 7.99999C14.6974 7.90822 14.6784 7.81743 14.6417 7.73332ZM8.02837 12C5.91503 12 3.91503 10.4733 2.7617 7.99999C3.91503 5.52666 5.91503 3.99999 8.02837 3.99999C10.1417 3.99999 12.1417 5.52666 13.295 7.99999C12.1417 10.4733 10.1417 12 8.02837 12ZM8.02837 5.33332C7.50095 5.33332 6.98538 5.48972 6.54684 5.78274C6.10831 6.07575 5.76652 6.49223 5.56469 6.9795C5.36285 7.46677 5.31004 8.00295 5.41294 8.52023C5.51583 9.03751 5.76981 9.51267 6.14275 9.88561C6.51569 10.2585 6.99084 10.5125 7.50812 10.6154C8.02541 10.7183 8.56158 10.6655 9.04885 10.4637C9.53612 10.2618 9.9526 9.92004 10.2456 9.48151C10.5386 9.04298 10.695 8.52741 10.695 7.99999C10.695 7.29275 10.4141 6.61447 9.91398 6.11437C9.41389 5.61427 8.73561 5.33332 8.02837 5.33332ZM8.02837 9.33332C7.76466 9.33332 7.50687 9.25512 7.2876 9.10862C7.06834 8.96211 6.89744 8.75387 6.79653 8.51023C6.69561 8.2666 6.6692 7.99851 6.72065 7.73987C6.7721 7.48123 6.89909 7.24365 7.08556 7.05718C7.27203 6.87071 7.5096 6.74372 7.76824 6.69228C8.02689 6.64083 8.29497 6.66723 8.53861 6.76815C8.78224 6.86907 8.99048 7.03996 9.13699 7.25923C9.2835 7.4785 9.3617 7.73628 9.3617 7.99999C9.3617 8.35361 9.22122 8.69275 8.97117 8.9428C8.72113 9.19285 8.38199 9.33332 8.02837 9.33332Z" fill="black"/>
                    </g>
                  </svg>
                <% end %>
                <% if params[:deep_dive_filter].present? %>
                  <%= content_tag :div, class: "bs-border bs-py-1 bs-rounded-end bs-ps-2 bs-py-1" do %>
                    <%= content_tag :div, replace_string(params[:deep_dive_filter], "tab"), class: "bs-me-2" %>
                  <% end %>
                <% else %>
                  <%= select_tag "filter", options_for_select(view_filter_options, params[:filter]), {data: { org_unit_devices_filters_target: "filter", action: "org-unit-devices-filters#onFilterChange" }, role: "button", :class =>"bs-form-select bs-ps-2 bs-py-1" } %>
                <% end %>
              <% end %>
            </div>

            <!-- Saved filters -->
            <%= render "/v3/devices/filters/saved_device_filters" %>
            <%= content_tag :div, data: { org_unit_devices_filters_target: "iOSFilters" }, class: "bs-col-auto #{"bs-d-none" unless params[:filter] == "ios_devices" }" do %>
              <%= form.hidden_field "", value: params[:dep_devices], data: { name: "dep_devices", org_unit_devices_filters_target: "depDevicesInput" } %>
              <%= form.hidden_field "", value: params[:dep_devices], data: { name: "dep_devices", org_unit_devices_filters_target: "depDevicesInput" } %>
              <%= form.hidden_field "", value: params[:supervised], data: { name: "supervised", org_unit_devices_filters_target: "supervisedInput" } %>
              <%= sf "Devices::Filters::", heading: I18n.t("devices.ios") do |c| %>
                <% c.with_custom_icon do %>
                  <i class="zmdi zmdi-apple"></i>
                <% end %>
                <%= sf "BsDropdown", title: "Options", id: "ios-filters-dropdown", auto_close: true, width: "180px", classes: "bs-p-0 bs-border-0" do |c| %>
                  <% c.with_title do %>
                    <%= content_tag :div, I18n.t("devices.ios"), class: "bs-me-2" %>
                  <% end %>
                  <div class="bs-p-3">
                    <% [I18n.t("emm_ios.ios_dep.dep_devices"), I18n.t("emm_ios.supervised"), I18n.t("emm_ios.unsupervised")].each_with_index do |filter, index| %>
                      <%= sf "Checkbox", :data => {
                        title: "ios-option-#{filter}",
                        :action => "org-unit-devices-filters#onIosFilterChange",
                      }, id: "ios-option-#{index}", name:"", checked: false, label: filter %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% if params[:deep_dive_filter].present? %>
              <!-- deep dive filters -->
              <div class="bs-col-auto">
                <%= content_tag :div, replace_string(params[:deep_dive_filter], "type"), class: "bs-mb-2 filter-title bs-text-body-secondary" %>
                <%= content_tag :div, class: "bs-input-group" do %>
                  <%= label_tag "", class: "bs-input-group-text bs-m-0 bs-rounded-end bs-text-secondary bs-fs-5" do %>
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="bs-text-secondary" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.7005 3.33332H9.70052V2.66666C9.70052 2.13622 9.48981 1.62752 9.11473 1.25244C8.73966 0.87737 8.23095 0.666656 7.70052 0.666656H6.36719C5.83675 0.666656 5.32805 0.87737 4.95297 1.25244C4.5779 1.62752 4.36719 2.13622 4.36719 2.66666V3.33332H2.36719C1.83675 3.33332 1.32805 3.54404 0.952974 3.91911C0.577901 4.29418 0.367188 4.80289 0.367188 5.33332V11.3333C0.367188 11.8638 0.577901 12.3725 0.952974 12.7475C1.32805 13.1226 1.83675 13.3333 2.36719 13.3333H11.7005C12.231 13.3333 12.7397 13.1226 13.1147 12.7475C13.4898 12.3725 13.7005 11.8638 13.7005 11.3333V5.33332C13.7005 4.80289 13.4898 4.29418 13.1147 3.91911C12.7397 3.54404 12.231 3.33332 11.7005 3.33332ZM5.70052 2.66666C5.70052 2.48985 5.77076 2.32028 5.89578 2.19525C6.02081 2.07023 6.19038 1.99999 6.36719 1.99999H7.70052C7.87733 1.99999 8.0469 2.07023 8.17193 2.19525C8.29695 2.32028 8.36719 2.48985 8.36719 2.66666V3.33332H5.70052V2.66666ZM12.3672 11.3333C12.3672 11.5101 12.297 11.6797 12.1719 11.8047C12.0469 11.9298 11.8773 12 11.7005 12H2.36719C2.19038 12 2.02081 11.9298 1.89578 11.8047C1.77076 11.6797 1.70052 11.5101 1.70052 11.3333V7.66666C2.35082 7.92459 3.01931 8.13406 3.70052 8.29332V8.68666C3.70052 8.86347 3.77076 9.03304 3.89578 9.15806C4.02081 9.28308 4.19038 9.35332 4.36719 9.35332C4.544 9.35332 4.71357 9.28308 4.83859 9.15806C4.96362 9.03304 5.03385 8.86347 5.03385 8.68666V8.54666C5.69675 8.6369 6.36485 8.68367 7.03385 8.68666C7.70286 8.68367 8.37096 8.6369 9.03385 8.54666V8.68666C9.03385 8.86347 9.10409 9.03304 9.22912 9.15806C9.35414 9.28308 9.52371 9.35332 9.70052 9.35332C9.87733 9.35332 10.0469 9.28308 10.1719 9.15806C10.297 9.03304 10.3672 8.86347 10.3672 8.68666V8.29332C11.0484 8.13406 11.7169 7.92459 12.3672 7.66666V11.3333ZM12.3672 6.20666C11.7188 6.48032 11.0501 6.70321 10.3672 6.87332V6.66666C10.3672 6.48985 10.297 6.32028 10.1719 6.19525C10.0469 6.07023 9.87733 5.99999 9.70052 5.99999C9.52371 5.99999 9.35414 6.07023 9.22912 6.19525C9.10409 6.32028 9.03385 6.48985 9.03385 6.66666V7.15999C7.70802 7.36001 6.35969 7.36001 5.03385 7.15999V6.66666C5.03385 6.48985 4.96362 6.32028 4.83859 6.19525C4.71357 6.07023 4.544 5.99999 4.36719 5.99999C4.19038 5.99999 4.02081 6.07023 3.89578 6.19525C3.77076 6.32028 3.70052 6.48985 3.70052 6.66666V6.88666C3.0176 6.71654 2.34892 6.49365 1.70052 6.21999V5.33332C1.70052 5.15651 1.77076 4.98694 1.89578 4.86192C2.02081 4.73689 2.19038 4.66666 2.36719 4.66666H11.7005C11.8773 4.66666 12.0469 4.73689 12.1719 4.86192C12.297 4.98694 12.3672 5.15651 12.3672 5.33332V6.20666Z" fill="black"/>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <!-- iOS/macOS filters -->
            <%= content_tag :div, data: { org_unit_devices_filters_target: "macOsFilters" }, class: "bs-col-auto #{"bs-d-none" unless params[:filter] == "macos_devices" }" do %>
              <%= sf "Devices::Filters::", heading: I18n.t("devices.macos") do |c| %>
                <% c.with_custom_icon do %>
                  <i class="zmdi zmdi-laptop-mac"></i>
                <% end %>
                <%= sf "BsDropdown", title: "Options", id: "ios-filters-dropdown", auto_close: true, width: "180px", classes: "bs-p-0 bs-border-0" do |c| %>
                  <% c.with_title do %>
                    <%= content_tag :div, I18n.t("devices.macos"), class: "bs-me-2" %>
                  <% end %>
                  <div class="bs-p-3">
                    <% ["DEP Devices"].each_with_index do |filter, index| %>
                      <%= sf "Checkbox", :data => {
                        title: "mac-option-#{filter}",
                        :action => "org-unit-devices-filters#onIosFilterChange",
                      }, id: "mac-option-#{index}", name:"", checked: false, label: filter %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% unless params[:deep_dive_filter].present? %>
              <%= content_tag :div, data: { org_unit_devices_filters_target: "unlicensedFilters" }, class: "bs-col-auto #{"bs-d-none" unless params[:filter] == "unlicensed" }" do %>
                <%= form.hidden_field "", value: true, data: { name: "unlicensed", org_unit_devices_filters_target: "unlicensedInput" } %>
                <%= form.hidden_field "", value: true, data: { name: "expired", org_unit_devices_filters_target: "expiredInput" } %>
                <%= form.hidden_field "", value: true, data: { name: "unlicensed_and_expired", org_unit_devices_filters_target: "unlicensedAndExpiredInput" } %>
                <%= sf "Devices::Filters::", heading: I18n.t("v2.filters.unlicensed") do |c| %>
                  <% c.with_custom_icon do %>
                    <i class="zmdi zmdi-arrow-split"></i>
                  <% end %>
                  <%= sf "BsDropdown", title: "Options", id: "ios-filters-dropdown", auto_close: true, width: "180px", classes: "bs-p-0 bs-border-0" do |c| %>
                    <% c.with_title do %>
                      <%= content_tag :div, I18n.t("v2.filters.unlicensed"), class: "bs-me-2" %>
                    <% end %>
                    <div class="bs-p-3">
                      <% [I18n.t("v2.filters.unlicensed_devices"), I18n.t("v2.filters.expired_licences")].each_with_index do |filter, index| %>
                        <%= sf "Checkbox", :data => {
                          title: filter,
                          :action => "org-unit-devices-filters#onUnlicensedFilterChange",
                        }, id: "unlicensed-option-#{index}", name:"", checked: false, label: filter %>
                        <br>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if params[:deep_dive_filter].present? %>
              <%= content_tag :div, class: "bs-col-auto" do %>
                <%= button_tag(type: "button", class: "bs-btn bs-btn-outline-danger", data: { action: "org-unit-devices-filters#resetDeepDiveFilters" }) do %>
                  <%= I18n.t("common.reset") %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="bs-col-auto bs-p-0">
            <!-- Placeholder for height flicker when filters are hidden for search -->
            <%= content_tag :div, "Text", class: "bs-mb-2 bs-text-truncate bs-invisible" %>
            <%= content_tag :div, class: "bs-invisible" do %>
              <%= select_tag "count", options_for_select([]), {:class =>"bs-p-0 bs-invisible" } %>
            <% end %>
          </div>
          <div class="bs-col-auto bs-d-flex bs-gap-3 bs-d-none" id="abc" data-org-unit-devices-target="moveButton">
            <% unless read_only_access('Device-ReadOnly') %>
              <%= button_tag(type: "button", class: "automation_assign_to_group_modal bs-dropdown-item bs-py-2 bs-d-flex bs-gap-3 bs-align-items-center", data: { action: "org-unit-devices#onSelectionDeviceAction"}) do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-repeat">
                  <polyline points="17 1 21 5 17 9"></polyline>
                  <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                  <polyline points="7 23 3 19 7 15"></polyline>
                  <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                </svg>
              <% end %>
            <% end %>
          </div>
          <div class="bs-col-auto bs-d-flex bs-gap-3">
            <% unless read_only_access('Device-ReadOnly') %>
              <%= render partial: "action_button_dropdown" %>
            <% end %>
            <!-- apply_license -->
            <%= button_tag(type: "button", class: "bs-me-3 bs-btn bs-btn-outline-primary bs-d-none", data: { action: "devices#submitApplyLicenceForm", org_unit_devices_target: "applyLicenceButton"} ) do %>
              <%= I18n.t("v2.licenses.apply_license") %>
            <% end %>
            <!-- activated selected Device -->
            <%= content_tag :span, data: { controller: "tooltip", bs_toggle:"bs-tooltip", bs_title: "Activated Selected Device"} do %>
              <%= button_tag(type: "button", class: "bs-btn bs-btn-outline-danger bs-d-flex bs-align-items-center bs-p-2 bs-d-none", data: { bs_toggle: "modal", bs_target:"#activated-selected-device-modal", org_unit_devices_target: "deviceActivationButton"} ) do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
              <% end %>
            <% end %>
          </div>
          <!-- Elastic Input -->
          <div class="bs-col input-container bs-d-flex bs-gap-3 bs-g-0 bs-gy-3 bs-justify-content-md-end bs-justify-content-start">
            <%= form.hidden_field "search_by", value: [], data: { org_unit_devices_filters_target: "searchByParams" } %>
            <%= form.text_field "", value: params.dig(:q), data: { action: "focus->org-unit-devices-filters#onSearchFocus focus->devices#onSearchFocus org-unit-devices-filters#onBasicQueryChange", org_unit_devices_filters_target: "searchInput", name: "search_by[][value]" }, class: "search-input bs-form-control transition-min-width", placeholder: "Search", style: "width:100px" %>
            <%= turbo_frame_tag "search_options", src: search_options_chromeos_organization_units_path(current_user, search_for: "device"), data: { org_unit_devices_filters_target: "advancedSearch" }, class: "bs-w-100 bs-border bs-rounded bs-d-flex bs-align-items-center bs-d-none", loading: :lazy do %>
              <%= form.text_field "", value: "", org_unit_devices_filters_target: "searchInputAdvanced", class: "search-input bs-form-control bs-w-100", placeholder: I18n.t("devices.advance_search_hint") %>
            <% end %>
            <div class="bs-d-flex bs-align-items-center bs-gap-3">
              <%= button_tag(type: "button", class: "bs-btn bs-btn-outline-primary bs-d-none", data: { action: "org-unit-devices-filters#toggleSearchType", org_unit_devices_filters_target: "searchButton" }) do %>
                <%= I18n.t("common.advanced") %>
              <% end %>

              <%= button_tag(type: "button", class: "bs-btn bs-btn-primary bs-ms-3 bs-d-none", title: "Save Your Search", data: { action: "org-unit-devices-filters#toggleSaveSearchForm", org_unit_devices_filters_target: "saveSearchButton" }) do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
              <% end %>
              <div class="bs-d-flex bs-align-items-center bs-gap-3">
                <%= button_tag(type: "button", class: "bs-btn bs-text-primary bs-fw-semibold bs-px-2 bs-d-none", data: { action: "org-unit-devices-filters#clearFilters", org_unit_devices_filters_target: "clearButton" }) do %>
                  <%= I18n.t("devices.clear_filter") %>
                <% end %>
                <svg data-org-unit-devices-filters-target="closeButton" data-action="click->org-unit-devices-filters#showBasicSearch click->devices#showBasicSearch" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle bs-text-secondary bs-btn bs-p-0 bs-d-none"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                <% if @menu_option  %>
                  <%= render "/devices/options/menu_options"%>
                <% end %>
              </div>
            </div>
          </div>
          <!-- Elastic Input -->
        </div>
        <div class="v3-device-group-badges">
          <div class="bs-d-flex bs-gap-1 badge-list-2 bs-align-items-center bs-mt-2">
            <template data-org-unit-devices-filters-target="searchParamBadge">
              <li class="bs-d-flex bs-align-items-center bs-gap-1 bs-mt-1" data-action="click->org-unit-devices-filters#onSearchFocus click->org-unit-devices-filters#showAdvancedSearch">
                <%= content_tag :div, "NEW_TITLE", class: "bs-bg-body-secondary bs-py-1 bs-px-2 bs-ps-3 bs-fs-6 bs-rounded-0 bs-rounded-start" %>
                <%= content_tag :div, "NEW_OPERATOR", class: "bs-bg-body-secondary bs-py-1 bs-px-2 bs-fs-6 bs-rounded-0" %>
                <%= content_tag :div, "NEW_VALUE", class: "bs-bg-body-secondary bs-py-1 bs-px-2 bs-pe-3 bs-fs-6 bs-rounded-0 bs-rounded-end bs-d-flex bs-align-items-center bs-me-2 bs-text-break" %>
              </li>
            </template>
            <template data-org-unit-devices-filters-target="basicSearchParamBadge">
              <%= content_tag :div, "NEW_VALUE", class: "bs-bg-body-secondary bs-py-1 bs-px-2 bs-fs-6 bs-rounded bs-d-flex bs-align-items-center bs-me-2 bs-mt-3", data: { action: "click->org-unit-devices-filters#onSearchFocus" } %>
            </template>

            <%= content_tag :div, data: { org_unit_devices_filters_target: "updatedSearchGroups" }, class: "badge-list-2 bs-d-flex bs-align-items-center bs-gap-1" do %>
            <% end %>
            <%= content_tag :div, data: { org_unit_devices_filters_target: "remainingSearchOutput" }, class: "bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-px-2 bs-py-1 bs-me-2 bs-d-flex bs-align-items-center bs-mt-1 #{"bs-d-none" unless params[:search_by].present?}" do %>
              +
            <% end %>
          </div>
        </div>
        <%# Start Rendering & Submitting forms here will again submit parent form ie devices#index %>
        <%# End %>
      <% end %>
      <%= turbo_frame_tag "confirm_filter_delete_modal_frame" %>
      <%= turbo_frame_tag "groups_filter_modal" %>
      <%#= render "/v3/devices/filters/save_search_form" %>
      <%= render "rename_devices_modal" %>
      <%= turbo_frame_tag "device_actions_modals" %>


            <!-- form used for move seleected Device into group -->
            <%= form_with url: move_device_to_org_unit_modal_chromeos_organization_unit_path(current_org_unit.id), method: :get, html: { autocomplete: "off" }, data: { org_unit_devices_target: "moveSelectedDeviceToGroupForm" , turbo_frame: "move_device_to_org_unit_modal"} do |form| %>
                <%#= form.hidden_field "", value: "" , data: { org_unit_devices_target: "deviceIdInput", name:'device_ids'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "deviceType", name: 'type' }  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "userGroup", name: 'disabled_user_group'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "deviceGroup", name: 'disabled_device_group'}  %>
            <% end %>
            <!-- form used for Action DropDown -->
            <%= form_with url: device_actions_modal_chromeos_organization_units_path,  method: :get, html: { autocomplete: "off" }, data: { org_unit_devices_target: "deviceActionForm" , turbo_frame: "device_actions_modals"} do |form| %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "deviceIdInputArray", name:'device_ids'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "lockedUnlock", name:'locked'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "actionType", name:'type'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "androidCount", name: 'android' }  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "nixCount", name: 'nix'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "iOSCount", name: 'iOS'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "macOsCount", name: 'macOs'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "chromeOsCount", name: 'chromeOs'}  %>
                <%= form.hidden_field "", value: "" , data: { org_unit_devices_target: "windows", name: 'windows'}  %>
            <% end %>
            <%= render "devices/activated_selected_device_modal" %>

      <!-- apply licence button form -->
      <%= form_with url: apply_licence_device_list_user_v3_licences_path(current_user), method: :get, html: { autocomplete: "off" }, data: { org_unit_devices_target: "applyLicenceForm" , turbo_frame: "apply_licence_device_list"} do |form| %>
      <% end %>
    <% end %>
    <div class="bs-col-4 bs-text-end">
      <button
        data-bulk-enrollment-list-target="deleteButton"
        data-bs-toggle="modal" data-bs-target="#bulk-delete-modal"
        class="automation_delete_bulk_enrolled_devices bs-btn bs-p-0 bs-text-danger bs-me-3 bs-d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash">
          <polyline points="3 6 5 6 21 6"></polyline>
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
