<%= content_tag :div, class: "#{@container_classes}", data: { controller: "search-select", search_select_required_value: @required } do %>
    <%= sf "BsDropdown", 
        title: "Options", 
        is_left: "bs-text-end", 
        card_classes: "bs-w-100 bs-shadow-lg bs-px-4", 
        id: @id,
        width: @width,
        classes:"bs-border-0 bs-p-0 bs-w-100 bs-flex-column bs-h-25 ", 
        disabled: @disabled, 
        dropdown_data: dropdown_data,
        auto_close: @auto_close do |c| %>

        <% c.with_title do %>
            <span class="bs-w-100">
                <%= text_field_tag "", selected_item, placeholder: @placeholder, data: custom_field_data, class: "bs-form-control bs-form-select bs-opacity-100 #{"bs-ui-disabled" if @is_disabled_field_data}", disabled: @disabled %>
                <% unless @is_checkbox %>
                    <%= hidden_field_tag @name, @selected_value, data: { search_select_target: "hidden" }%>
                <% end %>
            </span>
        <% end %>
        <div class="bs-m-3">
            <%= sf "SearchInput", id: "device-search-list-#{@id}", action: "input->search-input#findAndApply", controller: "search-input", placeholder: @search_placeholder, data: { search_select_target: "search"} %>
        </div>
        <div class="bs-overflow-auto bs-scroll-sm" style="height:150px">
            <% if @list.present? %>
                <% if @is_checkbox %>
                    <%= content_tag :div, 
                        class: "bs-mx-3",
                        data: { 
                            controller: "checkbox" ,
                            checkbox_hidden_class: "bs-d-none",
                            checkbox_selected_value: [] } do %>

                        <div class="bs-card bs-border bs-rounded">
                            <%= sf "SearchList", id: "device-search-list-#{@id}", controller: "search", message: @empty_message do |search_list| %>
                                <%= content_tag :div, data: { name: is_hash ? @list&.first[@label_name] : @list&.first , search_target: "item" }, class: "bs-ps-3 bs-d-flex bs-align-items-center bs-gap-3" do %>
                                    <%= check_box_tag "", "", false, 
                                        class: "bs-form-check-input bs-mb-1", 
                                        id: "select-all-checkbox-#{@id}", 
                                        data: { action: "checkbox#toggleAll search-select#onCheckboxSelect #{@checkbox_data[:action]}", checkbox_target: "selectAll" } %>
                                    <label class="bs-form-check-label bs-text-body bs-text-truncate bs-pt-2" for="<%= "select-all-checkbox-#{@id}" %>" data-search-select-target="allCheckboxlabel"><%= format_item_name(@list&.first, @label_name).truncate(20) %></label>
                                <% end %>
                                <% @list.each_with_index do |item, index| %>
                                    <% next if index == 0 %>
                                    <%= content_tag :div, data: custom_list_data(item), class: "bs-ps-3 bs-d-flex bs-align-items-center bs-gap-3" do %>
                                        <%= check_box_tag @is_list_group ? (item[:group_type] == "OrganizationUserGroup" ? "organization_user_group_id[]" : "device_group_ids[]") : @name, 
                                            is_hash ? item[@id_name] : item, false,
                                            id: "search-select-checkbox-#{format_item_name(item, @label_name)}",
                                            class: "bs-form-check-input bs-mb-1",
                                            data: checkbox_data %>
                                        <label for="search-select-checkbox-<%= format_item_name(item, @label_name) %>" class="bs-form-check-label bs-text-body bs-text-truncate bs-pt-2" data-search-select-target="checkboxlabel" title="<%= format_item_name(item, @label_name) %>"> 
                                            <%= format_item_name(item, @label_name).truncate(20) %> 
                                        </label>
                                    <% end %>
                                <% end %>
                                <% if list_footer? %>
                                    <div class="bs-modal-footer bs-border-0 bs-flex-column bs-flex-sm-row bs-p-2" data-search-target="item" data-name="<%= SecureRandom.uuid %>">
                                        <%= list_footer %>
                                    </div>
                                <% end %>
                                <% if empty_entries_for.present? || search_list_empty_frame? %>
                                    <% search_list.with_empty_frame do %>
                                        <% if search_list_empty_frame %>
                                            <%= search_list_empty_frame %>
                                        <% else %>
                                            <div class="bs-d-flex bs-align-items-center bs-justify-content-center bs-flex-column bs-gap-3 bs-d-none bs-p-3" data-search-target="empty">
                                                <img src="<%= entries_not_found(@empty_entries_for)[:image_path] %>" alt="image" width="70px" height="70px" >
                                                <div class="bs-fs-6"><%= entries_not_found(@empty_entries_for)[:not_found_text] %></div>
                                            </div>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %> 
                        </div>
                    <% end %>
                <% else %>
                    <%= sf "SearchList", id: "device-search-list-#{@id}", controller: "search", message: @empty_message do %>
                        <%if custom_list?%>
                            <%= custom_list%>
                        <% else%>
                            <% @list.each do |item|%>
                                <%= content_tag :li, class: "bs-dropdown-item bs-py-2 bs-px-3 bs-my-1",
                                    role: "button",
                                    title: format_item_name(item, @label_name),
                                    data: custom_list_data(item) do %>
                                    <%= format_item_name(item, @label_name).truncate(20) %>
                                <% end %>
                            <% end %>
                        <% end%>
                        <% if list_footer? %>
                            <div class="bs-modal-footer bs-border-0 bs-flex-column bs-flex-sm-row bs-p-2" data-search-target="item" data-name="<%= SecureRandom.uuid %>">
                                <%= list_footer %>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
            <% else %>
                <div class="bs-p-3">
                    <% if empty_frame? %>
                        <%= empty_frame %>
                    <% else %>
                        <%= sf "WarningMessage::", label: 'No data found.', classes: "bs-py-2 bs-text-center" %>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
<% end %>
