<%= content_tag :div, class: "bs-my-3" do %>
  <div class="bs-d-flex bs-align-items-end">
    <!-- label -->
    <%= label_tag @name, class: "bs-form-label bs-fs-#{label_size} bs-text-body-secondary bs-col-#{@label_col} " do %>
      <% if custom_label? %>
        <%= custom_label %>
      <% else %>
        <%= @label %>
      <% end %>
      <% if @platform  %>
        <%= sf "PlatformSupport", platform: @platform %>
      <% end %>
    <% end %>

    <!-- dropdown -->
    <div class="<%= @select_col%>">
      <%= select_tag @name, options_for_select(@list, selected: @selected), { class: "bs-form-select", data: @data, prompt: @has_null_option ? @promt_message : nil, required: @required, disabled: @disabled}.merge(set_id) %>
    </div>

     <!-- postfix -->
    <%= label_tag @name, class: "bs-form-label bs-fs-6 bs-px-3 bs-text-body-secondary bs-col-#{@postfix_col}" do %>
      <%= @postfix %>
    <% end %>
  </div>
  
  <!-- description -->
  <div class="">
    <p class="bs-text-black-50 bs-fs-6 bs-mb-3">
      <%= @description %>
    </p>
  </div>
<% end %>
