<div data-controller="org-user-form add-org-user effect"
    data-org-user-form-default-domain-value="<%= one_idp_domain_value %>"
    data-org-user-form-password-supported-auth-sources-value="<%= password_supported_auth_sources.to_json %>"
    data-org-user-form-user-added-to-oneidp-value="<%= user&.added_to_oneidp || false %>">

    <!-- username -->
    <%= sf "TextField::",
        name:"user[name]",
        required: true,
        placeholder: "Username",
        value: user&.name,
        maxlength: 64,
        data: { required_error: t("organization.validations.user.name_mandatory") } do |c| %>
        <% c.with_custom_label do %>
            <div class="bs-d-flex bs-gap-1">
                <%= t("common.proxy_username") %>
                <sub class='bs-text-danger bs-fs-4 bs-mt-2'>*</sub>
            </div>
        <% end %>
    <% end %>
    <!-- First and Last Name -->
    <%= content_tag :div, class: "bs-row" do %>
        <%= content_tag :div, class: "bs-col-6" do %>
            <%= sf "TextField::",
                name:"user[first_name]",
                placeholder: t("organization.users_section.fields.first_name"),
                value: user&.first_name,
                label: t("organization.users_section.fields.first_name"),
                maxlength: 64
            %>
        <% end %>
        <%= content_tag :div, class: "bs-col-6" do %>
            <%= sf "TextField::",
                name:"user[last_name]",
                placeholder: t("organization.users_section.fields.last_name"),
                value: user&.last_name,
                label: t("organization.users_section.fields.last_name"),
                maxlength: 64
            %>
        <% end %>
    <% end %>

    <% if user.present? %>
        <%= hidden_field_tag nil, nil, data: { "org-user-form-target" => "userPresent" } %>
        <!-- Edit Form: User exists, show disabled email and domain -->
        <%= content_tag :div, class: "bs-row bs-align-items-start" do %>
            <%= content_tag :div, class: "bs-col-6" do %>
                <%= sf "TextField::",
                    type: "text",
                    value: user_email_value,
                    classes: "bs-ui-disabled",
                    maxlength: 64 do |c| %>
                    <% c.with_custom_label do %>
                        <div class="bs-d-flex bs-gap-1">
                            <%= t("common.email") %>
                            <sub class='bs-text-danger bs-fs-4 bs-mt-2'>*</sub>
                        </div>
                    <% end %>
                <% end %>
                <%= hidden_field_tag "user[email]", user&.email %>
            <% end %>
            <%= content_tag :div, class: "bs-col-6" do %>
                <div>     
                    <label class="bs-form-label bs-text-body-secondary bs-mb-3 bs-fs-6"><%= t('common.domain')%></label>               
                    <select class="bs-form-select bs-ui-disabled" data-org-user-form-target="domainSelect">
                        <option value="<%= edit_form_domain_id %>" 
                                id="<%= user_domain_name %>" 
                                data-domain-object='<%= edit_form_domain_object.to_json.gsub("'", "\\'") %>'
                                selected>
                            <%= user_domain_name %>
                        </option>
                    </select>
                    <%= hidden_field_tag "user[one_idp_domain_name]", user_domain_name%>
                    <%= hidden_field_tag "user[one_idp_domain_id]", edit_form_domain_id %> 
                </div>
            <% end %>
        <% end %>
    <% else %>
        <!-- New Form: User doesn't exist, show editable email and domain -->
        <%= content_tag :div, class: "bs-row bs-align-items-start" do %>
            <%= content_tag :div, class: "bs-col-6" do %>
                <%= sf "TextField::",
                    type: "text",
                    required: true,
                    placeholder: t("common.email"),
                    label: t("common.email"),
                    disabled: user&.id,
                    maxlength: 64,
                    data: { 
                        org_user_form_target: "emailOneidp",
                        if: "user[one_idp_domain_id] =='' ? type='email' : type='text'",
                        action: "org-user-form#emailChange",
                        required_error: t('organization.validations.user.email_mandatory'),
                        invalid_error: t('common.invalid_email')
                    } do |c| %>
                    <% c.with_custom_label do %>
                        <div class="bs-d-flex bs-gap-1">
                            <%= t("common.email") %>
                            <sub class='bs-text-danger bs-fs-4 bs-mt-2'>*</sub>
                        </div>
                    <% end %>
                <% end %>
                <!-- Hidden field for the actual email submission -->
                <%= hidden_field_tag "user[email]", "", data: { "org-user-form-target" => "emailHiddenInput" } %>
            <% end %>
            
            <!-- Domain Select for New Form -->
            <%= content_tag :div, class: "bs-col-6 bs-my-3 #{'bs-ui-disabled' unless read_only_access('OneIdpDirectory') && !read_only_access('OneIdpDirectory-ReadOnly')}" do %>
                    <!-- Hidden field for domain name - will be updated by Stimulus controller -->
                    <%= hidden_field_tag "user[one_idp_domain_name]", "", data: { "org-user-form-target" => "oneIdpDomainName" } %>
                    <label class="bs-form-label bs-text-body-secondary bs-mb-3 bs-fs-6"><%= t('common.domain')%></label>
                    <select class="bs-form-select bs-mb-3 <%= domain_select_css_class %>" name="user[one_idp_domain_id]" data-action="org-user-form#onDomainChange" data-org-user-form-target="domainSelect">
                        <!-- New form: show available domains -->
                        <% domain_data = domain_info %>
                        <% if domain_data[:context] == :single_domain %>
                            <% selected_domain = domain_data[:selected_domain] %>
                            <% if selected_domain[:verified] && selected_domain[:enabled] %>
                                <option value="<%= selected_domain[:id] %>"
                                        id="<%= selected_domain[:name] %>"
                                        data-domain-object='<%= selected_domain.to_json.gsub("'", "\\'") %>'
                                        data-min-length="<%= selected_domain&.dig(:password_policy, :apply_to_admins) ? selected_domain&.dig(:password_policy, :min_length) : 8 %>"
                                        data-authentication-source-options='<%= (selected_domain[:auth_source_options] || []).to_json.gsub("'", "\\'") %>'
                                        data-email-service-enabled="<%= selected_domain[:email_service_enabled] || false %>"
                                        selected>
                                    <%= selected_domain[:name] %>
                                </option>
                            <% end %>
                        <% elsif domain_data[:context] == :multiple_domains %>
                            <% domain_data[:domains].each do |d| %>
                                <% if d[:verified] && d[:enabled] %>
                                    <option value="<%= d[:id] %>"
                                            id="<%= d[:name] %>"
                                            data-domain-object='<%= d.to_json.gsub("'", "\\'") %>'
                                            data-min-length="<%= d&.dig(:password_policy, :apply_to_admins) ? d&.dig(:password_policy, :min_length) : 8 %>'
                                            data-authentication-source-options='<%= (d[:auth_source_options] || []).to_json.gsub("'", "\\'") %>'
                                            data-email-service-enabled="<%= d[:email_service_enabled] || false %>'
                                            <%= 'selected' if d[:name] == domain_data[:selected_domain]&.dig(:name) %>>
                                        <%= d[:name] %>
                                    </option>
                                <% end %>
                            <% end %>

                            <option value="" id="Other" data-domain-object='{"name":"Other","id":null}' data-authentication-source-options='[]' <%= 'selected' if other_option_selected? %>>
                                <%= t('oneidp.user_listing.other') %>
                            </option>
                        <% elsif domain_data[:context] == :no_domains %>
                            <option value="" id="Other" data-domain-object='{"name":"Other","id":null}' data-authentication-source-options='[]' selected>
                                <%= t('oneidp.user_listing.other') %>
                            </option>
                        <% end %>
                    </select>
            <% end %>
        <% end %>
    <% end %>    
    <!--  Add User to OneIdp -->
    <div data-org-user-form-target="checkBoxWrapper" class="bs-my-3 <%= add_to_oneidp_checkbox_disabled? ? 'bs-ui-disabled' : '' %>">
        <%= sf "Checkbox",
            id: "add_to_idp",
            name: "user[added_to_oneidp]", 
            checked: add_to_oneidp_checkbox_checked?,
            label: t("oneidp.user_listing.add_user_to_oneidp"),
            data: { 
                org_user_form_target: "checkBox", 
                action: "org-user-form#addToOneIdp"
            }
        %>
    </div>

    <!-- Authentication Source -->
    <%= content_tag :div, class: "bs-row bs-d-flex bs-align-items-center" do %>
        <%= content_tag :div, class: "bs-col-6" do %>
            <label class="bs-form-label bs-fs-6 bs-text-body-secondary bs-mb-0" for="authentication-source"><%= t("oneidp.user_listing.authentication_source") %></label>
        <% end %>
        <%= content_tag :div, class: "bs-col-6" do %>
            <%= sf "Select::",
                has_null_option: false,
                list: auth_source_options.length > 0 ? auth_source_options.collect {|k| [k[:name], k[:value].to_s]} : [['OneIdP','oneidp']],
                selected: user_selected_auth_source,
                id: "authentication-source",
                name: "user[authentication_source]",
                disabled: auth_source_disabled?,
                data: {
                    org_user_form_target: "authenticationSource",
                    action: "org-user-form#onAuthSourceChange",
                    auth_source_data: auth_source_options.to_json
                }
            %>
        <% end %>
    <% end %>

    <!-- Password -->
    <div class="bs-my-4" id="password-wrapper">
        <%= sf "TextField::",
            id: "password",
            name:"user[password]",
            type:"password",
            required: true,
            placeholder: "Password",
            disabled: password_disabled?,
            maxlength: 64,
            minlength: selected_domain&.dig(:password_policy, :min_length) || 8,
            data: { 
                "org-user-form-target" => "password", 
                "org_user_form_min_length_param" => password_policy_min_length,
                required_error: t("v2.config_files.required_error_text", name: t("common.password")),
                maxlength_error: t('v2.apn_settings.error.config_max_length', name: t("common.password"), maxlength: 64),
                minlength_error: t('v2.apn_settings.error.config_min_length', name: t("common.password"), minlength: (selected_domain&.dig(:password_policy, :min_length) || 8).to_i - 1)
            } do |c| %>
            <% c.with_custom_label do %>
                <div class="bs-d-flex bs-gap-1">
                    <%= t("oneidp.user_listing.password") %>
                    <sub class='bs-text-danger bs-fs-4 bs-mt-2' data-show="user[one_idp_domain_id] != ''">*</sub>
                </div>
            <% end %>
        <% end %>
            
    </div>

    <!-- Send reset password email(applicable only for oneIdp users )-->
    <div class="bs-my-3 bs-ms-2">
        <%= sf "Checkbox",
            id: "send_email", 
            name: "user[send_reset_password_email]", 
            checked: send_email_checkbox_checked?,
            disabled: send_email_checkbox_disabled?,
            label: t("oneidp.migrate_users.send_reset_password_email"),
            data: { "org-user-form-target" => "sendEmail"}
        %>
    </div>

    <!-- User Group -->
    <div class="bs-my-3">
        <%= label_tag "org_user_group_id", class: "bs-form-label bs-fs-6 bs-text-body-secondary bs-my-3" do %>
            <%= t("common.user_groups") %>
        <% end %>
        <%= sf "BsDropdown", title: "Options", card_classes: "bs-w-100 bs-shadow-lg bs-px-4", id: "userGroupDropdownButton", classes:"bs-border-0 bs-p-0 bs-w-100 bs-flex-column bs-h-25 " do |c| %>
            <% c.with_title do %>
                <span class="bs-w-100" data-controller="field-validation">
                    <input  value="<%= user&.group&.name || "Select User Group" %>" data-add-org-user-target="selectGroupInput" class=" bs-form-control bs-form-select">
                    <input type="hidden" value="<%= user&.group&.name %>" data-add-org-user-target="selectGroupHiddenInput" class=" bs-form-control bs-form-select">                
                </span>
            <% end %>
            <%= turbo_frame_tag "fetch_user_groups", src: user_group_url, loading: "lazy" do %>
                <div class="bs-row bs-placeholder-glow bs-px-3">
                    <% 8.times do %>
                        <div class="bs-col-12 bs-placeholder bs-placeholder-lg bs-rounded bs-my-3 bs-h-25"></div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        <!-- Hidden field for organization_user_group_id -->
        <%= hidden_field_tag "user[organization_user_group_id]", user&.organization_user_group_id, data: { add_org_user_target: "selectGroupValue" }%>
    </div>

    <!--  Contact Number -->
    <div class="bs-my-3">
        <%= sf "CountryFlag::",
            required: false,
            contact_name: "user[contact_no]",
            country_name: "user[country_code]",
            id: "org-user-contact-number",
            contact_value: user&.contact_no,
            country_value: user&.country_code
        %> 
    </div>
    
    <%= sf "Select::",
        list: [{id: 0, dispVal: "Any"}, {id: 1, dispVal: "1"}, {id: 2, dispVal: "2"}, {id: 3, dispVal: "3"}, {id: 4, dispVal: "4"}].collect{ |u| [u[:dispVal], u[:id]]},
        selected: user&.allowed_devices_count || 1,
        name: "user[allowed_devices_count]",
        has_null_option: false,
        :data => {
            :action => "org-user-form#onDeviceNumberChange",
        },
        label: t('organization.users_section.fields.no_of_devices') 
    %>

    <div class="bs-row bs-gap-0 bs-row-gap-3 bs-mt-3 bs-align-items-end">
        <% if @custom_fields.present? %>
            <% @custom_fields.each do |field| %>
                <div class="bs-text-end"><%= content_tag :div, "#{t("common.type")}: #{field&.data_type}", class: "bs-mb-2" %></div>
                <%= content_tag :div, class: "bs-d-flex bs-align-items-center" do %>
                    <% _user_custom_field_value = user_custom_field(@custom_values, field&.id) %>
                    <% value = _user_custom_field_value&.[](:value).presence || "" %>
                    <% bounded = field.try(:bounded) %>

                    <%= hidden_field_tag "user[user_custom_field_values_attributes][][id]", _user_custom_field_value&.[](:id).presence %>
                    <%= hidden_field_tag "user[user_custom_field_values_attributes][][org_user_custom_field_id]", _user_custom_field_value&.[](:org_user_custom_field_id).presence || "" %>

                    <%= content_tag :div, class: "bs-col-3", title: (bounded ? t("script_custom_field.cannot_update_tooltip") : nil) do %>
                        <%= label_tag field&.id, field&.name, class: "bs-form-label bs-fs-6 bs-text-body-secondary bs-m-0 bs-text-truncate" %>
                    <% end %>
                    <%= content_tag :div, class: "bs-col-9 bs-text-end", title: bounded ? value : nil, data: bounded ? { controller: "clipboard-text", text: value, action: "dblclick->clipboard-text#copy", show_toast: true } : {} do %>
                        <%= content_tag :div, class: "#{'bs-ui-disabled' if bounded}" do %>
                            <% case field&.data_type %>
                                <% when "String" %>
                                    <%= sf "TextField::", data: { org_user_form_target: "input" }, name: "user[user_custom_field_values_attributes][][value]", value: value %>
                                <% when "Integer" %>
                                    <%# removed type number because large values are not displayed correctly %>
                                    <%= sf "TextField::", data: { org_user_form_target: "integer", invalid_error: t('common.invalid_integer') }, name: "user[user_custom_field_values_attributes][][value]", value: value, inputmode: "numeric", pattern: "-?[0-9]*" %>
                                <% when "Email" %>
                                    <%= sf "TextField::", data: { org_user_form_target: "email", invalid_error: t('common.invalid_email') }, type: "email", name: "user[user_custom_field_values_attributes][][value]", value: value %>
                                <% when "Boolean" %>
                                    <div class="bs-form-check bs-form-switch bs-form-check-reverse">
                                        <%= sf "Switch::", id: @checkbox_id, checked: _user_custom_field_value&.[](:value), name: "user[user_custom_field_values_attributes][][value]", has_true_or_false: true, classes: "bs-form-check-input bs-fs-5" %>
                                    </div>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>

