<div data-controller="deep-dive-chart"
    data-deep-dive-chart-action-value=""
    data-deep-dive-chart-devices-path-value="<%= @devices_path %>"
    data-deep-dive-chart-sim-swap-route-value="<%= @sim_swap_route %>"
    data-deep-dive-chart-security-incident-value="<%= @security_incident %>"
    data-deep-dive-chart-tab-value="<%= @tab %>"
    data-deep-dive-chart-group-id-value="<%= @group_id %>"
    <% if @group_ids.present? %>
        data-deep-dive-chart-group-ids-value="<%= @group_ids %>"
    <% end %>
    <% if @group_name.present? %>
        data-deep-dive-chart-group-name-value="<%= @group_name %>"
    <% end %>
    data-deep-dive-chart-has-zoom-value="<%= @has_zoom %>"
    data-deep-dive-chart-data-url-value="<%= @data_url %>"
    data-deep-dive-chart-chart-id-value="<%= @chart_id %>"
    class="tw-mb-5"
    style="position: relative; height: 220px"
    data-deep-dive-chart-type-value="bar"
    data-deep-dive-chart-plugins-value='<%= @plugins %>'
    data-deep-dive-chart-options-value='<%= @options %>'
    data-deep-dive-chart-chart-click-value="<%= @chart_click %>"
    data-deep-dive-chart-name-value="system"
    data-deep-dive-chart-data-value='{"labels": <%= @labels %>, <%= dataset%>}'>
    <%= content %>
</div>