<div class="bs-d-flex bs-alig-items-center v3-device-group-badges bs-flex-wrap">
    <template data-<%= h @template_target %>-target="template" class="bs-visually-hidden bs-pe-none">
        <%= content_tag :li, data: badge_data_attr, class: "bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-my-2", title: "GROUP_NAME" do %>
            GROUP_NAME
            <% if hidden_input? %>
                <%= hidden_input %>
            <% end %>
        <% end %>
    </template>
    <%= content_tag :div, class: "bs-me-2 bs-d-flex bs-align-items-start bs-justify-content-start bs-gap-2 badge-list-#{@badge_count} bs-flex-wrap", data: @selected_groups do %>
        <% groups&.first(@badge_count).each do |c| %>
            <li class="bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-my-2" title="<%= c["name"] %>">
                <%= c["name"] %>
            </li>
        <% end %>
    <% end %>
    <%= content_tag :div, data: @remaining_count, class: "bs-ms-2 bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-my-2 none-selected-badge #{"bs-d-none" unless groups&.length > @badge_count}" do %>
        <%= "+ #{groups&.length - @badge_count}" if groups&.length > @badge_count %>
    <% end %>
</div>
<%= content_tag :div, data: @none_selected, class: "bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-my-2 none-selected-badge #{"bs-d-none" if groups.present?}" do %>
    <%= @text %>
<% end %>
