<div class="bs-position-relative <%= "cursor-not-allowed bs-opacity-100" unless check_features_enabled %>" data-controller="upgrade-plan-button">
    <div class="<%= "bs-ui-disabled bs-opacity-25" unless check_features_enabled %>">
        <%= content %>
    </div>
    
    <% unless check_features_enabled %>
        <div class="bs-p-3 bs-text-black-50 bs-text-center bs-w-20 bs-border bs-border-2 bs-border-body-secondary bs-rounded-3 bs-bg-white <%= @classes %>" style="min-width: 277px; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <div class="bs-d-flex bs-align-items-center bs-justify-content-center">
                <img src="<%= asset_path("common-assets/ic_Business.svg") %>">
                <img src="<%= asset_path("common-assets/ic_Enterprise.svg") %>" class="bs-ms-3">
            </div>
            <div class="bs-my-3">Activate this platform by<br>upgrading your plan</div>
            <%= turbo_link_to user_v3_plans_path(@current_user, renew_plan: false, upgrade_plan: false), class: "bs-btn bs-btn-primary bs-w-100 bs-text-uppercase", data: { action: "click->upgrade-plan-button#closeModal" } do %>
                <%= "UPGRADE PLAN" %>
            <% end %>
        </div>
    <% end %>
</div>
