<div class="bs-d-flex bs-justify-content-between bs-align-items-center <%= divider_classes %>">
    <div>
        <div class="bs-heading-md bs-fw-bold"><%= title %></div>
        <div class="bs-paragraph-lg bs-fw-normal"><%= supporting_text %></div>
    </div>
    <div class="bs-d-flex bs-align-items-center bs-gap-3">
        <% if actions? %>
            <div class="bs-d-flex bs-gap-3">
                <%= actions %>
            </div>
        <% end %>
        <%= search_input if search_input? %>
    </div>
</div>
