<div>
    <div class="bs-position-relative drag-drop-csv" data-controller="upload media-download"
    data-upload-highlight-class="bs-text-bg-primary"
    data-upload-hidden-class="bs-d-none"
    data-upload-is-s3-upload-value="<%= @is_s3_upload %>"
    data-upload-modal-id-value="<%= @modal_id %>"
    data-upload-file-size-error-value="<%= @file_size_error %>"
    <% if @max_file_size.present? %>data-upload-max-file-size-value="<%= @max_file_size %>"<% end %>
    data-action="turbo:submit-end->upload#submitEnd"
    data-media-download-hidden-class="bs-d-none">
        <span data-media-download-target="dragDropCsv">
            <%= turbo_frame_tag "upload_status" do %>
                <%= turbo_frame_tag "#{@frame_id}" do %>
                    <%= content_tag :div, id: "upload-csv-drop-form", data: { upload_target:"formElement" } do %>
                        <% if sample_button? %>
                            <div class="bs-position-absolute bs-end-0 bs-top-0">
                                <%= sample_button %>
                            </div>
                        <% end %>
                        <%= form_with(url: @form_url, method: :post, data: { turbo_frame: @frame_id, upload_target: "form" }) do |form| %>
                            <% if hidden_input? %>
                                <%= content_tag :div, data: { upload_target: "hiddenInputs"} do %>
                                    <%= hidden_input %>
                                <% end %>
                            <% end %>
                            <div class="bs-row bs-g-0">
                                <label data-upload-target="dropArea" for="upload-csv-file" class="automation_browse_files_link bs-col-12 bs-card bs-p-5 bs-text-center bs-border-primary drop-area cursor-pointer">
                                    <% if upload_csv %>
                                        <div class="bs-d-flex bs-align-items-center bs-justify-content-center bs-gap-3 bs-p-5">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload-cloud"><polyline points="16 16 12 12 8 16"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>
                                            <%= @upload_csv_text %><span class="bs-btn bs-btn-link bs-fw-semibold bs-fs-5 bs-p-0"><%= t("v2.enterpriseStore.browse_file") %></span>
                                        </div>
                                    <% else %>
                                        <% if upload_area? %>
                                            <%= upload_area %>
                                        <% end %>
                                    <% end %>
                                </label>
                                <% if @is_s3_upload.present? %>
                                    <%= file_field_tag @name,
                                        id: "upload-csv-file",
                                        accept: @file_type,
                                        data: { action: "upload#s3Upload", upload_target: "input" },
                                        class: "bs-form-control bs-visually-hidden" 
                                    %>
                                    <%= turbo_frame_tag "upload_ipa" do %>
                                        <div style="height: 20px" class="bs-progress bs-d-none" data-enterprise-store-target="progressBarHidden">
                                            <div class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated" role="progressbar" style="width: 0%;" data-enterprise-store-target="progressBar">0%</div>
                                        </div>
                                    <% end %>
                                    <template data-upload-target="progressTemplate">
                                        <div class="bs-progress bs-mt-2" role="progressbar" aria-label="Success example" aria-valuenow="PERCENTAGE" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
                                            <div class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated bs-bg-success bs-px-3" style="width: PERCENTAGE%">
                                                <%= content_tag :div, class: "bs-d-flex bs-align-items-center bs-mx-auto bs-fs-6" do %>
                                                    <%= t("v2.bulk_enrollment.uploading_csv") %>...
                                                    PERCENTAGE%
                                                <% end %>
                                            </div>
                                        </div>
                                    </template>
                                <% else %>
                                    <%= form.file_field @name,
                                        id: "upload-csv-file",
                                        accept: @file_type,
                                        data: { action: "upload#uploadFile", upload_target: "input" },
                                        class: "bs-form-control bs-visually-hidden" %>
                                    <template data-upload-target="progressTemplate">
                                        <div class="bs-progress bs-mt-2" role="progressbar" aria-label="Success example" aria-valuenow="PERCENTAGE" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
                                            <div class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated bs-bg-success bs-px-3" style="width: PERCENTAGE%">
                                                <%= content_tag :div, class: "bs-d-flex bs-align-items-center bs-mx-auto bs-fs-6" do %>
                                                    <%= t("v2.bulk_enrollment.uploading_csv") %>...
                                                    PERCENTAGE%
                                                <% end %>
                                            </div>
                                        </div>
                                    </template>
                                    <div class="bs-progress-bar bs-progress-bar-striped bs-progress-bar-animated" style="width: 100%"></div>
                                <% end %>
                            </div>
                            
                            <% input_fields.each do |input_field| %>
                                <%= input_field %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <div data-upload-target="progress"></div>
                <% end %>
            <% end %>
            <%= content %>
        </span>
        <%= turbo_frame_tag "show_data" do %>
            <%= turbo_frame_tag "updated_frame" %>
        <% end %>
    </div>
</div>
