<%= content_tag :div, data: {
        identifier: "addable-#{dom_id(contact)}",
        search_target: "item",
        name: contact.name + "#{contact.numbers&.first&.contact_number}",
        add_contact_target: "addableContactList"
    }, class: "bs-row bs-align-items-center bs-checkbox-row bs-border-bottom bs-g-0 #{@hidden ? "bs-d-none" : "visible-contact"}" do %>
    <div class="bs-col-7 bs-mt-3">
        <div class="bs-form-check bs-ps-5">
            <%= check_box_tag "contact_ids", "addable-#{contact.id}", false, id: "addable-#{contact.id}", data: {
                    add_contact_target: "sourceCheckbox",
                    select_all_target: @hidden ? "REPLACE_WITH_CHECKBOX" : "checkbox",
                    id: "contact-#{dom_id(contact)}",
                    remove_id: "addable-#{dom_id(contact)}",
                    action: "select-all#updateSelectAllState add-contact#handleSourceIndeterminate",
                }, class: "bs-form-check-input" %>
            <%= label_tag "addable-#{contact.id}", class: "bs-form-check-label bs-text-body-secondary" do %>
                <div class="bs-d-inline-flex bs-align-items-center bs-justify-content-center bs-gap-3">
                    <%= sf "Avatar::", name: contact.name, url: nil %>
                    <span title="<%=contact.name%>"><%= (contact.name.length > 20) ? contact.name.slice(0, 20)+'...' : contact.name %></span>
                    <br>
                    <%= content_tag :div, contact.numbers&.first&.contact_number, class: "bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-text-truncate", title: contact.numbers&.first&.contact_number  if contact.numbers.present? %> 
                    <%= content_tag :div, "+ #{contact.numbers.length - 1}", class: "bs-badge bs-bg-secondary-subtle bs-text-secondary-emphasis bs-fs-6 bs-fw-normal bs-text-truncate" if contact.numbers.length > 1 %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="bs-col-3 bs-d-flex bs-justify-content-center">
        <%= t("dialer_app.contacts.#{contact&.contact_type}") %>
    </div>
    <div class="bs-col-2 bs-d-flex bs-justify-content-center">
        <%= content_tag :div, data: {
                add_contact_target: "addButton",
                action: "click->add-contact#addContact",
                add_contact_id_param: "contact-#{dom_id(contact)}",
                add_contact_remove_id_param: "addable-#{dom_id(contact)}"
            }, :class => "bs-btn bs-btn-link", title: "Add" do %>
            <i class="zmdi zmdi-mail-send zmdi-hc-1x bs-align-middle"></i>
        <% end %>
    </div>
<% end %>
