<%= content_tag :div, 
    data: { controller: "multi-input-card", 
        multi_input_card_required_value: @required,
        multi_input_card_name_value: @name,
        multi_input_card_max_card_value: @max_card,
        multi_input_card_allowed_characters_value: @allowed_characters,
        multi_input_card_allowed_char_length_value: @allowed_char_length }, 
    class: @container_class || ""  do %>
    
    <div class="">
        <%= content_tag :div, data: container_data, class: "#{'bs-border' if @selected_value.present?} bs-rounded bs-p-0 #{"bs-ui-disabled" if @disabled }" do %>
            <template data-multi-input-card-target="template">
                <div class="bs-col-auto bs-p-1">
                    <% input_id = SecureRandom.uuid %>
                    <%= check_box_tag @name, "NEW_RECORD", checked: true, :id => input_id, class: "bs-btn-check" %>
                    <div class = "bs-d-flex bs-align-items-center bs-gap-2 bs-px-3 bs-py-2 bs-bg-body-secondary bs-rounded bs-fs-6">
                        <span data-multi-input-card-target="value">NEW_RECORD</span>
                        <button type="button" data-action="multi-input-card#removeItem" class="bs-btn bs-p-0 bs-d-flex bs-align-items-center bs-text-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>         
                        </button> 
                    </div>
                </div>
            </template>
            <div data-multi-input-card-target="list" class="bs-d-flex bs-align-items-center bs-flex-wrap" >
                <% if @selected_value.present? %>
                    <% @selected_value.each do |value| %>
                        <div class="bs-col-auto bs-p-1">
                            <% input_id = SecureRandom.uuid %>
                            <%= check_box_tag @name, value, checked: true, :id => input_id, class: "bs-btn-check" %>
                            <div class = "bs-d-flex bs-align-items-center bs-gap-2 bs-px-3 bs-py-2 bs-bg-body-secondary bs-rounded bs-fs-6">
                                <span data-multi-input-card-target="value"><%= value %></span>
                                <button type="button" data-action="multi-input-card#removeItem" class="bs-btn bs-p-0 bs-d-flex bs-align-items-center bs-text-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>         
                                </button> 
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <%if @invalid_feedback%>
                <div class="bs-has-validation">
                    <%= text_field_tag @required ? @name : "", nil, 
                        placeholder: @placeholder, 
                        required: @required, 
                        data: custom_data, 
                        class: "bs-form-control #{'bs-border-0' if @selected_value.present?}", 
                        type: @type,
                        autocomplete: "new-password",
                        id: @id
                    %>
                    <%# uses only for was validated classes %>
                    <%= label_tag invalid_feedback, @invalid_feedback, class: "bs-text-danger bs-position-absolute bs-invalid-feedback" %>
                </div>
            <% else %>
                <%= content_tag :div,
                    data: { controller:"field-validation" },
                    class: "" do %>
                    <%= text_field_tag @required ? @name : "", nil, 
                        placeholder: @placeholder, 
                        required: @required, 
                        data: custom_data, 
                        class: "bs-form-control #{'bs-border-0' if @selected_value.present?}", 
                        type: @type,
                        autocomplete: "new-password",
                        id: @id
                    %>
                    <%= label_tag "", "", data: { field_validation_target: "errorText" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none bs-position-absolute" %>
                <% end %>
            <% end %>
        <% end %>
        <span data-multi-input-card-target="errorField" class="bs-d-none bs-text-danger bs-mx-2 bs-position-absolute"><%= @max_error %></span>
        <span data-multi-input-card-target="requiredError" class="bs-d-none bs-text-danger bs-mx-2 bs-position-absolute"><%= @required_error %></span>
    </div>
<% end %>