<%= turbo_frame_tag dom_id(device_group), class: "bs-device-frame-item" do %>
    <!-- prefix template- is used for adding or removing a group in selection list -->
    <!-- prefix checkbox- is used to bind checkbox with the label along with hiding/unhiding selected groups from available group list -->
    <template id="template-<%= dom_id(device_group) %>">
        <!-- data-selected-parent-selector as global selector for controllers which needs to access selected group dom element -->
        <% device_count =   if device_group.is_a?(OrganizationUnit)
                                @org_unit_counts ? @org_unit_counts[device_group.id] : 0
                            elsif device_group.is_a?(DeviceGroup)
                                @group_device_counts ? @group_device_counts[device_group.id] : (device_group&.devices&.count || 0)
                            elsif device_group&.o365?
                                device_group&.user_count || 0
                            else
                                @group_user_counts ? @group_user_counts[device_group.id] : 0
                            end
        %>
        <div class="bs-row bs-align-items-center bs-border-bottom bs-g-0 nested-fields" data-selected-parent-selector="<%= parent_dom_selector %>" data-search-target="item" data-id="<%= device_group.id %>" data-name="<%= device_group.name %>" data-name-attr="<%= group_name_attr(device_group, params) %>" data-hierarchical-name="<%= device_group.hierarchical_name %>" data-parent-id="<%= device_group.parent_id %>" data-device-count="<%=device_count %>">
            <input data-multi-select-groups-checkbox-target="selected" data-id="checkbox-<%= dom_id(device_group) %>" data-choose-groups-target="selected" type="hidden" data-name="<%= device_group.name %>" name="<%= group_name_attr(device_group, params) %>" value="<%= device_group.id %>" data-hierarchical-name="<%= device_group&.hierarchical_name %>" data-parent-id="<%= device_group&.parent_id %>" data-device-count="<%= device_count %>">
            <div class="bs-col-7 bs-mt-3">
                <div class="bs-form-check bs-ps-4">
                    <%= sf "DeviceGroupIcon::", group: device_group %>
                </div>
            </div>
            <div class="bs-col-3 bs-text-center">
                <%= device_count%>
            </div>
            <div data-action="click->choose-groups#removeAssociation" data-name="remove-group" data-choose-groups-id-param="template-<%= dom_id(device_group) %>" class="bs-btn bs-btn-link bs-p-0 bs-col-2 bs-text-center" title= "Remove Group">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle bs-text-danger bs-align-middle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
            </div>
        </div>
    </template>
    <div class="bs-row bs-align-items-center bs-checkbox-row bs-border-bottom bs-g-0 <%= "bs-ui-disabled" if disabled_selected_groups("#{device_group.class.to_s}-#{device_group.id}") %>" data-controller="tooltip">
        <div class="bs-col-7 bs-mt-3">
            <% if @select_multiple == "true" %>
                <div class="bs-form-check bs-ps-5">
                    <% if !disabled_selected_groups("#{device_group.class.to_s}-#{device_group.id}") %>
                        <%= check_box_tag "", device_group.id,
                            params[:select_all].present? && (params[:select_all] == "true") || params[:select_all].present? && (params[:select_all] == "true"),
                            id: "checkbox-#{dom_id(device_group)}",
                            data: {
                                action: "multi-select-groups-checkbox#updateSelectAllState",
                                id: "template-#{dom_id(device_group)}",
                                multi_select_groups_checkbox_target: "checkbox",
                                choose_groups_target: "checkbox"
                            },
                            disabled: params[:selected].present? && (params[:selected].include? device.id.to_s),
                            class: "bs-form-check-input" %>
                    <% end %>
                    <%= sf "DeviceGroupIcon::", id: "checkbox-#{dom_id(device_group)}",group: device_group %>
                </div>
            <% else %>
                <div class="bs-d-flex bs-align-items-center bs-ps-3 bs-mb-3">
                    <% if device_group&.parent_id&.present? %>
                        <i class="zmdi zmdi-arrow-split zmdi-hc-rotate-180 zmdi-hc-1x bs-me-2 bs-fs-5" data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="Sub Group"></i>
                    <% else %>
                        <i class="zmdi zmdi-circle bs-me-2 bs-fs-6" data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="Main Group"></i>
                    <% end %>
                    <div
                        data-multi-select-groups-checkbox-target="checkbox"
                        id="checkbox-<%= dom_id(device_group) %>"
                        data-choose-groups-target="checkbox"
                        data-id="template-<%= dom_id(device_group) %>"> 
                        <% if device_group&.parent_id&.present? %>
                            <span data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="<%= device_group&.hierarchical_name %>">
                                <%= truncate(device_group.name, length: 20, omission: '...') %>
                            </span>
                        <% else %>
                            <span data-bs-toggle="bs-tooltip" data-bs-placement="top" data-bs-title="<%= device_group.name %>">
                                <%= device_group.name.truncate(30) %>
                            </span>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="bs-col-3 bs-text-center">
            <%= device_count%>
        </div>
        <div class="bs-col-2 bs-text-center">
            <%= content_tag :div, data: { choose_groups_target: "addButton", action: "click->choose-groups#addAssociation", choose_groups_id_param: "template-#{dom_id(device_group)}" }, :class => "bs-btn bs-btn-link", title: published_group_ids&.include?(device_group&.id) ? "Group already published" : "Add Group" do %>
                <i class="zmdi zmdi-mail-send zmdi-hc-1x bs-align-middle"></i>
            <% end %>
        </div>
    </div>
<% end %>
