<%= content_tag :div,
    data: custom_data,
    class: "bs-my-3" do %>
    <% if @label.present? || custom_label? %>
        <%= label_tag @name, class: "bs-form-label bs-fs-6 bs-text-body-secondary bs-mb-3" do %>
            <% if custom_label? %>
                <%= custom_label %>
            <% else %>
                <%= @label %>
            <% end %>
        <% end %>
    <% end %>

    <div data-controller="password" class="bs-d-flex bs-align-items-center bs-justify-content-between">
        <% @data[:password_target] ="currentPassword" %>
        <%= text_field_tag @name, @value, disabled: @disabled, 
            placeholder: @placeholder, 
            pattern: @pattern, 
            required: @required, 
            data: @data,
            class: "bs-form-control", 
            readonly: @read_only, 
            type: "password",
            autocomplete: "new-password",
            min: @min,
            max: @max,
            minlength: @minlength,
            maxlength: @maxlength
        %>
        <button title="Toggle password visibility" type="button" class="bs-icon-button bs-me-3" data-password-target="toggleButton" data-action="click->password#togglePasswordVisibility">
            <svg xmlns="http://www.w3.org/2000/svg" height="15" width="15" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
            </svg>
        </button>
        <% if @generate_password %>
            <button class="bs-icon-button bs-me-3" type="button" data-action="password#generatePassword">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
            </button>
        <% end%>
    </div>
    <%= label_tag "", "", data: { field_validation_target: "errorText" }, class: "bs-form-label bs-fs-6 bs-text-danger bs-d-none" %>
<% end %>