<div class="form-group w-100 <%= @css_class if @css_class.present? %>">
  <%= label_tag @id, @label if @label.present?%>
  <div class="bs-mb-3 bs-card <%= @klasses %>" <%= "data-chrome-device-profile-target=allowUrlTextArea" if @data.present? && @data == "allowedUrls" %>>
    <div data-controller="multi-input-text-area"
         data-multi-input-text-area-hidden-class="bs-d-none">

      <!-- Hidden field to ensure `configured_ids` is always included in the params -->
      <%= hidden_field_tag "#{@name}[]", "" %>

      <!-- for new users -->
      <template data-multi-input-text-area-target="template">
        <span class="bs-shadow-sm bs-rounded bs-p-2 bs-px-3 bs-bg-primary-subtle bs-text-emphasis-primary bs-d-inline-flex bs-align-items-center bs-mb-3">
          <span data-multi-input-text-area-target="value" class="bs-fs-6">NEW_RECORD</span>
          <%= hidden_field_tag "#{@name}[]", "NEW_RECORD" %>
          <button type="button" data-action="multi-input-text-area#remove" class="bs-btn bs-p-0 bs-ps-3 bs-d-flex bs-align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </span>
      </template>

      <div class="bs-p-2 bs-ps-0" style="min-height:<%= @half ? '50px' : '100px' %>;">
        <span class="bs-my-3 bs-mx-2" data-multi-input-text-area-target="list">
          <!-- for already added blocked URLs or IDs -->
          <% if @value.present? %>
            <% configured_ids = @value.is_a?(String) ? begin JSON.parse(@value) rescue [@value] end : @value %>
            <% if configured_ids.is_a?(Array) %>
              <% configured_ids.each do |id| %>
                <span class="bs-shadow-sm bs-rounded bs-p-2 bs-px-3 bs-bg-primary-subtle bs-text-emphasis-primary bs-d-inline-flex bs-align-items-center bs-gap-2 bs-mb-3">
                  <span data-multi-input-text-area-target="value" class="bs-fs-6"><%= id %></span>
                  <%= hidden_field_tag "#{@name}[]", id %>
                  <button type="button" data-action="multi-input-text-area#remove" class="bs-btn bs-p-0 bs-ps-3 bs-d-flex bs-align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                  </button>
                </span>
              <% end %>
            <% end %>
          <% end %>
        </span>

        <!-- Text input for adding new IDs or URLs -->
        <%= text_field_tag '',
                           "",
                           placeholder: @placeholder,
                           data: { action: "keyup->multi-input-text-area#addTag keydown->multi-input-text-area#handleKeyDown",
                                   chrome_device_profile_target: @data },
                           class: "bs-fs-6 bs-ps-0 bs-border-0 bs-mx-1 bs-w-50",
                           onkeydown: "if(event.key === 'Enter') event.preventDefault();",
                           id: @id,
                           rows: @rows,
                           cols: @cols,
                           style: @style
        %>
      </div>
    </div>
  </div>
</div>