<!-- Merge all form elements into one and submit
    1. Installation options
    2. Selected Device Groups
    3. Selected Device Profiles
    4. Selected Device
    5. Rollout options -->
<% if content_body? %>
    <%= content_body %>
<% end %>
<%= form_with url: @form_url, method: :post, data: { publish_store_app_target: "mergedForm" }, html: { class: "bs-d-none" } do |form| %>
    <%= content_tag :div, data: { publish_store_app_target: "mergedFormElement" } do %>
    <% end %>
<% end %>
<%= sf "BsTab", title: "published_data", content_classes: "bs-mt-4 bs-px-0 bs-py-0 bs-border-0", action: "publish-store-app#toggleInstallationModeOptions" do |c| %>
    <% allowed_tabs.each do |d| %>
        <% if ((app.is_a?(StoreApp) && !@enable_group_based_publish) || app.is_a?(Emm::Android::GooglePlayApp))&& d == t('common.groups') %>
            <% d = t('common.groups') %>
        <% end %>
        <% c.with_tab do %>
            <%= d %>
        <% end %>
    <% end %>
    <% if @groups_allowed %>
        <% c.with_panel do %>
            <%= form_with url: @form_url, method: @method, data: { publish_store_app_target: "deviceGroupsForm" } do |form| %>
                <% if groups_form? %>
                    <%= groups_form %>
                <% end %>
                <% if !bulk_threshold %>
                    <%= sf "DeviceNGroupSelector::" ,
                        partial_path: "v3/device_groups/move_device_group",
                        parent_groups: (Array(@device_groups).concat(Array(@user_groups))),
                        device_groups: @device_groups,
                        user_groups: @user_groups,
                        group_device_counts: @group_device_counts || Hash.new(0),
                        group_user_counts: @group_user_counts || Hash.new(0),
                        enable_group_based_publish: @enable_group_based_publish,
                        show_publish_version: @show_publish_version, 
                        show_selected_group: @show_selected_group,
                        selected_group: @selected_group_ids,
                        disabled_selected: false,
                        toggle_all: true,
                        name: @device_group_name,
                        show_selected_count: @show_selected_count,
                        show_badge_chip: @show_badge_chip,
                        app_type: @app_type,
                        is_unpublish_group: @is_unpublish_group,
                        show_installation_mode_group: @show_installation_mode_group,
                        existing_groups_info: @existing_groups_info,
                        existing_user_groups_info: @existing_user_groups_info,
                        show_profile_version: @show_profile_version,
                        existing_profile_info: @existing_profile_info,
                        show_configuration_for_group: @show_configuration_for_group,
                        show_configuration_for_group_for_pfw: @show_configuration_for_group_for_pfw,
                        pfw_configuration_for_group: @pfw_configuration_for_group,
                        label: @group_header_text,
                        checkbox_actions: @checkbox_actions,
                        configuration_name_for_group_hash: @configuration_name_for_group_hash %>

                        <%# change show_publish_version accordinlhy and have to send app type  columns are condition enable_group_based_publish%>
                <% else %>
                    <%= sf "DeviceGroupsList::",
                            name: 'device_group_ids[]',
                            select_multiple: true,
                            refresh_same_frame: true,
                            has_user_groups: @has_user_groups,
                            org_user_group_name: 'user_group_ids[]',
                            partial_path: "/v3/device_groups/search_accessible_groups",
                            action: "choose-groups:itemSelected->bulk-enrollment-form#subscribeChanges",
                            frame_id: "accessible_groups_list",
                            row_class: "bs-device-frame-item" do |d| %>
                            <% d.with_search_bar do %>
                                <%= group_search_form if group_search_form? %>
                            <% end %>
                    <% end %>
                <%end%>
            <% end %>
        <% end %>
    <% end %>
    <% if @profiles_allowed %>
        <%# change show_publish_version accordinlhy and have to send app type  columns are condition enable_group_based_publish%>

        <% c.with_panel do %>
            <%= form_with url: @form_url, method: @method, data: { publish_store_app_target: "profilesForm" } do |form| %>
                <% if profiles_form? %>
                    <%= profiles_form %>
                <% end %>
                <%= sf "DeviceProfilesList",
                    device_profiles: @profiles,
                    show_publish_version: @show_publish_version,
                    name: "profile_ids[]",
                    show_selected_array: @show_selected_array,
                    label_name: t("common.profile_name"),
                    selected: @selected_profile_ids,
                    enable_group_based_publish: @enable_group_based_publish,
                    show_associated_group: @show_associated_group,
                    app_type: @app_type,
                    existing_groups_info: @existing_groups_info,
                    published_agent_info: @published_agent_info,
                    published_agent_info_show: @published_agent_info_show,
                    script_agent_show: @script_agent_show,
                    show_installation_mode: @show_installation_mode,
                    compatible_device_rc: @compatible_device_rc do |a| %>
                    <% a.with_table_header do%>
                      
                        <div class="bs-border bs-rounded">
                            <div class="bs-row bs-align-items-start bs-mt-3 bs-border-bottom bs-g-0 bs-shadow-sm">
                                <div class="<%= @show_publish_version ? "bs-col-4" : "bs-col-6" %>">
                                    <div class="bs-form-check bs-ps-5">
                                        <input class="bs-form-check-input" data-action="checkbox#toggleAll" data-checkbox-target="selectAll"  type="checkbox" id="device-profiles-select-all" <% if disabled %> disabled <% end %>>
                                        <label class="bs-form-check-label bs-fw-normal bs-text-body" for="device-profiles-select-all">
                                            <%= @label_name.present? ? @label_name :  I18n.t('common.device_profiles') %>
                                        </label>
                                    </div>
                                </div>
                                <% if @enable_group_based_publish && !@published_agent_info_show %>
                                    <% if @show_device_count_label %>
                                        <div class="<%= @show_publish_version ? "bs-col-4" : "bs-col-6" %> bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><%= t('common.device_count') %></div>
                                    <% end %>
                                <% elsif !@published_agent_info_show %>
                                    <% if @show_device_group_label %>
                                        <div class="<%= @show_publish_version ? "bs-col-4" : "bs-col-6" %> bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><%= t('common.applied_in_groups') %></div>
                                    <% end %>
                                <% end %>
                                
                                <% if @show_installation_mode %>
                                    <div class="bs-col-2 bs-form-check-label bs-fw-normal bs-text-body bs-text-center"><%= t('v2.profiles.installation_mode') %></div>
                                <% end %>

                                <% if @compatible_device_rc %>
                                    <div class="bs-col-2 bs-form-check-label bs-fw-normal bs-text-body bs-text-center"><%= t('common.compatible_devices') %></div>
                                <% end %>

                                <% if @show_publish_version%>
                                    <div class="<%= @show_publish_version ? "bs-col-2" : "bs-col-4" %> bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><%= t('enterpriseStore.published_version') %></div>
                                <% end%>
                                
                                <% if @published_agent_info_show || @script_agent_show%>
                                    <div class="<%=  "bs-col" %> bs-text-center bs-form-check-label bs-fw-normal bs-text-body"><%= @publish_agent_info_text %></div>
                                <% end%>

                            </div>
                        </div>
                        
                    <% end %>

                    <% a.with_selected_device_profile do %>
                         <%= render partial: @profile_partial_path, 
                            collection: @profiles, 
                            as: :device_profile, 
                            locals: { 
                                name: "profile_ids[]", 
                                show_publish_version: @show_publish_version,
                                enable_group_based_publish: @enable_group_based_publish,
                                show_installation_mode: @show_installation_mode,
                                existing_groups_info: @existing_groups_info,
                                published_agent_info: @published_agent_info,
                                published_agent_info_show: @published_agent_info_show,
                                script_agent_show: @script_agent_show,
                                show_associated_group: @show_associated_group,
                                compatible_device_rc: @compatible_device_rc,
                                params: { 
                                    selected: @selected_profile_ids.map(&:to_s), 
                                    disabled_selected: false, 
                                    disabled_profile_ids: @disabled_profile_ids.map(&:to_i), 
                                    title: @title 
                                } 
                            } %>
                                                
                    <% end%>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    <% if @devices_allowed %>
        <% c.with_panel do %>
            <%= form_with url: @form_url, method: @method, data: { publish_store_app_target: "devicesForm" } do |form| %>
                <% if devices_form? %>
                    <%= devices_form %>
                <% end %>
                <%= sf "DeviceGroupsList::",
                    selected: [],
                    id: "output-devices-search",
                    name: "device_ids[]",
                    org_user_group_name: "org_user_group_name_attr",
                    partial_path: @device_list_partial_path,
                    select_multiple: true,
                    search_param_name: "q",
                    per_page_param_name: "device_group_page",
                    frame_id: @device_list_frame_id,
                    items: [],
                    row_class: "bs-device-frame-item",
                    show_devices: true,
                    app_show_devices_label: true,
                    show_version_label: @show_version_label,
                    paginate_url: @devices_list_url do |d| %>
                    <% d.with_search_bar do %>
                        <%= devices_search_form if devices_search_form? %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
