<% checked = @selected.present? && @selected.include?(device.id.to_s) %>
<%= turbo_frame_tag dom_id(device), class: "bs-device-frame-item" do %>
    <div class="bs-row bs-align-items-center bs-checkbox-row bs-border-bottom bs-g-0">
        <div class="bs-col-5 bs-mt-3">
            <div class="bs-form-check bs-ps-5 <%= "bs-ui-disabled" if ui_disabled || @disabled %>">
                    <%= check_box_tag "",
                        device.id,
                        checked,
                        name: @name,
                        id: "device-#{device.id}", 
                        class: "bs-form-check-input #{ ui_disabled || @disabled ? "bs-ui-disabled" : ""}",
                        data: custom_data
                    %>
                <label for="device-<%= device.id %>" class="bs-form-check-label bs-mb-2 bs-text-body bs-text-truncate" title="<%= device&.name %>"> <%= device.name? ? device.name : I18n.t("common.na") %> </label>
            </div>
        </div>
        <div class="bs-col-3 bs-text-truncate" title="<%= device&.model || I18n.t("common.na") %>">
            <%= device&.model || I18n.t("common.na") %>
        </div>
        <% info = device_info %>
        <% if info.present? %> 
            <div class="bs-col-4 bs-text-truncate" title="<%= info[:value].present? ? info[:value] == "" ? I18n.t("common.na") :  info[:value] || I18n.t("common.na") : I18n.t("common.na") %>">
            <% if info[:value].present? %>
                    <% if info[:value] == "" %>
                        <%= I18n.t("common.na") %>
                    <% else %>
                        <%= info[:value] || I18n.t("common.na") %>
                    <% end %>
                <% else %>
                    <%= I18n.t("common.na") %>
                <% end %>    
            </div>
        <% end %>    
    </div>
<% end %>